@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    string currentUrl = Context.Request.Path.Value.ToUpper();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PHẦN MỀM CRM SAILFISH</title>
    @*<link rel="icon" href="/Assets/SA/images/icon/fav_icon.png" type="image/png">*@
    <link rel="stylesheet" type="text/css" href="/Assets/SA2/css/tool.min.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/SA2/css/main.min.css" />
    @RenderSection("Styles", required: false)
    <link href="~/css/update.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
</head>

<body class="index">
    <div class="loading-wrapper" style="display: none;">
        <div id="loading">
            <div id="loading-dot"></div>
            <div id="loading-dot"></div>
            <div id="loading-dot"></div>
        </div>
    </div>

    <div class="main-web">
        <div class="main-left">
            <!-- <img src="/Assets/SA/images/layout/pattern.png" alt="" /> -->
            <div class="logo">
                <a href="#" class="link"><img src="/Assets/SA/images/layout/logo.png" alt="" /></a>
                <span class="show__menu"><i class="fas fa-bars"></i></span>
            </div>
            <div class="menu">
                <span class="close__menu"><i class="fas fa-times"></i></span>
                <ul class="menu-list">
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/TELE/EXPECTEDINVESTOR") ? "active" : "")" asp-area="Tele" asp-controller="ExpectedInvestor" asp-action="Index">
                            <div class="img">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/Tra cứu bàn giao.svg" alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/Tra cứu bàn giao-1.svg" alt="" class="icon__hover" />
                            </div>
                            Danh sách KH dự kiến
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/TELE/CALLMANAGEMENTS") ? "active" : "")" asp-area="Tele" asp-controller="CallManagements" asp-action="Index">
                            <div class="img">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/Danh sach Show up.svg" alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/Danh sach Show up (1).svg" alt="" class="icon__hover" />
                            </div>
                            QL cuộc gọi
                        </a>
                    </li>
                </ul>
                <div class="right">
                    <img src="/Assets/SA/images/layout/right.png" alt="" />
                    <span>© 2021 - Bản quyền thuộc về Công ty CP Bytesoft Việt Nam</span>
                </div>
            </div>
        </div>
        <div class="main-right">
            <div id="header">
                <div class="header_left">
                    <img src="/Assets/SA/images/layout/bars.svg" alt="" class="bars" />
                    <span>PHẦN MỀM CRM SAILFISH</span>
                </div>
                <div class="header_right">
                    @*<span style="color: #17ca89; padding-right: 20px;">
                        <span>CP: </span>
                        <b>@HttpContextAccessor.HttpContext.Session.GetInt32(CRMSite.Common.SiteConst.SessionKey.OWN_SHARE)</b>
                    </span>*@
                    <a href="/Home/Logout">
                        <img title="Đăng xuất" src="/Assets/crm/images/log out.svg" alt="" />
                    </a>
                    @*<img src="/Assets/SA/images/layout/search.svg" alt="" />
                    <img src="/Assets/SA/images/layout/notifications.svg" alt="" />*@
                    <img src="/Assets/SA/images/layout/avt.png" alt="" />
                    <img src="/Assets/SA/images/layout/dots.svg" alt="" />
                </div>
            </div>
            <div id="main">
                <div class="main-content">
                    @RenderBody()
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Assets/SA2/js/tool.min.js"></script>
    <script src="/Assets/SA/js/main.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/pagination.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.select_status').select2();
            $('.select_modal2').select2();
        });

        function openModal(id) {
            var ID = $(`#${id}`)[0];
            $(ID).addClass("show-modal");
            $(ID).find(".content-modal").addClass("show-modal");
            $("body").addClass("active-modal");
        }

        function closeModal(id) {
            var ID = $(`#${id}`)[0];
            setTimeout(function () {
                $(".bs-modal").removeClass("show-modal");
                $("body").removeClass("active-modal");
            }, 500);
            $(ID).parents(".bs-modal").find(".content-modal").removeClass("show-modal");
        }

    </script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
