@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    string currentUrl = Context.Request.Path.Value.ToUpper();
    List<string> categories = new List<string>
{
        //khanhkk
        "/ADMIN/TYPECALL",
        "/ADMIN/WHERETOFINDINVESTOR",
        "/ADMIN/TYPECONTRACT",
        "/ADMIN/LEVELCONCERN",
        "/ADMIN/SENIORITY",

        //hungvx
        "/PRODUCTS",
        "/INVESTORS",
        "/ALLOWANCEORDEDUCTS",
    };
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PHẦN MỀM CRM SAILFISH</title>
    @*<link rel="icon" href="/Assets/crm/images/icon/fav_icon.png" type="image/png">*@
    <link rel="stylesheet" type="text/css" href="/Assets/crm/css/tool.min.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/crm/css/main.min.css" />
    <link href="~/Assets/crm/css/upgrade.min.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/update.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body class="index">
    <div class="loading-wrapper" style="display: none;">
        <div id="loading">
            <div id="loading-dot"></div>
            <div id="loading-dot"></div>
            <div id="loading-dot"></div>
        </div>
    </div>

    <div class="main-web">
        <div class="main-left">
            <div class="logo">
                <a href="#" class="link"><img src="/Assets/crm/images/layout/logo.png" alt="" /></a>
                <span class="show__menu"><i class="fas fa-bars"></i></span>
            </div>
            <div class="menu">
                <span class="close__menu"><i class="fas fa-times"></i></span>
                <div class="menu-list">
                    <li class="menu-list__item">
                        <a href="/Admin/Accounts/Index" class="menu-list__link @(currentUrl.Contains("/ADMIN/ACCOUNTS") ? "active" : "")">
                            <div class="img">
                                <img src="/Assets/crm/images/layout/statistic.svg"
                                     alt=""
                                     class="icon__cover" />
                                <img src="/Assets/crm/images/layout/statistic-active.svg"
                                     alt=""
                                     class="icon__hover" />
                            </div>
                            Quản lý người dùng
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="/Admin/Categories/Index" class="menu-list__link @(currentUrl.Contains("/ADMIN/CATEGORIES") ? "active" : "")">
                            <div class="img">
                                <img src="/Assets/crm/images/layout/statistic.svg"
                                     alt=""
                                     class="icon__cover" />
                                <img src="/Assets/crm/images/layout/statistic-active.svg"
                                     alt=""
                                     class="icon__hover" />
                            </div>
                            Quản lý danh mục
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="/Admin/Book/Index" class="menu-list__link @(currentUrl.Contains("/ADMIN/BOOK/") ? "active" : "")">
                            <div class="img">
                                <img src="/Assets/crm/images/layout/statistic.svg"
                                     alt=""
                                     class="icon__cover" />
                                <img src="/Assets/crm/images/layout/statistic-active.svg"
                                     alt=""
                                     class="icon__hover" />
                            </div>
                            Quản lý truyện
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="/Admin/BookChapter/Index" class="menu-list__link @(currentUrl.Contains("/ADMIN/BOOKCHAPTER/") ? "active" : "")">
                            <div class="img">
                                <img src="/Assets/crm/images/layout/statistic.svg"
                                     alt=""
                                     class="icon__cover" />
                                <img src="/Assets/crm/images/layout/statistic-active.svg"
                                     alt=""
                                     class="icon__hover" />
                            </div>
                            Quản lý Chapter
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/ADMIN/BOOKIMAGE/") ? "active" : "")" href="/Admin/BookImage/Index">
                            <div class="img">
                                <img src="/Assets/crm/images/layout/statistic.svg" alt="" class="icon__cover" />
                                <img src="/Assets/crm/images/layout/statistic-active.svg"
                                     alt=""
                                     class="icon__hover" />
                            </div>
                            Quản lý Banner
                        </a>
                    </li>
                    @*<li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/ADMIN/SALEREVENUESTATISTICS") ? "active" : "")" href="/Admin/SaleRevenueStatistics/Index">
                            <div class="img">
                                <img src="/Assets/crm/images/layout/statistic.svg" alt="" class="icon__cover" />
                                <img src="/Assets/crm/images/layout/statistic-active.svg"
                                     alt=""
                                     class="icon__hover" />
                            </div>
                            Quản lý banner
                        </a>
                    </li>                  

                </div>
                <div class="right" style="margin-top:" 300px">
                    <img src='/Assets/crm/images/layout/right.png' alt="" />
                    <span>© 2021 - Bản quyền thuộc về Thư viên online</span>
                </div>
            </div>
        </div>

        <div class="main-right">
            <div id="header">
                <div class="header_left">
                    <img src="/Assets/crm/images/layout/bars.svg" alt="" />
                    <span>PHẦN MỀM CRM SAILFISH</span>
                </div>
                <div class="header_right">
                    <a href="/Home/Logout" onclick="window.history.forward();">
                        <img title="Đăng xuất" src="/Assets/crm/images/log out.svg" alt="" />
                    </a>
                    @*<img src="/Assets/crm/images/layout/search.svg" alt="" />
                        <img src="/Assets/crm/images/layout/notifications.svg" alt="" />*@
                    <img src="/Assets/crm/images/layout/avt.png" alt="" />
                    <img src="/Assets/crm/images/layout/dots.svg" alt="" />
                </div>
            </div>

            <div id="main">
                <div class="main-content">
                    @RenderBody()
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="/Assets/crm/js/tool.min.js"></script>
    <script src="/Assets/crm/js/main.min.js"></script>
    <script src="~/js/pagination.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>