@using CRMBussiness.ViewModel
@model AccountViewModel

<div class="header-modal">
    <h3 class="modal__title">Chỉnh sửa thông tin nhân sự</h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/crm/images/employee-manage/close-modal.svg"
             alt="" />
    </span>
</div>

<form id="form-model-edit">
    <div class="body-modal add-employee_body-modal">
        <input hidden value="@Model.AccountID" name="AccountID" />
        <input hidden value="@Model.isEnable" class="isEnable-hidden" />

        @Html.AntiForgeryToken()
        <!-- row 1 -->
        <div class="bs-row">
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Họ và tên</label>
                    <input value="@Model.AccountFullName" placeholder="Nhập họ và tên" name="AccountFullName" />
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Tài khoản</label>
                    <input value="@Model.AccountName" placeholder="Nhập tài khoản" name="AccountName" />
                </div>
            </div>
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Mật khẩu</label>
                    <input type="password" placeholder="Nhập mật khẩu" name="AccountPassword" />
                </div>
            </div>
        </div>
        <div class="bs-row">
            <div class="modal-item">
                <label>Đang hoạt động</label>
                <input type="checkbox" name="isEnable" />
            </div>
        </div>
    </div>

</form>

<div class="footer-modal">
    <button 
            class="close__btn btn-green btn-edit-account"
            type="button">
        Update
    </button>
    <button modal-show="close"
            class="close__btn btn-gray"
            type="button">
        Hủy bỏ
    </button>
</div>