@{
    Layout = null;
}
@using CRMBussiness.ViewModel
@model RankingSaleViewModel
@{
    SaleTop10 st01_day = Model.LstSaleTop10ByDay.Count > 0 ? Model.LstSaleTop10ByDay[0] : new SaleTop10();
    SaleTop10 st02_day = Model.LstSaleTop10ByDay.Count > 1 ? Model.LstSaleTop10ByDay[1] : new SaleTop10();
    SaleTop10 st03_day = Model.LstSaleTop10ByDay.Count > 2 ? Model.LstSaleTop10ByDay[2] : new SaleTop10();

    SaleTop10 st01_week = Model.LstSaleTop10ByWeek.Count > 0 ? Model.LstSaleTop10ByWeek[0] : new SaleTop10();
    SaleTop10 st02_week = Model.LstSaleTop10ByWeek.Count > 1 ? Model.LstSaleTop10ByWeek[1] : new SaleTop10();
    SaleTop10 st03_week = Model.LstSaleTop10ByWeek.Count > 2 ? Model.LstSaleTop10ByWeek[2] : new SaleTop10();

    SaleTop10 st01_month = Model.LstSaleTop10ByMonth.Count > 0 ? Model.LstSaleTop10ByMonth[0] : new SaleTop10();
    SaleTop10 st02_month = Model.LstSaleTop10ByMonth.Count > 1 ? Model.LstSaleTop10ByMonth[1] : new SaleTop10();
    SaleTop10 st03_month = Model.LstSaleTop10ByMonth.Count > 2 ? Model.LstSaleTop10ByMonth[2] : new SaleTop10();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>BYTESOFT</title>
    <link rel="icon" href="~/RankingSale/images/icon/fav_icon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="~/RankingSale/css/tool.min.css" />
    <link rel="stylesheet" type="text/css" href="~/RankingSale/css/main.min.css" />
    <link rel="stylesheet" type="text/css" href="~/RankingSale/css/upgrade.min.css" />

</head>
<body class="index">
    <div class="main-web">
        <div class="overlay"></div>
        <div class="main-right">
            <div id="header">
                <div class="bs-container header-container">
                    <div class="header-left">
                        <a href="/">
                            <img src="~/RankingSale/images/layout/logo.png"
                                 width="167"
                                 height="37"
                                 alt="logo"
                                 class="logo" />
                        </a>
                    </div>
                    <div class="header-right">
                        <div class="right-link active" data-aos="fade-down">
                            <a href="/bang-xep-hang">trang chủ</a>
                        </div>
                        <div class="right-link" data-aos="fade-down" data-aos-delay="100">
                            <a href="/bang-xep-hang">bảng xếp hạng</a>
                        </div>
                        <div class="right-link" data-aos="fade-down" data-aos-delay="200">
                            <a href="/bang-xep-hang/lich-su">lịch sử</a>
                        </div>
                    </div>

                    <img class="open-menu"
                         alt="open"
                         src="~/RankingSale/images/layout/bars.svg"
                         width="30"
                         height="30" />
                </div>

                <div class="menu-side">
                    <img class="close-menu"
                         alt="close"
                         src="~/RankingSale/images/layout/window-close.svg"
                         width="30"
                         height="30" />
                    <div class="right-link active">
                        <a href="/">trang chủ</a>
                    </div>
                    <div class="right-link">
                        <a href="/">bảng xếp hạng</a>
                    </div>
                    <div class="right-link">
                        <a href="/history.html">lịch sử</a>
                    </div>
                </div>
            </div>

            <img class="to-top" src="~/RankingSale/images/layout/caret-square-up.svg" alt="to top" width="40" height="40" />
            <div id="main">
                <div class="main-content">
                    <section class="section_index">
                        <!-- sale rank -->
                        <div class="module module-sale_rank">
                            <div class="grid">
                                <img src="~/RankingSale/images/index/grid.png" alt="grid" />
                            </div>
                            <div class="module-header" data-aos="fade-down">
                                <h2 class="header">bảng xếp hạng sale</h2>
                                <p class="sub-header">ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year</p>
                            </div>
                            <div class="module-content">
                                <div class="ranks">
                                    <!-- 2nd -->
                                    @if (Model.LstSaleTop10ByDay.Count > 0)
                                    {
                                        <div class="_2nd rank-item" data-aos="fade-right" data-aos-delay="500">
                                            <!-- avt -->
                                        <div class="avt" data-rank="2">
                                                <div class="avt-container">
                                                    <img src="~/Uploads/Files/@( string.IsNullOrEmpty(st02_day.Avatar) ? "no_photo_avatar.png" : st02_day.Avatar)" alt="avatar" />
                                                </div>

                                                <div class="honor">
                                                    <img src="~/RankingSale/images/index/honor_2nd.png" alt="honor" />
                                                </div>
                                            </div>
                                            <!-- detail -->
                                        <div class="info">
                                                <img src="~/RankingSale/images/index/detail-to_right.png" alt="info" />
                                                <div class="detail">
                                                    <p class="name">@st02_day.FullName</p>
                                                    <p class="address">@st02_day.DepartmentName</p>
                                                    <span class="rank">2nd</span>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                    <!-- 1st -->
                                    @if (Model.LstSaleTop10ByDay.Count > 0)
                                    {
                                        <div class="_1st rank-item" data-aos="zoom-in" data-aos-delay="200">
                                            <div class="avt" data-rank="1">
                                                <div class="avt-container">
                                                    <img src="~/Uploads/Files/@( string.IsNullOrEmpty(st01_day.Avatar) ? "no_photo_avatar.png" : st01_day.Avatar)" alt="avatar" />
                                                </div>
                                                <div class="honor">
                                                    <img src="~/RankingSale/images/index/honor_1st.png"
                                                     alt="honor"
                                                     width="273"
                                                     height="220" />
                                                </div>
                                                <div class="crown">
                                                    <img src="~/RankingSale/images/index/crown.png" alt="crowm" />
                                                </div>
                                            </div>
                                            <!-- detail -->
                                        <div class="info">
                                                <img src="~/RankingSale/images/index/detail-center.png" alt="info" />
                                                <div class="detail">
                                                    <p class="name">@st01_day.FullName</p>
                                                    <p class="address">@st01_day.DepartmentName</p>
                                                    <span class="rank">WINNER</span>
                                                </div>
                                            </div>

                                            <img src="~/RankingSale/images/index/vs.png"
                                             alt="vs"
                                             class="vs _1"
                                             width="50"
                                             height="24" />
                                            <img src="~/RankingSale/images/index/vs.png"
                                             alt="vs"
                                             class="vs _2"
                                             width="50"
                                             height="24" />
                                        </div>
                                    }

                                    <!-- 3rd -->
                                    @if (Model.LstSaleTop10ByDay.Count > 0)
                                    {
                                        <div class="_3rd rank-item" data-aos="fade-left" data-aos-delay="500">
                                            <div class="avt" data-rank="3">
                                                <div class="avt-container">
                                                    <img src="~/Uploads/Files/@( string.IsNullOrEmpty(st03_day.Avatar) ? "no_photo_avatar.png" : st03_day.Avatar)" alt="avatar" />
                                                </div>
                                                <div class="honor">
                                                    <img src="~/RankingSale/images/index/honor_2nd.png" alt="honor" />
                                                </div>
                                            </div>
                                            <!-- detail -->
                                        <div class="info">
                                                <img src="~/RankingSale/images/index/detail-to_left.png" alt="info" />
                                                <div class="detail">
                                                    <p class="name">@st03_day.FullName</p>
                                                    <p class="address">@st03_day.DepartmentName</p>
                                                    <span class="rank">3nd</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- week rank -->
                        <div class="module module-week_rank">
                            <div class="module-header" data-aos="fade-down">
                                <h3 class="header">Bảng xếp hạng tuần</h3>
                                <p class="sub-header">Tuần @Model.Week tháng @Model.Month năm 2021</p>
                            </div>
                            <div class="module-content">
                                <div class="ranks">
                                    @if (Model.LstSaleTop10ByWeek.Count > 0)
                                    {
                                        <!-- 2nd -->
                                        <div class="rank-item _2nd" data-aos="fade-right" data-aos-delay="200">
                                            <div class="avt" data-rank="2">
                                                <div class="avt-container">
                                                    <img src="~/Uploads/Files/@( string.IsNullOrEmpty(st02_week.Avatar) ? "no_photo_avatar.png" : st02_week.Avatar)" alt="avt" />
                                                    <div class="border-outer"></div>
                                                    <div class="border-inner"></div>
                                                </div>
                                            </div>
                                            <!-- detail -->
                                        <div class="info">
                                                <img src="~/RankingSale/images/index/detail-to_right.png" alt="info" />
                                                <div class="detail">
                                                    <p class="name">@st02_week.FullName</p>
                                                    <p class="address">@st02_week.DepartmentName</p>
                                                    <span class="rank">2nd</span>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                    <!-- 1st -->
                                    @if (Model.LstSaleTop10ByWeek.Count > 0)
                                    {
                                        <div class="rank-item _2nd _2nd_1st" data-aos="fade-right" data-aos-delay="100">
                                            <div class="avt" data-rank="1">
                                                <div class="avt-container">
                                                    <img src="~/Uploads/Files/@( string.IsNullOrEmpty(st01_week.Avatar) ? "no_photo_avatar.png" : st01_week.Avatar)" alt="avt" />
                                                </div>
                                            </div>
                                            <!-- detail -->
                                        <div class="info">
                                                <img src="~/RankingSale/images/index/detail-to_right.png" alt="info" />
                                                <div class="detail">
                                                    <p class="name">@st01_week.FullName</p>
                                                    <p class="address">@st01_week.DepartmentName</p>
                                                    <span class="rank">1st</span>
                                                </div>
                                            </div>
                                            <img src="~/RankingSale/images/index/vs-2.png"
                                             alt="vs"
                                             class="vs _1"
                                             width="88"
                                             height="50" />
                                            <img src="~/RankingSale/images/index/vs-2.png"
                                             alt="vs"
                                             class="vs _2"
                                             width="88"
                                             height="50" />
                                        </div>
                                    }

                                    <!-- 3rd -->
                                    @if (Model.LstSaleTop10ByWeek.Count > 0)
                                    {
                                        <div class="rank-item _2nd" data-aos="fade-right">
                                            <div class="avt" data-rank="3">
                                                <div class="avt-container">
                                                    <img src="~/Uploads/Files/@( string.IsNullOrEmpty(st03_week.Avatar) ? "no_photo_avatar.png" : st03_week.Avatar)" alt="avt" />
                                                </div>
                                            </div>
                                            <!-- detail -->
                                        <div class="info">
                                                <img src="~/RankingSale/images/index/detail-to_right.png" alt="info" />
                                                <div class="detail">
                                                    <p class="name">@st03_week.FullName</p>
                                                    <p class="address">@st03_week.DepartmentName</p>
                                                    <span class="rank">3rd</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- month rank -->
                        <div class="module module-month_rank" data-aos="fade-down">
                            <div class="grid">
                                <img src="~/RankingSale/images/index/grid-2.png" alt="grid" />
                            </div>

                            <div class="module-header">
                                <h3 class="header">bảng xếp hạng tháng</h3>
                                <p class="sub-header">tháng @Model.Month năm 2021</p>
                            </div>

                            <div class="module-content">
                                <div class="ranks">
                                    @if (Model.LstSaleTop10ByMonth.Count > 0)
                                    {
                                        <!-- 2nd -->
                                        <div class="rank-item _2nd" data-aos="fade-right" data-aos-delay="500">
                                            <!-- avt -->
                                        <div class="avt" data-rank="2">
                                                <div class="avt-container">
                                                    <img src="~/Uploads/Files/@( string.IsNullOrEmpty(st02_month.Avatar) ? "no_photo_avatar.png" : st02_month.Avatar)" alt="avt" />
                                                </div>
                                            </div>
                                            <!-- detail -->
                                        <div class="info">
                                                <img src="~/RankingSale/images/index/detail-to_right.png" alt="info" />
                                                <div class="detail">
                                                    <p class="name">@st02_month.FullName</p>
                                                    <p class="address">@st02_month.DepartmentName</p>
                                                    <span class="rank">2nd</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (Model.LstSaleTop10ByMonth.Count > 0)
                                    {
                                        <!-- 1st -->
                                        <div class="rank-item _1st" data-aos="zoom-in" data-aos-delay="200">
                                            <!-- avt -->
                                        <div class="avt" data-rank="1">
                                                <div class="avt-container">
                                                    <img src="~/Uploads/Files/@( string.IsNullOrEmpty(st01_month.Avatar) ? "no_photo_avatar.png" : st01_month.Avatar)" alt="avt" />
                                                </div>
                                            </div>
                                            <!-- detail -->
                                        <div class="info">
                                                <img src="~/RankingSale/images/index/detail-center.png" alt="info" />
                                                <div class="detail">
                                                    <p class="name">@st01_month.FullName</p>
                                                    <p class="address">@st01_month.DepartmentName</p>
                                                    <span class="rank">WINNER</span>
                                                </div>
                                            </div>
                                            <img src="~/RankingSale/images/index/vs-2.png"
                                             alt="vs"
                                             class="vs _1"
                                             width="88"
                                             height="50" />
                                            <img src="~/RankingSale/images/index/vs-2.png"
                                             alt="vs"
                                             class="vs _2"
                                             width="88"
                                             height="50" />
                                        </div>
                                    }


                                    @if (Model.LstSaleTop10ByMonth.Count > 0)
                                    {
                                        <!-- 3rd -->
                                        <div class="rank-item _3rd" data-aos="fade-left" data-aos-delay="500">
                                            <!-- avt -->
                                        <div class="avt" data-rank="3">
                                                <div class="avt-container">
                                                    <img src="~/Uploads/Files/@( string.IsNullOrEmpty(st03_month.Avatar) ? "no_photo_avatar.png" : st03_month.Avatar)" alt="avt" />
                                                </div>
                                            </div>
                                            <!-- detail -->
                                        <div class="info">
                                                <img src="~/RankingSale/images/index/detail-to_left.png" alt="info" />
                                                <div class="detail">
                                                    <p class="name">@st03_month.FullName</p>
                                                    <p class="address">@st03_month.DepartmentName</p>
                                                    <span class="rank">3rd</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                        <!-- modals -->
                        <div class="pop_up" id="pop_up-1st">
                            <div class="pop_up-content">
                                <img src="~/RankingSale/images/index/close-modal.svg"
                                     class="close-modal"
                                     alt="close"
                                     width="40"
                                     height="40" />
                                <div class="_1st">
                                    <div class="avt">
                                        <div class="avt-container">
                                            <img src="~/RankingSale/images/index/avatar.png" alt="avatar" />
                                        </div>
                                    </div>

                                    <div class="info">
                                        <img src="~/RankingSale/images/index/detail-center.png" alt="info" />
                                        <div class="detail">
                                            <p class="name">Nguyễn thị minh anh</p>
                                            <p class="address">Phòng Sale: 02</p>
                                            <span class="rank">WINNER</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="countdown">
                                    <span class="time hour">00</span>
                                    <span class="seperate">:</span>
                                    <span class="time minute">00</span>
                                    <span class="seperate">:</span>
                                    <span class="time second">00</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div id="footer">
                <!-- partners -->
                <div class="module-partners">
                    <div class="bs-slide partner-slide">

                        <div class="partner-item item">
                            <img src="~/RankingSale/images/layout/logo.png" alt="partner" />
                        </div>

                        <div class="partner-item item">
                            <img src="~/RankingSale/images/layout/logo.png" alt="partner" />
                        </div>

                        <div class="partner-item item">
                            <img src="~/RankingSale/images/layout/logo.png" alt="partner" />
                        </div>

                        <div class="partner-item item">
                            <img src="~/RankingSale/images/layout/logo.png" alt="partner" />
                        </div>

                        <div class="partner-item item">
                            <img src="~/RankingSale/images/layout/logo.png" alt="partner" />
                        </div>

                        <div class="partner-item item">
                            <img src="~/RankingSale/images/layout/logo.png" alt="partner" />
                        </div>

                    </div>
                </div>

                <!-- menu -->
                <div class="module-menu">
                    <div class="bs-container header-container">
                        <div class="header-left">
                            <img src="~/RankingSale/images/layout/logo.png"
                                 width="167"
                                 height="37"
                                 alt="logo"
                                 class="logo" />
                        </div>
                        <div class="header-right">
                            <div class="right-link" data-aos="fade-down">
                                <a href="/bang-xep-hang">trang chủ</a>
                            </div>
                            <div class="right-link" data-aos="fade-down" data-aos-delay="100">
                                <a href="/bang-xep-hang">bảng xếp hạng</a>
                            </div>
                            <div class="right-link" data-aos="fade-down" data-aos-delay="200">
                                <a href="/bang-xep-hang/lich-su">lịch sử</a>
                            </div>
                        </div>
                    </div>
                </div>
                <input hidden id="dateToarst" value="@Model.Timmer" />
                <!-- right -->
                <p class="right">
                    Copyright 2021 Lorem ipsum <span class="org">Bytesoft</span> amet,
                    consectetur.
                </p>
            </div>

        </div>
    </div>
    <!-- MODAL -->

    <script src="~/RankingSale/js/tool.min.js"></script>
    <script src="~/RankingSale/js/main.js"></script>
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/notifywiner.js"></script>
</body>
</html>
