@using CRMModel.Models
@model AllowanceOrDeduct
@{
    bool IsView = ViewBag.IsView;
    Dictionary<int, string> loais = (Dictionary<int, string>)ViewBag.loais;
    Dictionary<int, string> status = (Dictionary<int, string>)ViewBag.status;
    Dictionary<int, string> calculation = (Dictionary<int, string>)ViewBag.calculation;
    Dictionary<int, string> upOrDowns = (Dictionary<int, string>)ViewBag.upOrDown;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>
@if (IsView)
{
    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form form-horizontal", @id = "frmAdd", @autocomplete = "off" }))
    {
        <div class="modal-body">
            <div class="form-group">
                <div class="form-group col-md-12">
                    <label>Tên tiền phạt</label>
                    <input type="text" class="form-control" id="AllowanceName" value="@Model.AllowanceName" readonly>
                </div>
            </div>
         
            <div class="form-group">
                <div class="form-group col-md-12">
                    <label>Số tiền phạt</label>
                    <input type="text" class="form-control" id="AllowanceAmount" value="@Model.AllowanceAmount" readonly />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            @if (!IsView)
            {
                <button type="submit" class="btn btn-success" id="btnSubmit">Lưu lại</button>
            }
            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
    }

}
else
{
    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form form-horizontal", @id = "frmAdd", @autocomplete = "off" }))
    {
        <div class="modal-body">
            <div class="form-group">
                <div class="form-group col-md-12">
                    <label>Tên tiền phạt</label>
                    <input type="text" class="form-control" name="AllowanceName" id="AllowanceName" value="@Model.AllowanceName">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group col-md-12">
                    <label>Số tiền phạt</label>
                    <input type="text" class="form-control" name="AllowanceAmount" id="AllowanceAmount" value="@Model.AllowanceAmount" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            @if (!IsView)
            {
                <button type="submit" class="btn btn-success" id="btnSubmit">Lưu lại</button>
            }
            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
    }
}