@using CRMModel.Models
@model Investor
@{
    bool IsView = ViewBag.IsView;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">@ViewBag.Title</h4>
</div>
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form form-horizontal", @id = "frmAdd", @autocomplete = "off" }))
{
    <div class="modal-body">
        <div class="form-group">
            <div class="form-group">
                <div class=" form-group col-sm-3 col-xs-3 col-md-3">
                    @Html.LabelFor(m => m.Name)<span class="red">*</span>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class=" form-group col-sm-3 col-xs-3 col-md-3">
                    @Html.LabelFor(m => m.Email)
                    <input asp-for="@Model.Email" class="form-control" readonly />   
                </div>
                <div class=" form-group col-sm-3 col-xs-3 col-md-3">
                    @Html.LabelFor(m => m.Birthday)
                    <input asp-for="@Model.Birthday" class="form-control" readonly/>
                </div>
                <div class=" form-group col-sm-3 col-xs-3 col-md-3">
                    @Html.LabelFor(m => m.Address)
                    <input asp-for="@Model.Address" class="form-control" readonly/>
                </div>
                <div class=" form-group col-sm-3 col-xs-3 col-md-3">
                    @Html.LabelFor(m => m.PhoneNumber)
                    <input asp-for="@Model.PhoneNumber" class="form-control" readonly/>
                </div>
                <div class="form-group col-sm-4 col-xs-4 col-md-4">
                    @Html.LabelFor(m => m.IdCard)
                    <input asp-for="@Model.IdCard" class="form-control" readonly />
                </div>  
                <div class="form-group col-sm-4 col-xs-4 col-md-4">
                    @Html.LabelFor(m => m.AddressIssuance)
                    <input asp-for="@Model.AddressIssuance" class="form-control" readonly/>
                </div>
                <div class="form-group col-sm-4 col-xs-4 col-md-4">
                    @Html.LabelFor(m => m.DateOfIssuance)
                    <input asp-for="@Model.DateOfIssuance" class="form-control" readonly/>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        @if (!IsView)
        {
            <button type="submit" class="btn btn-success" id="btnSubmit">Lưu lại</button>
        }
        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
    </div>
}
