@model CRMSite.Models.Pagination<CRMBussiness.ViewModel.DisplayPersonalTableViewModel>
@using System.Threading.Tasks

<table>
    <tr>
        <th>
            <div class="custom-checkbox check_all">
                <input type="checkbox" />
                <span class="checkmark"></span>
            </div>
        </th>
        <th>ID</th>
        <th>Tên tài khoản</th>
        <th>Họ và tên</th>
        <th>Số điện thoại</th>
        <th>Chức vụ</th>
        <th>Team</th>
        <th>Phòng</th>
        <th>Trạng thái</th>
    </tr>
    @if (Model != null && Model.Items.Count > 0)
    {
        foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <div class="custom-checkbox">
                        <input type="checkbox" data-id="@item.Id" />
                        <span class="checkmark"></span>
                    </div>
                </td>
                <td>
                    <button type="button" class="view-info" data-id="@item.Id"
                            @*modal-show="show"
                            modal-data="#detail-employee_modal"*@>
                        @item.CodeStaff
                    </button>
                </td>
                <td>@item.UserName</td>
                <td>@item.FullName</td>
                <td>@item.Phone</td>
                <td>@item.PositionName</td>
                <td>@item.TeamName</td>
                <td>@item.DepartmentName</td>
                <td>
                    <span class="status @(item.Status == 1 ? "working": "quit")">@(item.Status == 1 ? "Đang làm việc" : "Đã thôi việc")</span>
        
                </td>
    
            </tr>
        }
    }
</table>

@(await Component.InvokeAsync("Pager", Model))