@model CRMBussiness.ViewModel.PersonalInfoViewModel

<div class="header-modal">
    <h3 class="modal__title">Xem thông tin nhân sự</h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/crm/images/employee-manage/close-modal.svg"
             alt="" />
    </span>
</div>
<form id="form-model-edit" enctype="multipart/form-data">
    <div class="body-modal add-employee_body-modal">
        <!-- row 1 -->
        <div class="bs-row">
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Họ và tên</label>
                    <input hidden value="@Model.Id" name="Id" />
                    <input hidden value="@Model.IdConstracStaff" name="IdConstracStaff" />
                    <input hidden value="@Model.CodeStaff" name="CodeStaff" />
                    @Html.EditorFor(model => model.FullName, new { })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Giới tính</label>
                    @Html.DropDownListFor(model => model.Gender,
                         new List<SelectListItem>
                         {
                                            new SelectListItem {Value = "true", Text="Nam"},
                                            new SelectListItem {Value = "false", Text="Nữ"},
                                            new SelectListItem {Value = "null", Text="Khác"},

                         }, new { @class = "select2" }
                       )
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Ngày sinh</label>
                    <div class="date-select">
                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "search__input form_datetime" } })
                        <img src="/Assets/crm/images/layout/date.svg" alt="" />
                    </div>
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Nơi sinh</label>
                    @Html.EditorFor(model => model.BirthPlace, new { })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Quốc gia</label>
                    @Html.EditorFor(model => model.Nationality, new { })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Tôn giáo</label>
                    @Html.EditorFor(model => model.Religion, new { })
                </div>
            </div>
        </div>
        <!-- row 2 -->
        <div class="bs-row">
            <div class="bs-col">
                <div class="modal-item">
                    <label for="">Địa chỉ hiện tại</label>
                    @Html.EditorFor(model => model.CurrentAddress, new { })
                </div>
            </div>
        </div>
        <!-- row 3 -->
        <div class="bs-row">
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Số CMND/CCCD</label>
                    @Html.EditorFor(model => model.IdCard, new { })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Ngày cấp CMND/CCCD</label>
                    <div class="date-select">
                        @Html.EditorFor(model => model.IdCardIssuedDate, new { htmlAttributes = new { @class = "search__input form_datetime" } })
                        <img src="/Assets/crm/images/layout/date.svg" alt="" />
                    </div>
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Nơi cấp CMND/CCCD </label>
                    @Html.EditorFor(model => model.IdCardIssuedPlace, new { })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Số điện thoại</label>
                    @Html.EditorFor(model => model.Phone, new { })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Email công ty</label>
                    @Html.EditorFor(model => model.Email, new { })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Tài khoản</label>
                    @Html.EditorFor(model => model.UserName, new { })
                </div>
            </div>
        </div>
        <!-- row 4 -->
        <div class="bs-row">
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Mật khẩu</label>
                    @Html.PasswordFor(model => model.Pass, new { })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Ngày bắt đầu thử việc</label>
                    <div class="date-select">
                        @Html.EditorFor(model => model.StartDateOfProbation, new { htmlAttributes = new { @class = "search__input form_datetime" } })
                        <img src="/Assets/crm/images/layout/date.svg" alt="" />
                    </div>
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Ngày bắt đầu chính thức</label>
                    <div class="date-select">
                        @Html.EditorFor(model => model.StartDateOffical, new { htmlAttributes = new { @class = "search__input form_datetime" } })
                        <img src="/Assets/crm/images/layout/date.svg" alt="" />
                    </div>
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Ngày nghỉ việc</label>
                    <div class="date-select">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "search__input form_datetime" } })
                        <img src="/Assets/crm/images/layout/date.svg" alt="" />
                    </div>
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <input type="hidden" class="hidden-branch" value="@Model.BranchCode" />
                    <label>Chi nhánh</label>
                    @Html.DropDownListFor(model => model.BranchCode,
                        new List<SelectListItem>
                            {
                            new SelectListItem {Value = "", Text="Chi nhánh"},

                            }, new { @class = "select2 select-branch" }
                        )
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <input type="hidden" class="hidden-office" value="@Model.OfficeCode" />
                    <label>Khối</label>
                    @Html.DropDownListFor(model => model.OfficeCode,
                        new List<SelectListItem>
                            {
                            new SelectListItem {Value = "", Text="Khối"},

                            }, new { @class = "select2 select-office" }
                        )
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <input type="hidden" class="hidden-dept" value="@Model.DepartmentCode" />
                    <label>Phòng</label>
                    @Html.DropDownListFor(model => model.DepartmentCode,
                         new List<SelectListItem>
                            {
                            new SelectListItem {Value = "", Text="Phòng"},

                            }, new { @class = "select2 select-dept" }
                        )
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <input type="hidden" class="hidden-team" value="@Model.TeamCode" />
                    <label>Nhóm</label>
                    @Html.DropDownListFor(model => model.TeamCode,
                         new List<SelectListItem>
                            {
                            new SelectListItem {Value = "", Text="Nhóm"},

                            }, new { @class = "select2 select-team" }
                        )
                </div>
            </div>
            <!-- modal item -->
            @*<div class="bs-col md-33">
                    <div class="modal-item">
                        <label>Lương cơ bản</label>
                        @Html.EditorFor(model => model.SalaryAmountBasic, new { @type = "number" })
                    </div>
                </div>*@
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <input type="hidden" class="hidden-role" value="@Model.Role" />
                    <label>Chức vụ</label>
                    @Html.DropDownListFor(model => model.PositionCode,
                         new List<SelectListItem>
                            {
                            new SelectListItem {Value = "", Text="Chức vụ"},

                            }, new { @class = "select2 select-role" }
                        )
                </div>
            </div>
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Avatar</label>
                    <input id="myFileEdit" type="file" Class="form-control" />
                </div>
                <div id="divImageMediaPreviewEdit">
                    @if (!string.IsNullOrEmpty(@Model.Avatar))
                    {
                        <img width="70" height="70" src="~/Uploads/Files/@Model.Avatar" />
                    }
                    else
                    {
                        <img  />
                    }
                </div>
                @*<img id="divImageMediaPreviewEdit" width="70" height="70" src="~/Uploads/Files/@Model.Avatar" />*@
            </div>
            <input hidden id="myFileNameEdit" name="Avatar" type="text" />
        </div>

        <div class="footer-modal" id="view-edit">
            <button @*modal-show="close"
                    class="close__btn btn-green"*@
                    id="btn-update-person"
                    type="button">
                Cập nhật
            </button>
            <button modal-show="close"
                    class="close__btn btn-gray close__btn_update"
                    type="button">
                Hủy bỏ
            </button>
        </div>
    </div>
</form>