@{
    Layout = null;
}
@using CRMBussiness.ViewModel
@model ContractInvestorPrintViewModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Title </title>
    <style>
        #print {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>

    @*<button type="button" onClick="print()">In</button>
        <button type="button" onClick="Export2Doc('print', 'hợp đồng QLDM')">Tải về</button>*@
    <div id="print">
        <style>
            @@media print {

                html,
                body {
                    height: 99%;
                    page-break-after: avoid !important;
                    page-break-before: avoid !important;
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

                ul li {
                    position: relative;
                    padding-left: 15px
                }

                    ul li:after {
                        content: "-";
                        position: absolute;
                        top: -2px;
                        left: 0
                    }

            table {
                page-break-inside: auto;
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto
            }

            ul li.english:after {
                display: none;
            }

            ul.circle li {
                padding-left: 0;
            }

                ul.circle li:after {
                    display: none;
                }

            .hidden {
                opacity: 0;
            }

            ol {
                padding-left: 15px;
            }

            .content {
                padding-left: 30px;
            }

            p,
            table,
            span,
            strong,
            em,
            li,
            h1,
            h2,
            h6 {
                color: #000;
                letter-spacing: unset;
                margin-bottom: 7px;
                margin-top: 0;
                line-height: 20px;
                text-align: justify;
            }

            .bold {
                font-weight: bold;
            }

            table {
                page-break-inside: auto;
                width: 100%;
                border-collapse: collapse;
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto
            }

            table p {
                margin: 0;
            }

            #page-container div {
                font-family: 'Times New Roman 1';
            }

            h6 {
                margin-top: 10px
            }

            .italic {
                font-style: italic
            }

            .underline {
                text-decoration: underline;
            }


            .content {
                padding-left: 20px;
            }

            .style_border {
                display: block;
                position: absolute !important;
                height: 4px;
                background: #000;
                width: 100%;
                bottom: -9px;
                text-shadow: unset;
                opacity: 1;
            }
        </style>
        <table border="0" cellspacing="0" cellpadding="0" style="text-align: center">
            <tbody>
                <tr>
                    <td valign="top" style="text-align: center">
                        <p style="text-align: center"><strong>CÔNG TY CỔ PHẦN</strong></p>

                        <p style="text-align: center"><strong>QUẢN LÝ QUỸ AMBER</strong></p>


                    </td>
                    <td valign="top" style="text-align: center">
                        <p style="text-align: center"><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></p>

                        <p style="text-align: center"><strong>Độc lập – Tự do – Hạnh phúc</strong></p>

                    </td>
                </tr>

                <tr>
                    <td valign="top" style="text-align: center">
                        <hr style="width: 150px; border-bottom: 1px solid #000; background: transparent;" />
                        <p style="text-align: center"><em>Số: @Model.CodeManagementCatalog</em></p>

                    </td>
                    <td valign="top" style="text-align: center">  <hr style="width: 200px; border-bottom: 1px solid #000; background: transparent;" /> </td>
                </tr>

            </tbody>
        </table>
        <p>&nbsp;</p>
        <p style="text-align: center; font-size:21px;margin-top: 16pt"><strong style="text-align: center; font-size:21px;">HỢP ĐỒNG QUẢN LÝ DANH MỤC ĐẦU TƯ </strong></p>
        <p>&nbsp;</p>

        <p>- <em>Căn cứ Luật Doanh nghiệp số 59/2020/QH14 ngày 17/06/2020;</em></p>

        <p>- <em>Căn cứ Luật chứng khoán số 54/2019/QH14 ngày 26/11/2019;</em></p>

        <p>- <em>Căn cứ Thông tư 99/2020/TT-BTC ngày 16/11/2020 hướng dẫn về hoạt động công ty quản lý quỹ và văn bản sửa đổi, bổ sung (nếu có);</em></p>

        <p>- <em>Căn cứ vào nhu cầu của các bên. </em></p>
        @{
            DateTime? today = Model.DatePaydone;
        }
        <p>Hôm nay, ngày @today?.Day.ToString() tháng @today?.Month.ToString() năm @today?.Year.ToString(), tại Hà Nội, chúng tôi gồm:</p>

        <p><strong><span class="underline">BÊN A</span>: [●]</strong></p>

        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="170px">
                        <p>Họ tên nhà đầu tư: </p>
                    </td>
                    <td valign="top">
                        <p><strong>@Model.Name.ToUpper()</strong></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Địa chỉ: </p>
                    </td>
                    <td valign="top">
                        <p><strong>@Model.Address</strong></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Quốc tịch: </p>
                    </td>
                    <td valign="top">
                        <p><strong>Việt Nam</strong></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Số CMND: </p>
                    </td>
                    <td valign="top">
                        <p><strong>@Model.IdCard</strong></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Nơi cấp: </p>
                    </td>
                    <td valign="top">
                        <p><strong>@Model.AddressIssuance</strong></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Ngày cấp: </p>
                    </td>
                    <td valign="top">
                        <p><strong>@Model.DateOfIssuance</strong></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Điện thoại: </p>
                    </td>
                    <td valign="top">
                        <p><strong>@Model.Phone</strong></p>
                    </td>
                </tr>

            </tbody>
        </table>

        <p><strong><em> (sau đây được gọi là Nhà đầu tư hay Bên A)</em></strong></p>

        <p><strong><span class="underline">BÊN B</span> : Công ty Cổ phần Quản lý Quỹ Amber</strong></p>

        <p>Giấy phép số: 39/UBCK-GP do Ủy ban Chứng khoán Nhà nước cấp ngày 08 tháng 10 năm 2008 và Giấy phép điều chỉnh thành lập và hoạt động công ty quản lý quỹ số 70/GPĐC-UBCK ngày 25 tháng 11 năm 2019</p>

        <p>Đại diện bởi: Ông/Bà Doãn Hồ Lan Chức vụ: Tổng giám đốc</p>

        <p>(Theo Giấy ủy quyền số 03/2019/GUQ ngày 02/12/2019 của Người đại diện theo pháp luật Công ty cổ phần Quản lý quỹ Amber) </p>

        <p>Địa chỉ: Tầng 9A, Tòa Leadvisors Place, số 41A Lý Thái Tổ, Hoàn Kiếm, Hà Nội</p>

        <p><strong><em> (sau đây được gọi là AFM hay Bên B)</em></strong></p>

        <p><strong><em>XÉT RẰNG:</em></strong></p>

        <p>- Bên A là cá nhân có đủ năng lực pháp luật, có hiểu biết về chứng khoán và thị trường chứng khoán, có khả năng và nhu cầu đầu tư và các loại cổ phiếu, trái phiếu và các giấy tờ có giá tại Việt Nam, mong muốn và chỉ định Bên B cung cấp dịch vụ Quản lý danh mục đầu tư chứng khoán theo yêu cầu của Bên A;</p>

        <p>- Bên B là một công ty quản lý quỹ hoạt động chuyên nghiệp trong lĩnh vực Quản lý quỹ và Quản lý danh mục đầu tư chứng khoán, có đầy đủ năng lực và sẵn sàng cung cấp cho Bên A dịch vụ Quản lý danh mục đầu tư chứng khoán theo yêu cầu của Bên A và theo quy định của pháp luật;</p>

        <p>Vì vậy, các Bên đã thỏa thuận ký kết Hợp đồng Quản lý danh mục đầu tư (sau đây gọi là “Hợp đồng”) với các điều khoản và điều kiện như sau:</p>

        <p><strong><span class="underline">Điều 1</span>: Giải thích từ ngữ</strong></p>

        <p>Trong Hợp đồng này, các từ hoặc cụm từ dưới đây sẽ được hiểu theo một nghĩa thống nhất như sau:</p>

        <p><strong>1.1 Quản Lý Danh Mục Đầu Tư: </strong>là việc quản lý theo ủy thác của từng nhà đầu tư trong việc mua, bán, nắm giữ chứng khoán và các tài sản khác; </p>

        <p><strong>1.2 Danh Mục Đầu Tư: </strong>là danh mục các loại tài sản bao gồm chứng khoán, dự án đầu tư và các loại tài sản đầu tư khác;</p>

        <p><strong>1.3 Vốn Ủy Thác: </strong>là khoản vốn do Bên A ủy thác cho Bên B để thực hiện các hoạt động Quản lý danh mục đầu tư. Vốn ủy thác có thể tồn tại dưới hình thức tiền mặt, chứng khoán hoặc các tài sản đầu tư khác.</p>

        <p><strong>1.4 Chiến Lược Đầu Tư:</strong> là các chính sách đầu tư quy định thể hiện mục tiêu đầu tư, hạn chế đầu tư, khả năng chấp nhận rủi ro và yêu cầu đầu tư của Bên A; Chiến lược đầu tư có thể được sửa đổi hoặc bổ sung vào từng thời điểm theo yêu cầu bằng văn bản của Bên A.</p>

        <p><strong>1.5 Chuyên viên:</strong> là người làm việc tại Bên B có kiến thức và kinh nghiệm thực hiện các nghiệp vụ Quản lý danh mục đầu tư;</p>

        <p><strong>1.6 Mức Độ Rủi Ro</strong>: là mức độ rủi ro mà Bên A có thể chấp nhận được quy định tại Chiến lược đầu tư;</p>

        <p><strong>1.7 Ngân Hàng Lưu Ký</strong>: là ngân hàng được Ủy ban chứng khoán nhà nước cấp phép, theo yêu cầu của Bên A hoặc do Bên B đề xuất và được Bên A chấp thuận và ủy quyền cho Bên B ký hợp đồng lưu ký theo Hợp đồng này;</p>

        <p><strong>1.8 Tài Khoản Lưu Ký:</strong> là tài khoản được mở tại Ngân hàng lưu ký để lưu ký Danh mục đầu tư ủy thác cho Bên B;</p>

        <p><strong>1.9 Thời Hạn Ủy Thác:</strong> là khoảng thời gian Bên B thực hiện quản lý số Vốn ủy thác do Bên A ủy thác theo thời hạn như quy định tại Điều 5 của Hợp đồng này hoặc đến khi hoàn trả Vốn ủy thác trước hạn cho Bên A</p>

        <p><strong>1.10 Ngày Giá Trị</strong>: là ngày bắt đầu thời hạn ủy thác mà Bên B sẽ thực hiện ủy thác Quản lý danh mục đầu tư cho Bên A như được quy định tại khoản 5.2 Điều 5 của Hợp đồng này;</p>

        <p><strong>1.11 Ngày Làm Việc</strong>: là tất cả các ngày dương lịch, trừ thứ bảy, chủ nhật và ngày lễ theo quy định của pháp luật về lao động;</p>

        <p><strong>1.12 Thời Hạn Hợp Đồng</strong>: là khoảng thời gian tính từ ngày ký Hợp đồng đến khi hai Bên ký Biên bản thanh lý hợp đồng này</p>

        <p><strong>1.13 Ngày Đánh Giá Danh Mục Đầu Tư:</strong> là ngày các bên thực hiện việc xác định giá trị tài sản Danh mục đầu tư. Ngày đánh giá danh mục đầu tư được xác định là một trong những ngày sau tùy sự kiện xảy ra tương ứng:</p>

        <div style="margin-left: 30px;">
            <p>- Là ngày Bên A chuyển vốn ủy thác bằng tiền vào tài khoản của Bên B hoặc ngày trên Biên bản định giá tài sản của hai bên đối với Vốn ủy thác bằng tài sản;</p>

            <p>- Ngày kết thúc thời hạn ủy thác theo quy định tại khoản 5.1, Điều 5 của Hợp đồng này;</p>

            <p>- Ngày làm việc cuối cùng hàng tháng;</p>

            <p>- Ngày hợp đồng bị chấm dứt trước hạn theo quy định tại Hợp đồng này;</p>
        </div>

        <p><strong>1.14 Phí Thưởng: </strong>là phí mà Bên B có thể được hưởng do hoạt động đầu tư ủy thác có hiệu quả do Bên A quyết định, ngoài mức Phí quản lý.</p>

        <p><strong>1.15 Ngày Rút Vốn: </strong>là ngày hai bên xác định chấm dứt thời hạn ủy thác được quy định trong Phụ lục rút vốn đính kèm Hợp đồng này.</p>

        <p><strong>1.16 Dịch vụ: </strong>Là nội dung công việc quy định tại Điều 2 của Hợp đồng này;</p>

        <p><strong><span class="underline">Điều 2</span>: Phạm vi cung cấp Dịch Vụ:</strong></p>

        <p>2.1 Bên A đồng ý chỉ định Bên B là đơn vị nhận vốn ủy thác của Bên A để cung cấp dịch vụ Quản lý danh mục đầu tư cho Bên A trong thời hạn ủy thác theo các điều kiện và điều khoản tại mục 2.2 của Hợp đồng này.</p>

        <p>2.2 Bên A chỉ định cho Bên B thực hiện hoạt động đầu tư tài sản với thông tin như sau:</p>

        <table border="1" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">Tên tổ chức phát hành</p>
                    </td>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px"><strong>Công ty Cổ phần Tập đoàn Sailfish</strong></p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">Loại cổ phần</p>
                    </td>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">Cổ phần phổ thông</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">Mệnh giá cổ phần</p>
                    </td>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">10.000đồng/cổ phần ( Mười nghìn đồng một cổ phần)</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">Số lượng cổ phần đặt mua</p>
                    </td>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">@String.Format("{0:#,0}", (decimal)Model.CountShare) (@Model.CountShareVN)</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">Giá đặt mua</p>
                    </td>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">50.000 đồng/cổ phần (Năm mươi nghìn đồng/cổ phần)</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">Tổng giá trị đặt mua cổ phần</p>
                    </td>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">@String.Format("{0:#,0}", Model.InvestmentAmount) đồng (<em>Bằng chữ: @Model.InvestmentAmountPrint đồng</em>)</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">Ngày thực hiện giao dịch</p>
                    </td>
                    <td valign="top">
                        <p style="line-height: 28px; padding-left: 30px">@today.Value.ToString("dd/MM/yyyy")</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <p><strong><span class="underline">Điều 3</span>: Mục tiêu và Chiến lược đầu tư</strong></p>

        <p>Bằng hợp đồng này Bên A đồng ý chuyển giao vốn cho Bên B và Bên B đồng ý chịu trách nhiệm sử dụng Vốn ủy thác để thực hiện các hoạt động đầu tư và tái đầu tư vào các Danh mục đầu tư phù hợp với chiến lược, mục tiêu đầu tư như sau:</p>

        <p>- <strong>Mục tiêu đầu tư</strong></p>

        <p>Bên B thực hiện các hoạt động đầu tư như quy định tại phạm vi đầu tư nhằm mục đích thu được lợi nhuận đầu tư trong thời hạn ủy thác.</p>

        <p>- <strong>Phạm vi đầu tư</strong></p>

        <p>Bên A đồng ý và theo đó Bên B được phép đứng tên chủ sở hữu tài sản thay mặt cho Bên A, Bên B thực hiện giao dịch và báo cáo kết quả cho khách hàng sau khi hoàn tất giao dịch thực hiện hoạt động đầu tư vào tài sản do bên A chỉ định tại khoản 2.2 Điều 2 của Hợp đồng này. </p>

        <p>- <strong>Nguyên tắc và chính sách đầu tư</strong></p>

        <p>Vốn ủy thác được quản lý trên nguyên tắc riêng biệt toàn bộ, không có sự liên quan tới các tài sản khác thuộc sở hữu của Bên B và/hoặc các tài sản khác do Bên B quản lý. Việc ủy thác quản lý Vốn ủy thác của Bên A đối với Bên B toàn quyền thực hiện việc quản lý và tất cả các giao dịch có liên quan đến số vốn ủy thác trong phạm vi đầu tư theo quy định tại phạm vi đầu tư các văn bản điều chỉnh/chỉ định đầu tư của Bên A (nếu có).</p>

        <p>Bên B sẽ phải thực hiện việc quản lý và đầu tư số Vốn ủy thác theo Mục tiêu đầu tư đã được Bên A chấp thuận và vì quyền lợi của Bên A. Bên B đồng thời phải tuân thủ các Hạn chế đầu tư được nêu trong Hợp đồng này và các hạn chế đầu tư khác được Bên A đưa ra bằng văn bản.</p>

        <p>Bên B chỉ được phép thay đổi chiến lược đầu tư khi được sự chấp thuận bằng văn bản của Bên A.</p>

        <p>- <strong>Hạn chế đầu tư</strong></p>

        <p>Bên A có nghĩa vụ cung cấp thông tin bằng văn bản (nếu có) các hạn chế đầu tư của mình cho Bên B ngay khi ký Hợp đồng này hoặc ngay sau khi phát sinh sự kiện pháp lý hoặc sự thay dổi của pháp luật dẫn đến hạn chế đầu tư của Bên A.</p>

        <p>Bên B cam kết tuân thủ các hạn chế đầu tư do Bên A cung cấp và quy định đầu tư của pháp luật hiện hành.</p>

        <p>- <strong>Khả năng chấp nhận rủi ro</strong></p>

        <p>Bên A đồng ý và thừa nhận rằng:</p>

        <p>Việc đầu tư Vốn ủy thác do Bên B thực hiện cho Bên A gắn với các rủi ro khác nhau bao gồm nhưng không giới hạn ở các loại rủi ro quy định tại Điều 11 của Hợp đồng;</p>

        <p>Giá trị Vốn ủy thác và các khoản mục đầu tư trong Danh mục đầu tư cũng như thu nhập phát sinh từ các hoạt động đầu tư có thể biến động, bao gồm cả việc không thể thu hồi Vốn ủy thác ban đầu; và </p>

        <p>Trong quá trình quản lý và đầu tư Vốn ủy thác, Bên B không cam kết đạt được một mức lợi nhuận cụ thể, tuy nhiên bằng khả năng của mình sẽ nỗ lực đảm bảo giá trị vốn ủy thác trong mọi trường hợp;</p>

        <p>Trong thời hạn quản lý, Bên B có thể mua hoặc bán chứng khoán hay các tài sản đầu tư khác cho các Hợp đồn quản lý danh mục đầu tư khác nhau tại cùng một thời điểm. Trong trường hợp đó, Bên B sẽ cố gằng thực hiện việc phân bổ tài sản theo nguyên tắc công bằng, không thiên vị và tuân thủ chiến lược, chính sách đầu tư đã phê duyệt.</p>

        <p><strong><span class="underline">Điều 4</span>: Vốn Ủy Thác</strong></p>

        <p><strong>Vốn uỷ thác ban đầu</strong>: <strong>@String.Format("{0:#,0}", Model.InvestmentAmount)</strong> <strong>VNĐ </strong><em>(Bằng chữ: </em><strong>@Model.InvestmentAmountPrint</strong><em>) </em></p>

        <p>Ngay sau khi Rút vốn từng phần thì Số tiền đầu tư ban đầu sẽ điều chỉnh thành:</p>

        <p>Giá trị tài sản ròng của Danh mục đầu tư vào Ngày yêu cầu rút vốn từng phần- Phí thưởng (nếu có) – Số tiền rút vốn từng phần.</p>

        <p><strong>Phương thức chuyển vốn uỷ thác:</strong> Bên A có trách nhiệm chuyển vốn uỷ thác nêu trên vào chỉ dẫn sau:</p>
        <table>
            <tr>
                <td>+ Chủ tài khoản:</td>
                <td>Công ty cổ phần quản lý quỹ Amber</td>
            </tr>
            <tr>
                <td>+ Số tài khoản:</td>
                <td>1019822427</td>
            </tr>
            <tr>
                <td>+ Tại:</td>
                <td>Ngân hàng TMCP Ngoại Thương Việt Nam</td>
            </tr>
            <tr>
                <td>+ Nội dung:</td>
                <td>Chuyển tiền ủy thác theo hợp đồng số <em>@Model.CodeManagementCatalog</em></td>
            </tr>
        </table>

        <p> </p>

        <p> </p>

        <p> </p>

        <p> </p>

        <p><strong><span class="underline">Điều 5</span>: Thời Hạn Ủy Thác:</strong></p>

        <p>- Thời hạn ủy thác là hai (02) năm kề từ ngày đầu tiên mà Bên A chuyển Vốn ủy thác cho Bên B (Ngày bắt đầu). Trong trường hợp Bên A chuyển khoản cho Bên B sau 15h thì Ngày bắt đầu sẽ được tính là ngày hôm sau.</p>

        <p>- Ngày kết thúc: là ngày, tháng tương ứng với Ngày bắt đầu của 02 (hai) năm tiếp theo. </p>

        <p><strong><span class="underline">Điều 6</span>: Ủy quyền</strong></p>

        <p>6.1 Bằng Hợp đồng này, Bên A ủy quyền cho Bên B thay mặt Bên A:</p>

        <p>a) Giao kết hợp đồng lưu ký và mở tài khoản lưu ký dưới tên của Bên B với Ngân hàng lưu ký; và</p>

        <p>b) Thực hiện mọi giao dịch mua bán và hoạt động đầu tư bằng Vốn ủy thác theo danh mục đầu tư mà pháp luật cho phép và tuân thủ đúng chiến lược đầu tư như đã quy định tại Hợp đồng này và/ hoặc theo chỉ định đầu tư của Bên A; và</p>

        <p>c) Thực hiện các quyền chủ sở hữu của Bên A đối với vốn ủy thác, bao gồm nhưng không giới hạn tới các quyền sở hữu đối với cổ phần/ cổ phiếu, công cụ nợ, giấy tờ có giá; quyền của người sở hữu trái phiếu, hay quyền đăng ký và tham gia đấu giá chứng khoán trên thị trường chứng khoán tập trung hay phi tập trung nếu Bên A có yêu cầu bằng văn bản cho phép Bên B đứng tên chủ sở hữu tài sản/ Vốn ủy thác.</p>

        <p>6.2 Bên B không được thuê ngoài các tổ chức trên lãnh thổ Việt Nam để cung cấp dịch vụ cho Bên A trừ trường hợp việc thuê ngoài các tổ chức/ cá nhân cung cấp các dịch vụ khác có liên quan đến việc thực hiện dịch vụ trong trường hợp việc thuê ngoài đó là cần thiết để Bên B thực hiện việc cung cấp dịch vụ theo hợp đồng này, việc thuê ngoài phải được thông báo hợp lệ cho Bên A và phải được Bên A chấp thuận trước về chi phí phát sinh.</p>

        <p>6.3 Ủy quyền cho Bên B thay mặt Bên A thực hiện công bố thông tin theo quy định của pháp luật.</p>

        <p>6.4 Ủy quyền cho Bên B tham dự, phát biểu và biểu quyết tại Đại hội đồng cổ đông của Công ty với số phiếu biểu quyết tương ứng Cổ phần được chỉ định đầu tư và cho phép Bên B được ủy quyền lại cho Bên thứ ba có đủ điều kiện tham dự và biểu quyết tại Đại hội đồng cổ đông của Công ty phù hợp với quy định tại Điều lệ Công ty.</p>

        <p><strong><span class="underline">Điều 7</span>: Chuyên viên</strong></p>

        <p>7.1 Bên B sẽ chỉ định một Chuyên viên thực hiện việc quản lý danh mục đầu tư và trực tiếp giao dịch với Bên A trong suốt thời hạn hợp đồng. Bên B đảm bảo chuyên viên được chỉ định không có xung đột lợi ích với Bên A và không thực hiện bất kỳ hành vi trục lợi nào trong việc Quản lý danh mục đầu tư, đồng thời Bên B chịu toàn bộ trách nhiệm đối với hoạt động của Chuyên viên được chỉ định, bao gồm nhưng không giới hạn ở trách nhiệm bồi thường toàn bộ thiệt hại đối với Bên A gây ra bởi hoạt động của Chuyên viên được chỉ định này;</p>

        <p>7.2 Bên B có quyền thay thế chuyên viên bất kỳ thời điểm nào với điều kiện việc thay đổi đó phải được thông báo hợp lệ trước ít nhất 07 (bảy) ngày làm việc cho Bên A bằng 1 trong các hình thức sau: văn bản, fax, điện thoại hoặc thư điện tử.</p>

        <p>7.3 Bên A có quyền (nhưng không phải là nghĩa vụ ) yêu cầu thay đổi chuyên viên nếu có căn cứ cho thấy chuyên viên vi phạm pháp luật hay đạo đức nghề nghiệp. Bên B sẽ thực hiện yêu cầu thay đổi chuyên viên của Bên A trong vòng 07 (bảy) ngày làm việc kể từ ngày nhận được văn bản yêu cầu của Bên A.</p>

        <p><strong><span class="underline">Điều 8</span>: Lợi nhuận và phân phối lợi nhuận</strong></p>

        <p>8.1 Lợi nhuận từ các khoản đầu tư là khoản lợi nhuận thu được sau khi đã trừ các phí, chi phí, thuế liên quan theo quy định tại Điều 9 của Hợp đồng này bao gồm:</p>

        <p>a) Lãi vốn thu được từ việc mua bán chứng khoán, các công cụ nợ;</p>

        <p>b) Lãi từ hoạt động đầu tư và trái tức từ các công cụ nợ được đầu tư;</p>

        <p>c) Lãi tiền gửi Ngân hàng;</p>

        <p>d) Các khoản thu nhập hợp pháp khác (nếu có).</p>

        <p>8.2 Phân chia các khoản lợi nhuận</p>

        <p>- Các khoản lợi nhuận từ hoạt động đầu tư liên quan đến cổ tức, trái tức sẽ được thanh toán cho Bên A trong thời hạn 01 (một) ngày làm việc kể từ ngày Bên B nhận được các khoản cổ tức, trái tức đó từ tổ chức phát hành.</p>

        <p>- Các khoản lợi nhuận khác sẽ được thanh toán cho Bên A trong thời hạn 03 (ba) ngày làm việc kể từ khi hết thời hạn ủy thác theo quy định tại khoản 5.1, Điều 5 của Hợp đồng này nếu không có yêu cầu gia hạn thêm của Bên A hoặc ngày chuyển trả vốn trước hạn hoặc theo chỉ định bằng văn bản của Bên A.</p>

        <p>- Các khoản lợi nhuận của Bên A sẽ được chuyển khoản theo đường dẫn sau:</p>
        <table>
            <tr>
                <td style="width: 200px"><span style="font-size: 12px">●</span> Số tài khoản:</td>
                <td><strong>@Model.AccountBank</strong></td>
            </tr>
            <tr>
                <td><span style="font-size: 12px">●</span> Tên Tài khoản:</td>
                <td><strong>[●]</strong></td>
            </tr>
            <tr>
                <td><span style="font-size: 12px">●</span> Tại:</td>
                <td><strong>@Model.Bank</strong></td>
            </tr>
        </table>

        <p><strong><span class="underline">Điều 9</span>: Phí quản lý, thuế và các chi phí khác</strong></p>

        <p>9.1 Phí dịch vụ phải trả cho Bên B bao gồm: </p>

        <p>- Phí quản lý: 0 %</p>

        <p>- Phí khác: phí thông báo, phí dịch vụ ngân hàng, phí lưu ký, …Bên B chịu và nộp theo quy định của ngân hàng và pháp luật. </p>

        <p>- Toàn bộ chi phí cho việc thu thập thông tin, dữ liệu, nghiên cứu và điều tra, sử dụng dịch vụ đào tạo và tư vấn phục vụ cho mục đích đầu tư sẽ do Bên B chịu trách nhiệm thanh toán.</p>

        <p>- Phí thưởng: Không có phí thưởng.</p>

        <p>9.2 Ngoài ra, bất kỳ khoản chi phí nào khác liên quan đến việc thực hiện Hợp đồng này sẽ được hai bên bàn bạc, thống nhất bằng văn bản trước khi thực hiện.</p>

        <p>9.3 Thuế và các khoản nộp Ngân sách Nhà nước</p>

        <p>Thuế, phí, lệ phí, và các khoản khác phải nộp Ngân sách Nhà nước liên quan đến mỗi Bên sẽ do mỗi bên thực hiện theo quy định của pháp luật. Trường hợp pháp luật quy định thuế, phí, lệ phí và các khoản phải nộp khác thuộc nghĩa vụ của Bên A mà Bên B phải khẩu trừ và thực hiện khấu trừ các khoản đó để kê khai và nộp cho cơ quan nhà nước có thẩm quyền theo quy định của pháp luật mà không cần sự chấp thuận/ đồng ý của Bên A bao gồm cả mức khấu trừ.</p>

        <p><strong><span class="underline">Điều 10</span>: Rút vốn Ủy thác</strong></p>

        <p>10.1 Trong thời hạn 03 (ba) ngày làm việc kể từ ngày nhận được yêu cầu về việc rút vốn trước hạn của Bên A, hai bên sẽ ký Phụ lục rút vốn ủy thác, theo đó, xác định giá trị phần vốn ủy thác bị rút, phương thức giao dịch để thu hồi vốn, ngày rút vốn và phương thức hoàn trả cho Bên A trừ trường hợp quy định tại khoản 10.3 Điều này.</p>

        <p>10.2 Trong bất kỳ trường hợp rút vốn trước hạn nào, Bên A phải chịu các khoản lỗ phát sinh (nếu có) do Bên B phải thanh lý tài sản thuộc danh mục đầu tư mà Bên B đã đầu tư theo quy định của Hợp đồng này.</p>

        <p>10.3 Trong trường hợp vốn ủy thác không thể chuyển đổi thành tiền do các hạn chế bao gồm nhưng không giới hạn theo quy định của pháp luật Việt Nam và/ hoặc quy định nội bộ của tổ chức phát hành chứng khoán hoặc giữa các đồng sở hữu tài sản khác, Bên B sẽ thông báo cho Bên A về các hạn chế này và Bên A sẽ không có quyền rút vốn ủy thác trước hạn.</p>

        <p><strong><span class="underline">Điều 11</span>: Tuyên bố rủi ro</strong></p>

        <p>11.1 Bên A hiểu rằng hoạt động đầu tư chịu tác động của nhiều yếu tố, do đó tiềm ẩn nhiều rủi ro, Bên B sẽ nỗ lực hạn chế tối đa rủi ro liên quan đến khoản đầu tư của Bên A. Tuy nhiên, Bên B không đưa ra một đảm bảo nào về sự bảo toàn giá trị của khoản vốn ban đầu hay một tỷ lệ sinh lời cụ thể, vì hoạt động đầu tư sẽ chịu các loại rủi ro sau:</p>

        <p>a) Rủi ro về chính sách và pháp luật: là thay đổi chính sách pháp luật về chứng khoán, thuế, chính sách đầu tư và các quy định pháp luật khác liên quan đến hoạt động đầu tư có thể làm ảnh hưởng đến kết quả đầu tư</p>

        <p>b) Rủi ro thị trường: là rủi ro phát sinh khi có sự suy giảm của toàn bộ thị trường dẫn đến tất cả các tài sản được đầu tư cùng suy giảm trong một khoảng thời gian. Rủi ro này có ảnh hưởng đến toàn bộ nền kinh tế nên bất cứ cá thể nào trong nền kinh tế đó đều phải chịu chung rủi ro này và Bên B không có khả năng kiểm soát.</p>

        <p>c) Rủi ro lãi suất: là rủi ro khiến cho giá trị của các tài sản được hưởng lãi suất dao động do sự thay đổi về lãi suất trên thị trường gây nên. </p>

        <p>d) Rủi ro tín dụng: là rủi ro do tổ chức phát hành Trái phiếu hoặc giấy tờ có giá không có đủ khả năng chi trả một phần hay toàn bộ gốc và/ hoặc lãi, hoặc trả gốc và/ hoặc lãi không đúng hạn</p>

        <p>e) Rủi ro thanh khoản: là rủi ro do sự hạn chế về tính thanh khoản, chẳng hạn như không thể bán các chứng khoán này trước hạn hoặc trước ngày hết hạn ủy thác</p>

        <p><strong><span class="underline">Điều 12</span>: Phương pháp xác định giá trị tài sản ròng</strong></p>

        <p>12.1 Vào ngày đánh giá danh mục đầu tư, Bên B sẽ tiến hành đánh giá kết quả hoạt động Danh mục đầu tư trong thời hạn ủy thác bao gồm:</p>

        <p>a) Đánh giá và xác nhận vốn ủy thác chưa đầu tư, số dư tiền mặt, số lượng chứng khoán và/ hoặc các tài sản đầu tư khác hiện có trong danh mục đầu tư và giá trị tài sản đầu tư khác quy thành tiền tại ngày đánh giá danh mục đầu tư;</p>

        <p>b) Xác định các chi phí hợp lý (nếu có) theo quy định tại Điều 9, các khoản bồi thường do vi phạm hợp đồng (nếu có) theo quy định tại Điều 20 của hợp đồng này;</p>

        <p>c) Xác định khoản lợi nhuận Danh mục đầu tư mà Bên B đã thực hiện được trong thời hạn quản lý theo quy định tại Điều 8 của Hợp đồng này.</p>

        <p>12.2 Giá trị tài sản ròng của Danh mục đầu tư được xác định như sau:</p>

        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        <p style="text-align: center">Giá trị tài sản ròng của tài sản được đầu tư</p>
                    </td>
                    <td>
                        <p style="text-align: center; width: 50px">=</p>
                    </td>
                    <td>
                        <p style="text-align: center">Tổng tài sản của Danh mục đầu tư</p>
                    </td>
                    <td>
                        <p style="text-align: center; width: 50px">-</p>
                    </td>
                    <td>
                        <p style="text-align: center">Tổng nợ phải trả của Danh mục đầu tư</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <p>12.3 Việc xác định giá trị của tài sản được đầu tư trong Danh mục đầu tư tại ngày đánh giá danh mục đầu tư được thực hiện theo các tiêu chí sau:</p>

        <p>a) Đối với cổ phiếu niêm yết: cổ phiếu niêm yết tại Sở giao dịch chứng khoán Hồ Chí Minh được xác định là giá đóng cửa của ngày giao dịch gần nhất trước thời điểm định giá. Cổ phiếu niêm yết tại Sở giao dịch Chứng khoán Hà Nội được xác định là giá bình quân của ngày giao dịch gần nhất trước thời điểm định giá. Trường hợp không có giao dịch nhiều hơn 02 (hai) tuần tính đến ngày định giá, giá được xác định là giá trị sổ sách hoặc giá mua.</p>

        <p>b) Đối với cổ phiếu giao dịch trên hệ thống Upcom: là giá cuối ngày của ngày giao dịch gần nhất trước ngày định giá. Trường hợp không có giao dịch nhiều hơn 02 (hai) tuần tính đến ngày định giá, giá được xác định là giá trị sổ sách hoặc giá mua.</p>

        <p>c) Đối với cổ phiếu đã đăng ký, lưu ký nhưng chưa niêm yết, chưa đăng ký giao dịch: là giá trung bình dựa trên báo giá của 03 (ba) công ty chứng khoán không phải là người có liên quan tại ngày giao dịch gần nhất trước thời điểm tính toán. Trường hợp không đủ báo giá của 03 công ty chứng khoán, giá được xác định là giá mua.</p>

        <p>d) Đối với trái phiếu niêm yết: là giá đóng cửa trên hệ thống giao dịch tại Sở giao dịch chứng khoán tại ngày có giao dịch gần nhất trước ngày định giá cộng lãi lũy kế. Trường hợp không có giao dịch nhiều hơn 02 (hai) tuần tính đến ngày định giá, giá được xác định là giá mua cộng lãi lũy kế.</p>

        <p>e) Đối với cổ phần, phần vốn góp khác, trái phiếu chưa niêm yết: là giá trị sổ sách hoặc giá mua.</p>

        <p>f) Đối với các tài sản đầu tư khác: theo quy định của pháp luật.</p>

        <p><strong><span class="underline">Điều 13</span>: Hoạt động của Ngân hàng lưu ký</strong></p>

        <p><em>13.1 </em>Hai bên cùng thống nhất, Ngân hàng lưu ký cung cấp dịch vụ lưu ký chứng khoán và tài sản của Bên A theo Hợp đồng này là: <em>Ngân hàng TMCP Ngoại Thương Việt Nam.</em></p>

        <p>13.2 Ngân hàng lưu ký thực hiện các hoạt động quản lý và lưu ký như sau:</p>

        <p>a) Lưu ký tách biệt tiền và tài sản của Bên A với tiền và tài sản của Ngân hàng lưu ký và các tài sản khác do Ngân hàng lưu ký quản lý; trong mọi trường hợp, không được sử dụng vốn ủy thác của Bên A để cho vay hoặc bảo lãnh cho vay hoặc thanh toán những khoản nợ cho bất kỳ tổ chức hoặc cá nhân nào;</p>

        <p>b) Thanh toán giao dịch của Bên A theo đúng quy định pháp luật, hợp đồng lưu ký và lệnh hoặc chỉ thị hợp pháp của Bên B;</p>

        <p>c) Xác nhận các báo cáo liên quan đến tiền và tài sản lưu ký của Bên A do Bên B lập;</p>

        <p>d) Thực hiện nghĩa vụ báo cáo và quản lý chứng từ giao dịch theo quy định của pháp luật và Hợp đồng lưu ký ký với Bên B;</p>

        <p>e) Lên bảng kê hàng ngày các giao dịch trên các tài khoản của Bên A và định kỳ thực hiện cân đối và đối soát số dư tiền và tài sản đầu tư của Bên A với Bên B;</p>

        <p>f) Chịu trách nhiệm trong trường hợp để mất mát, thất thoát tiền và tài sản của Bên A do lỗi của Ngân hàng lưu ký và nhân viên;</p>

        <p>g) Thông tin chi tiết về những cán bộ, nhân viên được Bên B và Ngân hàng lưu ký chỉ định thực hiện các quyền và nghĩa vụ của Bên B và Ngân hàng lưu ký liên quan đến nội dung hợp đồng lưu ký; và</p>

        <p>h) Các quy định khác theo quy định của pháp luật về chứng khoán và thị trường chứng khoán và Hợp đồng lưu ký và Hợp đồng này.</p>

        <p><strong><span class="underline">Điều 14</span>: Quyền và nghĩa vụ của Bên A</strong></p>

        <p>14.1 Bên A có các quyền sau</p>

        <p>a) Quyết định/Phê duyệt chiến lược đầu tư và chỉ định Danh mục đầu tư, kiểm tra, giám sát việc đầu tư do Bên B thực hiện;</p>

        <p>b) Nhận các báo cáo định kỳ về giao dịch theo quy định tại Điều 18 của Hợp đồng này;</p>

        <p>c) Rút một phần hoặc toàn bộ vốn ủy thác trước hạn, với điều kiện thực hiện đầy đủ các trách nhiệm đối với Bên B theo các điều kiện quy định trong Hợp đồng này;</p>

        <p>d) Cho phép Bên B thực hiện giao dịch vượt quá 50% tổng khối lượng hoặc giá trị giao dịch trong năm thông qua một công ty chứng khoán.</p>

        <p>e) Nhận lại toàn bộ giá trị vốn ủy thác trong Danh mục đầu tư khi Hợp đồng chấm dứt sau khi trừ đi các khoản chi phí, phí quản lý, thuế, các khoản bồi thường và phí thưởng (nếu có) theo quy định tại Hợp đồng này; Không mất thuế thu nhập cá nhân khi nhận lại chứng khoán trong danh mục đầu tư sau 02 (hai) năm kể từ ngày bắt đầu.</p>

        <p>f) Được bồi thường thiệt hại trong trương hợp Bên B vi phạm nghĩa vụ quy định tại khoản 20.1, Điều 20 của Hợp đồng này;</p>

        <p>g) Được quyền chuyển nhượng các quyền và nghĩa vụ theo Hợp đồng này cho bất kỳ bên thứ ba nào đáp ứng các điều kiện quy định của pháp luật và việc chuyển nhượng này phải được sự chấp thuận bằng văn bản của Bên B. Việc chuyển nhượng cổ phần cho bên thứ 3 theo chỉ định của Bên B, Bên B phải tự nộp thuế thu nhập cá nhân của mình theo quy định của pháp luật.</p>

        <p>14.2 Bên A có nghĩa vụ sau:</p>

        <p>a) Chuyển toàn bộ số vốn ủy thác cho Bên B hoặc thực hiện các thủ tục bàn giao và/ hoặc chuyển quyền sở hữu đối với vốn ủy thác bằng tài sản cho Bên B đúng hạn theo quy định tại Điều 4 Hợp đồng này để Ben B thực hiện dịch vụ.</p>

        <p>Trong trường hợp Bên A không chuyển đủ vốn ủy thác, Bên A đồng ý rằng Bên B chỉ thực hiện các hoạt động đầu tư tương ứng số vốn ủy thác đã chuyển thực tế, đồng thời chịu hoàn toàn trách nhiệm về các thiệt hại phát sinh liên quan do việc không chuyển đủ vốn nêu trên;</p>

        <p>b) Chịu trách nhiệm về tính hợp pháp và khả năng giao dịch của nguồn vốn ủy thác cho Bên B bao gồm:</p>
        <div class="content">
            <p>i. Thuộc quyền sở hữu để ủy thác hợp pháp của Bên A, có đầy đủ tài liệu pháp lý hợp lệ xác minh quyền sở hữu tài sản hợp pháp để ủy thác;</p>

            <p>ii. Là tài sản được tự do chuyển nhượng, không bị hạn chế chuyển nhượng tại thời điểm ký kết Hợp đồng;</p>

            <p>iii. Không phải là tài sản đang thế chấp, cầm cố, ký quỹ, ký cược và trong các giao dịch tài sản bảo đảm theo quy định của pháp luật dân sự.</p>
        </div>

        <p>c) Thực hiện thanh toán đầy đủ và đúng hạn các khoản phí, chi phí, thuế, phí bồi thường và các chi phí khác liên quan đến hợp đồng này cho Bên B, Ngân hàng lưu ký, cơ quan nhà nước và tổ chức, cá nhân liên quan (nếu có);</p>

        <p>d) Cung cấp đầy đủ, đúng hạn và tự chịu trách nhiệm về tính trung thực, chính xác, hợp lệ của:</p>

        <div class="content">
            <p>i. Các thông tin, tài liệu cung cấp theo yêu cầu của Bên B để thực hiện dịch vụ;</p>

            <p>ii. Tình trạng sở hữu vốn ủy thác bằng tài sản của mình và mối quan hệ với người có liên quan (nếu có) cho Bên B được ủy quyền công bố thông tin để thực hiện nghĩa vụ báo cáo sở hữu, công bố thông tin theo quy định của pháp luật.</p>
        </div>

        <p>e) Chịu trách nhiệm về tính hợp pháp, hợp lệ về các quyết định đầu tư, Chiến lược đầu tư đã phê duyệt cho Bên B; chịu trách nhiệm để có các chấp thuận cần thiết của các Bên có liên quan khác theo quy định pháp luật bắt buộc phải có để Bên B thực hiện được các giao dịch, chỉ định đầu tư của Bên A.</p>

        <p>f) Chấp nhận toàn bộ các giao dịch và rủi ro liên quan đến các giao dịch mà Bên B đã thực hiện theo đúng quy định tại Hợp đồng này.</p>

        <p>g) Thực hiện đúng, đầy đủ cam kết khác quy định tại Hợp đồng này.</p>

        <p><strong><span class="underline">Điều 15</span>: Quyền và nghĩa vụ của Bên B</strong></p>

        <p>15.1 Bên B có các quyền sau:</p>

        <p>a) Sử dụng vốn ủy thác thực hiện đầu tư, thoái lui đầu tư cẩn trọng và phù hợp với nội dung của Hợp đồng;</p>

        <p>b) Có quyền từ chối cung cấp dịch vụ khi Bên A vi phạm Hợp đồng hoặc chỉ định đầu tư vào lĩnh vực Danh mục đầu tư hạn chế/ không được pháp theo quy định của pháp luật;</p>

        <p>c) Hưởng các khoản phí và phí thưởng (nếu có) theo thỏa thuận ghi tại Hợp đồng này và các Phụ lục đính kèm;</p>

        <p>d) Có quyền khấu trừ các khoản thanh toán hợp lệ mà Bên A phải thanh toán cho Bên B và các Bên thứ ba trước khi hoàn trả lại vốn ủy thác và các khoản lợi nhuận cho Bên B khi hết thời hạn ủy thác.</p>

        <p>e) Yêu cầu Bên A:</p>

        <div class="content">
            <p>i. Cung cấp thông tin tài liệu cần thiết trong quá trình thực hiện dịch vụ;</p>

            <p>ii. Chuyển vốn ủy thác bằng tiền, bàn giao và/ hoặc chuyển quyền sở hữu vốn ủy thác bằng tài sản đầy đủ và đúng hạn theo quy định của hợp đồng này và các Phụ lục đính kèm;</p>
        </div>

        <p>15.2 Bên B có các nghĩa vụ sau:</p>

        <p>a) Tuân thủ các quy định tại Hợp đồng này và bằng khả năng của mình bảo vệ tối đa quyền và lợi ích hợp pháp của Bên A;</p>

        <p>b) Đảm bảo không để xảy ra việc xung đột lợi ích trong việc phân phối nguồn lực, cung cấp dịch vụ và phân phối các cơ hội đầu tư đối với Bên A và các nhà đầu tư/ khách hàng khác do Bên B quản lý. Cam kết đảm bảo đặt lợi ích của Bên A lên trên lợi ích của bản than Bên B và nhân viên của Bên B;</p>

        <p>c) Bảo vệ an toàn và quản lý tách biệt tài sản của Danh mục đầu tư quản lý theo Hợp đồng này và các Danh mục đầu tư khác và các quỹ do Bên B quản lý và tài sản của Bên B;</p>

        <p>d) Cử chuyên viên đủ điều kiện và năng lực để phụ trách quản lý danh mục đầu tư cho Bên A;</p>

        <p>e) Thay mặt Bên A và/ hoặc hỗ trợ Bên A đàm phán về các quyền và lợi ích hợp pháp phát sinh từ việc đầu tư vốn ủy thác với đối tác, Bên thứ ba khác trên cơ sở thống nhất với Bên A và theo quy định của Hợp đồng này;</p>

        <p>f) Bên B có nghĩa vụ thực hiện việc xác định giá trị Danh mục đầu tư theo các quy định tại Hợp đồng này;</p>

        <p>g) Thực hiện chế độ báo cáo Danh mục đầu tư theo quy định của pháp luật hiện hành cho Bên A và/ hoặc các cơ quan, tổ chức, cá nhân liên quan;</p>

        <p>h) Thực hiện chế độ báo cáo cho Bên A về các giao dịch đã thực hiện và giá trị các tài sản trong Danh mục đầu tư theo quy định tại Điều 18 của Hợp đồng này;</p>

        <p>i) Khi kết thúc thời hạn ủy thác hoặc khi Bên A rút vốn ủy thác trước hạn, Bên B thực hiện chuyển nhượng/ chuyển đổi Danh mục đầu tư theo chỉ thị của Bên A và theo quy định của pháp luật hiện hành;</p>

        <p>j) Hỗ trợ Bên A trong khả năng tốt nhất của Bên B trong việc cung cấp các tài liệu chứng minh nguồn gốc thu nhập liên quan đến các khoản đầu tư theo Hợp đồng này nếu Bên A và/ hoặc ngân hàng của Bên A yêu cầu;</p>

        <p>k) Bồi thường thiệt hại cho Bên A theo quy định tại Khoản 20.1, Điều 20 của Hợp đồng này;</p>

        <p>l) Bảo đảm việc ủy quyền lại cho Bên thứ ba theo quy định tại khoản 6.2, Điều 6 của Hợp đồng này và sự thay đổi cơ cấu tổ chức quản lý của Bên B (nếu có) không gây ảnh hưởng bất lợi đến quyền và lợi ích hợp pháp của Bên A. Trong mọi trường hợp việc ủy quyền lại cho Bên thứ ba không được coi là giải thoát cho Bên B bất kỳ và tất cả các nghĩa vụ theo Hợp đồng này; </p>

        <p>m) Thực hiện đúng, đầy đủ cam kết khác quy định tại Hợp đồng này.</p>

        <p><strong><span class="underline">Điều 16</span>: Phân bổ tài sản</strong></p>

        <p>Trong trường hợp, Bên B mua hoặc bán cùng một loại tài sản tại cùng một thời điểm cho nhiều khách hàng ủy thác và cho Bên A. Bên B phải thực hiện phân bổ tài sản giao dịch theo thứ tự ưu tiên sau:</p>

        <p>a) Ưu tiên phân bổ tài sản giao dịch cho khách hàng ủy thác, việc phân bổ tài sản giữa các khách hàng ủy thác phải công bằng. Trường hợp tài sản được mua hoặc bán tại các mức giá khác nhau, Bên B phải sử dụng mức giá bình quân gia quyền để phân bổ tài sản;</p>

        <p>b) Việc phân bổ tài sản cho Bên B chỉ được thực hiện sau khi đáp ứng đầy đủ các lệnh giao dịch tài sản cho khách hàng ủy thác.</p>

        <p><strong><span class="underline">Điều 17</span>: Bảo mật</strong></p>

        <p>Không bên nào được trực tiếp hay gián tiếp bằng văn bản, lời nói, hành động hoặc dưới bất kỳ hình thức nào cho bất kỳ cá nhân hay tổ chức nào khác một phần hay toàn bộ nội dung của Hợp đồng này cũng như nội dung Chiến lược đầu tư, Danh mục đầu tư và/ hoặc bất kỳ thông tin liên quan đến hoạt động đầu tư mà Bên B thực hiện cho Bên A, trừ khi nhận được sự chấp thuận trước bằng văn bản của bên còn lại hoặc phải cung cấp thông tin theo yêu cầu của cơ quan nhà nước có thẩm quyền theo quy đinh của pháp luật và/ hoặc cho nhà cung cấp dịch vụ cho Bên B nhằm mục đích thực hiện Hợp đồng này, bao gồm nhưng không giới hạn bởi luật sư, đơn vị tư vấn, kiểm toán…</p>

        <p><strong><span class="underline">Điều 18</span>: Chế độ báo cáo</strong></p>

        <p>18.1 Báo cáo cung cấp cho Bên A</p>

        <p>a) Định kỳ hàng tháng, quý, năm Bên B phải gửi cho Bên A báo cáo đánh giá hoạt động của Danh mục đầu tư trong kỳ báo cáo vào ngày làm việc thứ mười của tháng tiếp theo sau tháng báo cáo/ tháng cuối cùng của kỳ báo cáo bằng một trong các hình thức sau:</p>

        <p><span style="display: inline-block;width: 10px;height: 10px;border: 1px solid #000;margin: 0;position: relative;top: 0px;margin-right: 5px;margin-left: 20px;"></span> Gửi báo cáo bằng văn bản đến địa chỉ nhận thông báo của Bên A;</p>

        <p><span style="display: inline-block;width: 10px;height: 10px;border: 1px solid #000;margin: 0;position: relative;top: 0px;margin-right: 5px;margin-left: 20px;"></span> Gửi báo cao bằng fax đến địa chỉ nhận thông báo fax của Bên A;</p>

        <p>b) Bên B sẽ thông báo ngay cho Bên A khi nhận thấy có dấu hiệu bất thường liên quan đến các giao dịch và hoặc tài sản vốn ủy thác để đảm bảo quyền lợi của Bên A.</p>

        <p>18.2 Thông báo</p>

        <p>a) Các nội dung thông báo như quy định tại khoản 7.2, Điều 7, mục b, khoản 18.1 Điều này, Bên B có thể lựa chọn một trong các hình thức sau để thông báo cho Bên A: hình thức văn bản, fax, thư điện tử hoặc điện thoại.</p>

        <p>b) Trừ trường hợp quy định tại mục a, khoản này, bất kỳ thông tin, báo cáo, thông báo được một Bên gửi thới Bên kia theo hợp đồng này được coi là hợp lệ nếu được lập thành văn bản hoặc hình thức tương đương và được chuyển tới địa chỉ của Bên kia như thông tin của mỗi Bên quy định tại phần đầu của Hợp đồng này.</p>

        <p>c) Các bên có nghĩa vụ thông báo bằng văn bản hoặc fax cho Bên còn lại khi có bất kỳ thay đổi nào về các thông tin của mỗi Bên như quy định tại điểm b khoản này trong thời hạn 02 (hai) ngày làm việc trước ngày các thông tin thay đổi có hiệu lực.</p>

        <p>d) Mọi thông tin, báo cáo, thông báo, đề nghị, khiếu nại hoặc thư từ giao dịch v.v… do một Bên gửi cho Bên kia theo Hợp đồng này sẽ được xem như đã được Bên kia nhận được ở thời điểm:</p>

        <div class="content">
            <p>i. Vào ngày Bên gửi nhận được bằng chứng xác nhận đã chuyển fax thành công trong trường hợp chuyển bằng fax; hoặc</p>

            <p>ii. Vào ngày làm việc thứ ba kể từ ngày xác nhận gửi trên biên nhận gửi thư của bưu điện/ đơn vị cung cấp dich vụ chuyển phát trong trường hợp chuyển thư bằng phát nhanh hoặc thư bảo đảm.</p>
        </div>

        <p><strong><span class="underline">Điều 19</span>: Chấm dứt hợp đồng</strong></p>

        <p>Hợp đồng này chấm dứt trong các trường hợp:</p>

        <p>19.1 Hai bên thỏa thuận chấm dứt hợp đồng</p>

        <p>19.2 Theo quyết định của cơ quan quản lý Nhà nước có thẩm quyền khi một trong hai bên vi phạm nghĩa vụ, thực hiện hành vi bị cấm;</p>

        <p>19.3 Một bên vi phạm nghiêm trọng một phần hoặc toàn bộ nghĩa vụ của Hợp đồng này mà không khắc phục trong thời hạn tối đa 07 (bảy) ngày làm việc hoặc một thời gian hợp lý do Bên bị vi phạm đưa ra, thì Bên bị vi phạm có quyền yêu cầu đơn phương chấm dứt Hợp đồng mà không phải thông báo trước bằng văn bản cho Bên vi phạm;</p>

        <p>19.4 Bên B giải thể hoặc bị thu hồi giấy phép;</p>

        <p>19.5 Bên A chết hoặc bị tuyên bố chết, mất tích mà người thừa kế hợp pháp của khách hàng không đồng ý tiếp tục ký kết Hợp đồng;</p>

        <p>19.6 Bên A chấm dứt Hợp đồng này bằng việc gửi thông báo trước cho Bên B bằng văn bản ít nhất 30 (ba mươi) ngày.</p>

        <p>19.7 Các trường hợp khác theo quy định của pháp luật.</p>

        <p><strong><span class="underline">Điều 20</span>: Bồi thường do vi phạm nghĩa vụ</strong></p>

        <p>20.1 Bên B chỉ phải chịu trách nhiệm bồi thường cho Bên A các thiệt hại phát sinh do lỗi cố ý trực tiếp vi phạm pháp luật hoặc đạo đức nghề nghiệp của Chuyên viên và/ hoặc nhân viên của Bên B làm ảnh hưởng tiêu cực tới quyền lợi và gây thiệt hại nghiêm trọng về vốn ủy thác của Bên A.</p>

        <p>20.2 Bên A đồng ý bồi thường cho Bên B mọi tổn thất và/ hoặc thiệt hại phát sinh do lỗi và/ hoặc hành vi vi phạm của Bên A và/ hoặc do Bên B phải gánh chịu do phải thực hiện nghĩa vụ đối với Nhà nước và/ hoặc Các bên thứ ba trong phạm vi thực hiện việc dịch vụ cho Bên A theo Hợp đồng này với điều kiện việc thực hiện nghĩa vụ đó không phát sinh do lỗi hoặc hành vi vi phạm nghĩa vụ của Bên B trong quá trình cung cấp dịch vụ cho Bên A.</p>

        <p>20.3 Bằng Hợp đồng này các bên đồng ý rằng mỗi Bên chỉ chịu trách nhiệm bồi thường cho bên kia đối với các tổn thất thực tế và trực tiếp phát sinh do các vi phạm như quy định tại khoản 20.1, 20.2 nêu trên trừ trường hợp các hành vi vi phạm là do sự kiện bất khả kháng theo quy định tại Điều 23 của Hợp đồng này.</p>

        <p><strong><span class="underline">Điều 21</span>: Thanh lý Hợp đồng</strong></p>

        <p>21.1 Trong thời hạn 03 (ba) ngày làm việc kể từ ngày phát sinh một trong các sự kiện làm chấm dứt Hợp đồng như quy định tại Điều 19 của Hợp đồng này, các Bên sẽ ký Biên bản thanh lý Hợp đồng với các nội dung về rút vốn ủy thác như quy định tại khoản 10.1, Điều 10 của Hợp đồng này, đồng thời Bên B sẽ xác định các chi phí liên quan theo quy định tại Điều 9 và các khoản bồi thường (nếu có).</p>

        <p>21.2 Trong thời hạn 05 (năm) ngày làm việc kể từ ngày của Biên bản thanh lý, Bên B chuyển trả phần vốn ủy thác và các lợi nhuận phát sinh (nếu có) vào tài khoản của Bên A sau khi trừ các nghĩa vụ tài chính của Bên A theo Hợp đồng này.</p>

        <p><strong><span class="underline">Điều 22</span>: Điều khoản tuân thủ đạo luật FATCA</strong></p>

        <p>22.1 Trường hợp Bên A cung cấp các thông tin liên quan tới quy định FATCA tại Hợp đồng này, Bên A chấp thuận cho Bên B sử dụng các thông tin cung cấp để thực hiện theo quy định của FATCA và Bên B cam kết các thông tin thu thập chỉ sử dụng duy nhất cho mục đích đáp ứng các yêu cầu tuân thủ theo quy định của FATCA và sẽ không được sử dụng cho bất kỳ mục đích nào khác.</p>

        <p>22.2 Trường hợp, tại thời điểm ký kết Hợp đồng này Bên A không có những trạng thái nêu trên, nhưng Bên A sẽ có trách nhiệm thông báo với Bên B trong vòng 30 ngày kể từ khi Bên A có sự thay đổi trạng thái (nếu có).</p>

        <p><strong><span class="underline">Điều 23</span>: Sự kiện bất khả kháng</strong></p>

        <p>23.1 Sự kiện bất khả kháng là tất cả những sự kiện xảy ra một cách khách quan, ngoài tầm kiểm soát của Hai bên, không lường trước được, không thể tránh được và không thể khắc phục được mặc dù đã áp dụng mọi biện pháp cần thiết và khả năng cho phép, ngăn cản việc thực hiện Hợp đồng của một hoặc hai Bên. Sự kiện bất khả kháng có thể bao gồm nhưng không giới hạn:</p>

        <p>a) Động đất, núi lửa, lũ lụt, hỏa hoạn, chiến tranh, đình công, bạo loạn, việc thay đổi của luật pháp dẫn đến sự ngăn cấm của Nhà nước hay những sự kiện khác chưa thể lường trước được, không thể ngăn chặn hay kiểm soát được;</p>

        <p>b) Ảnh hưởng chung của toàn thị trường và/ hoặc ngành nghề kinh doanh và/ hoặc sản phẩm đầu tư trong trường hợp Danh mục đầu tư là bất động sản và/ hoặc thị trường chứng khoán bị đóng cửa hoặc bị đóng băng hoặc ảnh hưởng chung của toàn thị trường dẫn đến một số nghĩa vụ liên quan mà các Bên không thể thực hiện được;</p>

        <p>23.2 Việc một Bên chậm trễ hoặc tạm ngừng thực hiện cam kết theo Hợp đồng này do Sự kiện bất khả kháng sẽ không được coi là vi phạm Hợp đồng nhưng phải có trách nhiệm thông báo bằng văn bản cho Bên kia ngay sau khi xảy ra sự kiện bất khả kháng đó. Đồng thời, sau khi sự kiện bất khả kháng chấm dứt, các Bên có nghĩa vụ tiếp tục thực hiện các nghĩa vụ quy định tại Hợp đồng này.</p>

        <p><strong><span class="underline">Điều 24</span>: Các điều khoản khác</strong></p>

        <p>24.1 Luật áp dụng:</p>

        <p>Hợp đồng này được giải thích và diễn giải theo các quy định của pháp luật Việt Nam.</p>

        <p>24.2 Toàn bộ Hợp đồng</p>

        <p>Hợp đồng này cùng với các Phụ lục, văn bản được dẫn chiếu trong Hợp đồng này hoặc được ký kết sau đó có liên quan đến Hợp đồng này tạo thành thỏa thuận thống nhất giữa các Bên và thay thế toàn bộ các bản ghi nhớ, hợp đồng, thỏa thuận, tuyên bố khẳng định có liên quan trước đây.</p>

        <p>Các Hợp đồng, văn bản dẫn chiếu đến Hợp đồng này trong trường hợp có quy định khác biệt với Hợp đồng này thì thỏa thuận tại Hợp đồng này được ưu tiên áp dụng trừ trường hợp thỏa thuận này trái quy định của pháp luật.</p>

        <p>24.3 Sửa đổi, bổ sung</p>

        <p>Hợp đồng này có thể được sửa đổi, bổ sung theo thỏa thuận của Các Bên tại từng thời điểm. Tuy nhiên, việc sửa đổi, bổ sung chỉ có giá trị nếu được lập thành văn bản và được ký bởi người đại diện có thẩm quyền hợp pháp của mỗi bên.</p>

        <p>24.4 Giải quyết tranh chấp</p>

        <p>Bất kỳ tranh chấp nào phát sinh từ hoặc liên quan đến Hợp đồng này sẽ được giải quyết một cách thiện chí bằng thương lượng hòa giải giữa các Bên. Trường hợp giải quyết bằng thương lượng, hòa giải không thành, mỗi Bên có thể nộp đơn yêu cầu Tòa án có thẩm quyền của Việt Nam giải quyết tranh chấp theo quy định của pháp luật.</p>

        <p>24.5 Hiệu lực Hợp đồng</p>

        <p>Hợp đồng này có hiệu lực kể từ ngày ký và kết thúc khi hai bên tiến hành ký Biên bản thanh lý Hợp đồng này.</p>

        <p>24.6 Số bản gốc</p>

        <p>Hợp đồng này được lập thành 03 (ba) bản gốc bằng tiếng Việt có giá trị pháp lý như nhau. Mỗi bên giữ 01 (một) bản tiếng Việt và 01 (một) bản gửi Ngân hàng lưu ký.</p>

        <p>Để ghi nhận các thỏa thuận trong hợp đồng này, các Bên đã đọc, hiểu nội dung, đại diện hợp pháp của các Bên đã cùng nhau ký trên Hợp đồng này vào ngày được nêu tại phần đầu của Hợp đồng.</p>

        <p> &nbsp;</p>

        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td valign="top">
                        <p style="text-align: center"><strong>ĐẠI DIỆN BÊN A</strong></p>

                    </td>
                    <td valign="top">
                        <p style="text-align: center"><strong>ĐẠI DIỆN BÊN B</strong></p>

                    </td>
                </tr>

            </tbody>
        </table>
        <p> &nbsp;</p>
        <p> &nbsp;</p>



    </div>




    <script>
        function PreviewPrint() {
            //var w = window.open();
            //w.document.write(document.getElementById("print").innerHTML);
            //w.print();
            //w.close();
            window.print();
            window.close();
        }


        function Export2Doc(element, filename = '') {
            var preHtml =
                "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
            var postHtml = '</body></html>';
            var html = preHtml + document.getElementById(element).innerHTML + postHtml;

            var blob = new Blob(['\ufeff', html], {
                type: 'application/msword',
            });
            // Specify link url
            var url =
                'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
            // Specify file name
            filename = filename ? filename + '.doc' : 'document.doc';
            // Create download link element
            var downloadLink = document.createElement('a');
            document.body.appendChild(downloadLink);
            if (navigator.msSaveOrOpenBlob) {
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = url;
                // Setting the file name
                downloadLink.download = filename;
                //triggering the function
                downloadLink.click();
            }
            document.body.removeChild(downloadLink);
        }

    </script>
</body>

</html>
