@{
    Layout = null;
}
@using CRMBussiness.ViewModel
@model ContractInvestorPrintViewModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        #print {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>

    @*<button type="button" onClick="print()">In</button>
        <button type="button" onClick="Export2Doc('print', 'hợp đồng')">Tải về</button>*@



    <div id="print">
        <style>
            @@page {
                margin-top: 8mm;
            }

            @@media print {

                html,
                body {
                    height: 99%;
                    page-break-after: avoid !important;
                    page-break-before: avoid !important;
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

                ul li {
                    position: relative;
                    padding-left: 15px
                }

                    ul li:after {
                        content: "-";
                        position: absolute;
                        top: -2px;
                        left: 0
                    }

            table {
                page-break-inside: auto;
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto
            }

            ul li.english:after {
                display: none;
            }

            ul.circle li {
                padding-left: 0;
            }

                ul.circle li:after {
                    display: none;
                }

            .hidden {
                opacity: 0;
            }

            ol {
                padding-left: 15px;
            }

            .content {
                padding-left: 30px;
            }

            p,
            table,
            span,
            strong,
            em,
            li,
            h1,
            h2,
            h6 {
                color: #000;
                letter-spacing: unset;
                margin-bottom: 7px;
                margin-top: 0;
                line-height: 20px;
                text-align: justify;
            }

            .bold {
                font-weight: bold;
            }

            table {
                page-break-inside: auto;
                width: 100%;
                border-collapse: collapse;
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto
            }

            table p {
                margin: 0;
            }

            #page-container div {
                font-family: 'Times New Roman 1';
            }

            h6 {
                margin-top: 10px
            }

            .italic {
                font-style: italic
            }

            .content {
                padding-left: 20px;
            }

            .style_border {
                display: block;
                position: absolute !important;
                height: 4px;
                background: #000;
                width: 100%;
                bottom: -9px;
                text-shadow: unset;
                opacity: 1;
            }
        </style>


        <p style="text-align: center"><strong>CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></p>

        <p style="text-align: center"><strong>Độc lập - Tự do - Hạnh phúc</strong></p>

        <p style="text-align: center"><strong>SOCIALIST REPUBLIC OF VIETNAM</strong></p>

        <p style="text-align: center; display: table; margin-left: auto; margin-right: auto">
            <strong>Independence – Freedom - Happiness</strong>


        </p>
        <hr style="width: 248px; border-bottom: 1px solid #000; background: transparent;" />

        <p>
            <br>
        </p>

        <p style="text-align: center; font-size:21px;"><strong>THỎA THUẬN BỔ SUNG</strong></p>

        <p style="text-align: center"><strong>SUPPLEMENTAL AGREEMENT</strong></p>
        @{
            DateTime? today = Model.DatePaydone;
        }
        @{
            string dateTTHD = string.Empty;
            if (Model.DatePaydone != null)
            {
                dateTTHD = string.Concat("dated ", @today.Value.ToString("MMMM dd"), ", ", @today?.Year.ToString());
            }
            else
            {
                dateTTHD = string.Concat("dated       ", @today?.Year.ToString());
            }
        }
        @{
            string dateTTHD2 = string.Empty;
            if (Model.DatePaydone != null)
            {
                dateTTHD2 = string.Concat(" ", @today.Value.ToString("MMMM dd"), ", ", @today?.Year.ToString());
            }
            else
            {
                dateTTHD2 = string.Concat(" ", @today?.Year.ToString());
            }
        }
        <p style="text-align: center"><em>Số:@Model.CodeSupplementAgreement ngày @today?.Day.ToString() tháng @today?.Month.ToString() năm @today?.Year.ToString() </em></p>

        @if (Model.DatePaydone != null)
        {
            <p style="text-align: center"><em>No:@Model.CodeSupplementAgreement dated @today.Value.ToString("MMMM dd"), @today?.Year.ToString() </em></p>
        }
        else
        {
            <p style="text-align: center"><em>No:@Model.CodeSupplementAgreement date @today?.Day.ToString() month @today?.Month.ToString() year @today?.Year.ToString()</em></p>
        }
        <p>
            <br>
        </p>

        <p>- <em>Căn cứ Bộ luật Dân sự được Quốc hội nước Cộng hoà xã hội chủ nghĩa Việt Nam thông qua ngày 24/11/2015;</em></p>

        <p><em>Pursuant to the Civil Code approved by the National Assembly of the Socialist Republic of Vietnam on November 24, 2015;</em></p>

        <p>- <em>Căn cứ Luật doanh nghiệp số 59/2020/QH14 được Quốc hội nước Cộng hoà xã hội chủ nghĩa Việt Nam thông qua ngày 17/06/2020;</em></p>

        <p><em>Pursuant to the Law on Enterprises approved by the National Assembly of the Socialist Republic of Vietnam on June 17, 2020;</em></p>

        <p>- <em>Căn cứ Hợp đồng chuyển nhượng cổ phần số @Model.CodeSupplementAgreement ngày @today?.Day.ToString() tháng @today?.Month.ToString() năm @today?.Year.ToString() được ký kết giữa Công ty Cổ phần C3 Group, Công ty Cổ phần quản lý quỹ Amber, ông/bà @Model.Name.ToUpper()</em></p>

        <p><em>Pursuant to the Share transfer Agreement No: @Model.CodeSupplementAgreement @dateTTHD signed by C3 Group Joint Stock Company, Amber Fund Management, Mr./Ms @Model.PrintName.ToUpper()</em></p>

        <p>- <em>Căn cứ vào nhu cầu và khả năng của các bên.</em></p>

        <p>- <em>Based on the needs and capabilities of Parties.</em></p>

        <p><em>Hôm nay, ngày @today?.Day.ToString() tháng @today?.Month.ToString() năm 2021, các bên ký kết hợp đồng bao gồm:</em></p>

        <p><em>Today, @dateTTHD2, the Parties include:</em></p>

        <p><strong>BÊN A </strong>: CÔNG TY CỔ PHẦN C3 GROUP </p>

        <p><strong>PARTY A</strong> : C3 GROUP JOINT STOCK COMPANY</p>
        <table>
            <tr>
                <td width="150px"><p>Mã số thuế </p></td>
                <td><p>: 0106451309 do Sở kế hoạch và đầu tư Hà Nội cấp ngày 24/01/2014</p></td>
            </tr>
            <tr>
                <td><p><em>Registration No. </em></p></td>
                <td><p><em>: 0106451309 issued by Hanoi Department of Planning and Investment on January 24, 2014</em></p></td>
            </tr>
            <tr>
                <td><p>Địa chỉ </p></td>
                <td><p>: Cụm 6, Xã Hồng Hà, Huyện Đan Phượng, Thành phố Hà Nội, Việt Nam</p></td>
            </tr>
            <tr>
                <td><p><em>Address </em></p></td>
                <td><p><em>: Lane 6, Hong Ha commune, Dan Phuong district, Hanoi, Vietnam</em></p></td>
            </tr>
            <tr>
                <td><p>Trụ sở </p></td>
                <td><p>: Tầng 8, Tòa văn phòng 1, Sunsquare, 21 Lê Đức Thọ, Hà Nội</p></td>
            </tr>
            <tr>
                <td><p><em>Head office </em></p></td>
                <td><p><em>: 8th floor, VP 1, Sun Square Building, No. 21 Le Duc Tho street, Hanoi</em></p></td>
            </tr>
            <tr>
                <td><p>Người đại diện </p></td>
                <td><p>: Nguyễn Văn Thái</p></td>
            </tr>
            <tr>
                <td><p><em>Representative </em></p></td>
                <td><p><em>: Nguyen Van Thai</em></p></td>
            </tr>
            <tr>
                <td><p>Chức vụ </p></td>
                <td><p>: Giám đốc</p></td>
            </tr>
            <tr>
                <td> <p><em>Position </em></p></td>
                <td><p><em>: Director</em></p></td>
            </tr>
        </table>

        <p><em>Sau đây gọi là “<strong>Bên A”</strong></em></p>

        <p><em>Hereinafter as </em><strong><em>“Party A”</em></strong></p>

        <p><strong>BÊN B </strong>: @Model.Name.ToUpper()</p>

        <p><strong>PARTY B</strong> : @Model.PrintName.ToUpper()</p>

        <table>
            <tr>
                <td width="150px"><p>Số CMND/Hộ chiếu</p></td>
                <td><p>: @Model.IdCard</p></td>
            </tr>
            <tr>
                <td><p><em>ID/ Passport No.</em></p></td>
                <td><p><em>: @Model.IdCard</em></p></td>
            </tr>
            <tr>
                <td><p>Địa chỉ</p></td>
                <td><p>: @Model.Address</p></td>
            </tr>
            <tr>
                <td><p><em>Address</em></p></td>
                <td><p><em>: @Model.AddressPrint</em></p></td>
            </tr>
            <tr>
                <td><p>Điện thoại</p></td>
                <td><p>: @Model.Phone</p></td>
            </tr>
            <tr>
                <td><p><em>Tel</em></p></td>
                <td><p><em>: @Model.Phone</em></p></td>
            </tr>
        </table>

        <p><em>Sau đây gọi là “<strong>Bên B”</strong></em></p>

        <p><em>Hereinafter as </em><strong><em>“Party B”</em></strong></p>

        <p>Sau khi xem xét và thỏa thuận, Bên A và Bên B đã đi đến thống nhất ký kết Thỏa thuận bổ sung của Hợp đồng chuyển nhượng cổ phần số @Model.CodeSupplementAgreement được ký ngày @today?.Day.ToString() tháng @today?.Month.ToString() năm 2021 cụ thể như sau:</p>

        <p><em>After discussions, Party A and Party B agree to sign the Supplemental Agreement of the Share transfer Agreement No. @Model.CodeSupplementAgreement signed on @dateTTHD2 as follows:</em></p>

        <p><strong>Điều 1: Định nghĩa</strong></p>

        <p><strong>Article 1: Intepretation</strong></p>

        <p><strong>HĐCNCP – Hợp đồng chuyển nhượng cổ phần: </strong>là hợp đồng chuyển nhượng cổ phần số @Model.CodeSupplementAgreement ngày @today?.Day.ToString() tháng @today?.Month.ToString() năm 2021 được ký kết giữa Công ty Cổ phần C3 Group, Công ty Cổ phần quản lý quỹ Amber, ông/bà @Model.Name</p>

        <p><strong><em>STA – Share Transfer Agreement</em></strong><em>: is the Share Transfer Agreement No. @Model.CodeSupplementAgreement on @dateTTHD2 signed by C3 Group Joint Stock Company, Amber Fund Management, Mr./Ms @Model.PrintName</em></p>

        <p><strong>Thỏa thuận bổ sung:</strong> Thỏa thuận này quy định những điều kiện, cách thức để Bên A thực hiện mua lại số lượng cổ phần do Bên B nhận chuyển nhượng theo HĐCNCP.</p>

        <p><strong><em>Supplemental Agreement</em></strong><em>: This agreement stipulates the conditions and methods for Party A to repurchase the number of transferred shares by Party B under the STA.</em></p>

        <p><strong>Công ty:</strong> Là Công ty Cổ phần tập đoàn Sailfish</p>

        <p><strong><em>Company</em></strong><em>: is Sailfish Group Joint Stock Company</em></p>

        <p><strong>Cổ phần:</strong> là Cổ phần phổ thông của Công ty Cổ phần tập đoàn Sailfish, được tự do chuyển nhượng.</p>

        <p><strong><em>Share</em></strong><em>: is the ordinary share of Sailfish Group Join Stock Company for free transfer</em></p>

        <p><strong>Gói cổ phần đầu tư (gói CPĐT): </strong>là Tổng số cổ phần của Bên B sở hữu từ cổ phần mà bên A chuyển nhượng cho Bên B theo HĐCNCP và cổ phần phát sinh từ: (i) bất kỳ và tất cả Cổ Phần mà Bên B được nhận do kết quả của việc chia cổ tức bằng cổ phần, phát hành cổ phần từ nguồn vốn chủ sở hữu (cổ phần thưởng), tách hoặc gộp cổ phần, tổ chức lại, vốn hóa quỹ dự trữ hoặc bằng cách khác liên quan đến các Cổ Phần nhận chuyển nhượng; và (ii) tất cả các Cổ Phần mà Bên B được nhận do kết quả của việc chia cổ tức bằng cổ phần, phát hành cổ phần từ nguồn vốn chủ sở hữu (cổ phần thưởng), tách hoặc gộp cổ phần, tổ chức lại, vốn hóa quỹ dự trữ hoặc bằng cách khác liên quan đến các Cổ Phần mà Bên B nhận được theo điểm (i) nêu trên. </p>

        <p><strong><em>Share Investment package (“SIP”)</em></strong><em>: is the total number of shares that Party A transferred to Party B under the STA and shares arising from: (i) any and all shares that Party B receives as a result of paying dividends in shares, issuance of shares from equity (bonus shares), split or merger of shares, reorganization, capitalization of reserve fund or others related to the Transferred Shares; and (ii) all shares that Party B receieved as a result of paying dividends in shares, issuance of shares from equity (bonus shares), split or merger of shares, reorganization, capitalization of reserve fund or others related to the shares that Party B received in accordance with point (i) above.</em></p>

        <p><strong>Quyền lợi bổ sung: </strong>là quyền lợi mà Bên B được hưởng thêm khi sở hữu Gói CPĐT và được Bên A thanh toán tại thời điểm Bên A mua lại gói CPĐT theo điều kiện cụ thể được quy định trong thỏa thuận này.</p>

        <p><strong><em>Additional benefits</em></strong><em>: are the benefits that Party B enjoys when buying the share investment package and it is paid by Party A at the time Party A repurchases the share investment package under the conditions specified in this agreement.</em></p>

        <p><strong>Năm Dương lịch</strong>: trong thỏa thuận này, 01 năm tính trên cơ sở 365 ngày.</p>

        <p><strong><em>Calendar year</em></strong><em>: in this agreement, 01 year includes 365 days.</em></p>

        <p><strong>Bên Thứ 3</strong>: Tổ chức, cá nhân nhận chuyển nhượng toàn bộ hoặc một phần của gói CPĐT từ Bên B.</p>

        <p><strong><em>Third Party</em></strong><em>: Organizations or individuals that receive the whole or partial share investment package transferred from Party B.</em></p>

        <p><strong>Điều 2: Thỏa thuận mua lại cổ phần: </strong></p>

        <p><strong><em>Article 2: Share Repurchase Agreement</em></strong></p>

        <p>1. Các bên thống nhất, trong vòng 05 năm, kể từ ngày Bên B ký kết HĐCNCP và hoàn tất thanh toán toàn bộ giá trị cổ phần chuyển nhượng (“Thời Điểm Mua Lại”), các bên sẽ cùng xem xét và thống nhất Bên B có quyền yêu cầu Bên A và/hoặc Bên Thứ Ba do Bên A chỉ định mua lại một phần hoặc toàn bộ Gói CPĐT theo nội dung cụ thể tại bảng 01 dưới đây:</p>

        <p><em>The Parties agree that within 05 years from the date Party B signed the STA and completed payment of the total value of transferred shares (Time of Repurchase), the parties will consider whether Party B has the right to request Party A and/or a Third Party appointed by Party A to repurchase the whole or partial share investment package in accordance with the specific content in the table No.01 as follows:</em></p>

        <table border="1" cellspacing="0" cellpadding="0" width="96%">
            <tbody>
                <tr>
                    <td width="35%" valign="top" style="padding: 5px 0; padding-left: 20px;">
                        <p><strong>Thời gian mua lại</strong></p>

                        <p><em>Time of Repurchase</em></p>
                    </td>
                    <td width="64%" style="padding: 5px 0; padding-left: 20px">
                        <p><strong>Mức tỷ lệ giá mua lại của Gói CPĐT</strong></p>

                        <p><em>Percentage for repurchase price of the SIP</em></p>
                    </td>
                </tr>

                <tr>
                    <td width="35%" valign="top" style="padding: 5px 0; padding-left: 20px">
                        <p>Dưới 2 năm</p>

                        <p><em>Less than 2 years</em></p>
                    </td>
                    <td width="64%" style="padding: 5px 0; padding-left: 20px">
                        <p>Không mua lại</p>

                        <p><em>Not repurchasing</em></p>
                    </td>
                </tr>

                <tr>
                    <td width="35%" valign="top" style="padding: 5px 0; padding-left: 20px">
                        <p>Từ 2 đến dưới 3 năm</p>

                        <p><em>2 years to less than 3 years</em></p>
                    </td>
                    <td width="64%" style="padding: 5px 0; padding-left: 20px">
                        <p>110%</p>
                    </td>
                </tr>

                <tr>
                    <td width="35%" valign="top" style="padding: 5px 0; padding-left: 20px">
                        <p>Từ 3 đến dưới 4 năm</p>

                        <p><em>3 years to less than 4 years</em></p>
                    </td>
                    <td width="64%" style="padding: 5px 0; padding-left: 20px">
                        <p>150%</p>
                    </td>
                </tr>

                <tr>
                    <td width="35%" valign="top" style="padding: 5px 0; padding-left: 20px">
                        <p>Từ 4 đến dưới 5 năm</p>

                        <p><em>4 years to less than 5 years</em></p>
                    </td>
                    <td width="64%" style="padding: 5px 0; padding-left: 20px">
                        <p>200%</p>
                    </td>
                </tr>

                <tr>
                    <td width="35%" valign="top" style="padding: 5px 0; padding-left: 20px">
                        <p>5 năm</p>

                        <p><em>5 years</em></p>
                    </td>
                    <td width="64%" style="padding: 5px 0; padding-left: 20px">
                        <p>300%</p>
                    </td>
                </tr>

                <tr>
                    <td width="35%" valign="top" style="padding: 5px 0; padding-left: 20px">
                        <p>Trên 5 năm</p>

                        <p><em>More than 5 years</em></p>
                    </td>
                    <td width="64%" style="padding: 5px 0; padding-left: 20px">
                        <p>Không mua lại</p>

                        <p><em>Not repurchasing</em></p>
                    </td>
                </tr>

            </tbody>
        </table>

        <p><strong>2. Giá mua lại:</strong> </p>

        <p><em>Repurchase price: </em></p>

        <p>Giá mua lại sẽ được tính như sau: </p>

        <p><em>The repurchase price will be calculated as follows:</em></p>

        <p><strong>Giá mua lại = Mức tỷ lệ giá mua lại của Gói CPĐT x Giá trị Gói CPĐT x Tỷ lệ phần trăm mua lại Gói CPĐT</strong></p>

        <p><strong><em>Repurchase price = Percentage for repurchase price of the share investment package x Value of the share investment package x Repurchase percentage of the share investment package</em></strong></p>

        <p>Trong đó:</p>

        <p><em>In which:</em></p>

        <p>- <em>Tỷ lệ giá mua lại: Được quy định tại Bảng 01 của mục 1 điều này.</em></p>

        <p><em>Percentage for repurchase price: Specified in the table No.01 of point 1 of this Article.</em></p>

        <p>- <em>Giá trị Gói CPĐT</em><strong>:</strong> <em>là tổng giá trị cổ phần chuyển nhượng mà bên B và/hoặc bên thứ ba do bên B ủy thác đã thanh toán theo HĐCNCP.</em></p>

        <p><em>Value of the share investment package: is the total value of transferred shares that Party B and/or the third party appointed by Party B paid based on the STA.</em></p>

        <p>Ví dụ:</p>

        <p><em>For example:</em></p>

        <p>Bên B hoàn tất việc mua 2.000 cổ phiếu Công ty Cổ phần Tập đoàn Sailfish từ Bên A vào ngày 25/05/2021, với tổng giá trị là 100.000.000 đồng (một trăm triệu đồng). Ngày 25/04/2026 Bên B gửi thông báo đến Bên A yêu cầu mua lại, và Bên A xác nhận đã nhận thông báo vào ngày 25/04/2026. Ngày 25/05/2026, hai Bên thực hiện yêu cầu mua lại như sau:</p>

        <p><em>Party B completed the purchase process of 2,000 shares of Sailfish Group Joint Stock Company of Party A on May 25, 2021, with the total value of VND100,000,000 (one hundred million VND). On April 25, 2026, Party B sends a notice to Party A for repurchase request, and Party A confirms to have received the notice on April 25, 2026. On May 25, 2026, the two Parties start repurchasing as follows:</em></p>

        <p>♦ Trong trường hợp Bên B yêu cầu Bên A mua lại 50% số lượng cổ phần, Bên A sẽ thanh toán cho Bên B 300% * 50% * 100.000.000 = 150.000.000 đồng (một trăm năm mươi triệu đồng), và Bên A sẽ nhận lại 1.000 cổ phiếu Công ty Cổ phần Tập đoàn Sailfish, cộng với toàn bộ cổ phiếu được chia thưởng và cổ tức được trả bằng cổ phiếu phát sinh từ 1.000 cổ phiếu trên trong giai đoạn từ 25/05/2021 đến 25/05/2026. </p>

        <p><em>In case Party B requests Party A to buy back 50% of the total number of shares, Party A will pay Party B 300% * 50% * 100,000,000 = 150,000,000 VND (one hundred and fifty million VND), and Party A will get back 1,000 shares of Sailfish Group Joint Stock Company, plus all bonus shares and dividends paid in shares arising from the 1,000 shares in the period from May 25, 2021 to May 25, 2026.</em></p>

        <p>♦ Trong trường hợp Bên B yêu cầu Bên A mua lại 100% số lượng cổ phần, Bên A sẽ thanh toán cho Bên B 300% * 100% * 100.000.000 = 300.000.000 đồng (ba trăm triệu đồng), và Bên A sẽ nhận lại 2.000 cổ phiếu Công ty Cổ phần Tập đoàn Sailfish, cộng với toàn bộ cổ phiếu được chia thưởng và cổ tức được trả bằng cổ phiếu phát sinh từ 2.000 cổ phiếu trên trong giai đoạn từ 25/05/2021 đến 25/05/2026. </p>

        <p><em>In case Party B requests Party A to repurchase 100% of the total number of shares, Party A will pay Party B 300% * 100% * 100,000,000 = 300,000,000 VND (three hundred million dong), and Party A will get back 2,000 shares of Sailfish Group Joint Stock Company, plus all bonus shares and dividends paid in shares arising from the 2,000 shares in the period from May 25, 2021 to May 25, 2026.</em></p>

        <p><strong>Điều 3: Quy trình và phương thức thực hiện mua lại</strong></p>

        <p><strong>Article 3: Repurchase process and method</strong></p>

        <p>1. Để làm rõ, việc mua lại Cổ phần chuyển nhượng được thực hiện theo nguyên tắc sau:</p>

        <p><em>To clarify, repurchasing transferred shares is carried out according to the following principles:</em></p>

        <p>Trong trường hợp Bên B lựa chọn bán lại Cổ phần chuyển nhượng cho Bên A thì Bên B có trách nhiệm gửi văn bản đề nghị mua lại cho Bên A thông qua các cách thức dưới đây trong thời hạn 30 (Ba mươi) ngày trước Thời Điểm Mua Lại: </p>

        <p><em>In case Party B chooses to resell the transferred shares to Party A, Party B is responsible for sending a written repurchase request to Party A under the methods below in 30 (Thirty) days prior to the Time of Repurchasing.</em></p>

        <p>- Mọi thông báo hay trao đổi thông tin theo Hợp Đồng phải được gửi cho Các Bên theo địa chỉ phù hợp nêu tại phần giới thiệu Các Bên trong Hợp Đồng.</p>

        <p><em>Any notice or information exchange under the Agreement must be sent to the Parties at the addresses mentioned in the introduction of the Parties in the Agreement.</em></p>

        <p>- Trong trường hợp một Bên thay đổi địa chỉ, Bên đó phải thông báo cho Bên kia bằng văn bản, sau khi Bên kia xác nhận, địa chỉ mới sẽ thay thế địa chỉ được nêu trong Hợp Đồng và được sử dụng là địa chỉ để gửi mọi thông báo liên quan đến Hợp Đồng.</p>

        <p><em>In case one Party changes its address, that Party must notify the other Party in writing. Only when the other Party confirms can the new address replace the one stated in the Agreement and be used as the only address to send all notices relating to the Agreement.</em></p>

        <p>- Ngày mà Thông Báo được xem như đã gửi cho bên kia là ngày gửi nếu được gửi trực tiếp; hoặc là ngày được ghi trên xác nhận văn bản người nhận nếu được gửi thông qua dịch vụ chuyển phát nhanh có biên nhận hoặc qua đường bưu điện bằng thư bảo đảm. Bất kỳ Bên nào cũng có thể thay đổi địa chỉ gửi Thông Báo bằng cách gửi Thông Báo về sự thay đổi theo hình thức quy định ở trên.</p>

        <p><em>The date on which the Notice is delivered to the other party is the direct delivery date;</em> <em>or the date shown on the recipient's written confirmation if sent via express delivery with a receipt or by registered mail. Any Party may change the delivery address of the Notice by submitting the Notice of change with the form above.</em></p>

        <p>2. Trong thời hạn 05 (năm) ngày làm việc kể từ thời điểm nhận được Văn bản đề nghị mua lại của Bên B, Bên A (và/hoặc Bên Thứ Ba do Bên A chỉ định) có trách nhiệm ký kết Hợp đồng chuyển nhượng Cổ phần phù hợp với số cổ phần đề nghị mua lại.</p>

        <p><em>Within 05 (Five) working days from the day of receiving the written repurchase request of Party B, Party A (and/or the Third Party appointed by Party A) is responsible for signing the Share Transfer Agreement in accordance with the number of repurchased shares.</em></p>

        <p>3. Trường hợp Bên B chỉ yêu cầu mua lại 1 phần số lượng cổ phần sở hữu thì các cổ phần chưa được mua lại sẽ được Công ty cấp lại cổ phiếu và ghi nhận thông tin thay đổi trên Sổ đăng kí cổ đông của Công ty.</p>

        <p><em>In case Party B just wants to buy a certain number of shares, the Company will re-provide the Share Certificate for the Rest and shall update changes of shareholders in the shareholder register.</em></p>

        <p>4. Trong quá trình mua lại, nếu Bên A phát hiện có sự gian lận đến từ bên B nhằm trục lợi bất chính qua các thỏa thuận mua lại bên trên thì bên A sẽ từ chối mua lại cổ phần chuyển nhượng và cổ phần phát sinh.</p>

        <p><em>During the repurchase process, if Party A detects fraud from Party B in order to gain illicit profits through the repurchase commitments above, Party A will refuse to repurchase the transferred shares and arising shares.</em></p>

        <p>5. Trong trường hợp phát sinh các cổ phần khác xuất phát từ cổ phần chuyển nhượng mà nằm ngoài các trường hợp được Bên A thỏa thuận mua lại bên trên thì Bên A có toàn quyền quyết định việc mua lại hoặc không mua lại các cổ phần từ các trường hợp phát sinh đó.</p>

        <p><a name="_Hlk74672566"><em>In case there are a number of shares arising from the transferred shares and out of the cases that Party A is committed to repurchasing, Party A has the full right to decide to repurchase the number of shares in those arising cases or not.</em></a></p>

        <p><strong>Điều 4: Quyền lợi bổ sung</strong></p>

        <p><strong>Article 4: Additional benefits</strong></p>

        <p>1. Hai Bên thỏa thuận trong vòng 05 (năm) năm kể từ khi HĐCNCP có hiệu lực, hàng năm (“Kỳ hưởng quyền lợi bổ sung”) Bên B sẽ được hưởng bổ sung bằng tiền tương đương 10% Giá trị ban đầu của Gói CPĐT khi Bên B sở hữu Gói CPĐT đủ tròn 1 năm dương lịch hay 10%/năm (“Tỷ lệ hưởng Quyền lợi bổ sung”). Tỷ lệ hưởng Quyền lợi bổ sung này đã bao gồm thuế theo quy định của Pháp luật.</p>

        <p><em>The two Parties agree that within 05 (five) years from the effective date of the STA, every year (“Additional Benefit Period”), Party B will enjoy an additional benefit by cash for the S which is equivalent to 10% of the initial value of the share investment package when Party B gets attached to it for one full calendar year or 10%/year (“Additional Benefit Rate”). This additional benefit rate include tax as prescribed by Law.</em></p>

        <p>2. Nếu Bên B là nhà đầu tư cá nhân, Bên A có nghĩa vụ khấu trừ và nộp thuế thu nhập cá nhân thay Bên B theo quy định của Pháp luật.</p>

        <p><em>If Party B is an individual investor, Party A is obliged to withhold and pay personal income tax for Party B according to the Law provisions.</em></p>

        <p>3. Thời hạn Bên B nhận quyền lợi bổ sung: Trong vòng 3 ngày làm việc kể từ ngày cuối của Kỳ hưởng quyền lợi bổ sung. </p>

        <p><em>Time for Party B to receive additional benefits: Within 3 working days from the last day of the additional benefit period.</em></p>

        <p>Ví dụ:</p>

        <p><em>For example:</em></p>

        <p>Ngày 25/5/2021, HĐCNCP giữa Bên A và Bên B có hiệu lực với Giá trị ban đầu của Gói CPĐT là 100.000.000 đồng. Ngày 25/5/2026, Bên A nhận thông báo đề nghị mua lại gói CPĐT của Bên B. Quyền lợi bổ sung mà Bên B sẽ nhận như sau: </p>

        <p><em>On May 25, 2021, the STA between Party A and Party B takes effect with the initial value of VND100,000,000. On May 25, 2026, Party A receives a notice that Party B requests to repurchase the share investment package. Party B will enjoy additional benefits as follows:</em></p>

        <table border="1" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td style="padding: 5px 0; ">
                        <p style="text-align: center">Thời gian đầu tư</p>

                        <p style="text-align: center"><em>Investment period</em></p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">Tỷ lệ hưởng quyền lợi bổ sung</p>

                        <p style="text-align: center"><em>Percentage of additional benefit</em></p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">Thời hạn nhận Quyền lợi bổ sung</p>

                        <p style="text-align: center"><em>Additional benefit Period</em></p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">QUYỀN LỢI BỔ SUNG (VNĐ)</p>

                        <p style="text-align: center"><em>ADDITIONAL BENEFIT (VND)</em></p>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">May 25, 2021 – May 25, 2022</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">10%</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">May 26, 2022 – May 29, 2022</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">9.500.000</p>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">May 25, 2022 – May 25, 2023</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">10%</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">May 26, 2023 – May 29, 2023</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">9.500.000</p>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0; ">
                        <p style="text-align: center">May 25, 2023 – May 25, 2024</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">10%</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">May 26, 2024 – May 29, 2024</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">9.500.000</p>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0; ">
                        <p style="text-align: center">May 25, 2024 – May 25, 2025</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">10%</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">May 26, 2025 – May 29, 2025</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">9.500.000</p>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0; ">
                        <p style="text-align: center">May 25, 2025 – May 25, 2026</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">10%</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">May 26, 2026 – May 29, 2026</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">9.500.000</p>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0; ">
                        <p style="text-align: center">After May 25, 2026</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">0%</p>
                    </td>
                    <td style="padding: 5px 0;"><p style="text-align: center"></p></td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">0</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <p>4. Trong trường hợp Bên B đã chuyển nhượng lại một phần Gói CPĐT cho Bên thứ 3 thì (i) Quyền lợi bổ sung mà Bên B được thụ hưởng theo điều này sẽ chỉ tính trên phần giá trị Gói CPĐT còn lại mà bên B sở hữu sau chuyển nhượng và (ii) Quyền lợi bổ sung mà Bên thứ 3 được thụ hưởng theo điều này sẽ được tính trên phần giá trị Gói CPĐT mà bên thứ 3 sở hữu sau chuyển nhượng</p>

        <p><em>In case Party B transferred a part of the share investment package for the third party, (i) the additional benefit that Party B will enjoy under this article will only be calculated based on the remaining value of the share investment package that Party B owns after the transfer and (ii) the additional benefit that the third party will enjoy under this article will be calculated based on the value of the share investment package that the third party owns after the transfer. </em></p>

        <p>5. Trường hợp Bên B đã chuyển nhượng toàn bộ Gói CPĐT cho bên thứ 3 trong thời hạn 05 (năm) năm được quy định tại Khoản 1 Điều này thì Bên thứ 3 chỉ được hưởng Quyền lợi bổ sung cho khoảng thời gian còn lại của gói CPĐT cho đến đủ 05 năm.</p>

        <p><em>In case Party B transferred the whole share investment package to a third party within 05 (five) years specified in Clause 1 of this Article, the third party will only be entitled to additional benefits for the remaining period of the share investment package for up to 5 years.</em></p>

        <p>Ví dụ: ngày 25/5/2021, HĐCNCP giữa Bên A và Bên B có hiệu lực. Ngày 25/5/2023, Bên B tiến hành chuyển nhượng lại toàn bộ gói CPĐT cho Bên thứ 3 và được Bên A xác nhận. Bên thứ 3 được hưởng Quyền lợi bổ sung cho khoảng thời gian còn lại cho đến đủ 05 năm (được tính từ ngày 25/5/2023) cụ thể như sau: </p>

        <p><em>For example: On May 25, 2021, the STA between Party A and Party B takes effect. On May 25, 2023, Party B transfers the entire share investment package to a third party and is confirmed by Party A. The third party is entitled to additional benefits for the remaining period until 05 years (calculated from May 25, 2023) as follows:</em></p>

        <table border="1" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">Thời gian đầu tư</p>

                        <p style="text-align: center"><em>Investment period</em></p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">Tỷ lệ hưởng quyền lợi bổ sung</p>

                        <p style="text-align: center"><em>Percentage of additional benefit</em></p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">Thời hạn nhận Quyền lợi bổ sung</p>

                        <p style="text-align: center"><em>Additional benefit period</em></p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">QUYỀN LỢI BỔ SUNG (VNĐ)</p>

                        <p style="text-align: center"><em>ADDITIONAL BENEFIT (VND)</em></p>
                    </td>
                </tr>

                <tr>
                    <td valign="top" style="padding: 5px 0;">
                        <p style="text-align: center">May 25, 2023 – May 25, 2024</p>
                    </td>
                    <td valign="top" style="padding: 5px 0;">
                        <p style="text-align: center">10%</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">May 26, 2024 – May 29, 2024</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">9.500.000</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top" style="padding: 5px 0;">
                        <p style="text-align: center">May 25, 2024 – May 25, 2025</p>
                    </td>
                    <td valign="top" style="padding: 5px 0;">
                        <p style="text-align: center">10%</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">May 26, 2025 – May 29, 2025</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">9.500.000</p>
                    </td>
                </tr>

                <tr>
                    <td valign="top" style="padding: 5px 0;">
                        <p style="text-align: center">May 25, 2025 – May 25, 2026</p>
                    </td>
                    <td valign="top" style="padding: 5px 0;">
                        <p style="text-align: center">10%</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">May 26, 2026 – May 29, 2026</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">9.500.000</p>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">After May 25, 2026</p>
                    </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">0%</p>
                    </td>
                    <td style="padding: 5px 0;"><p style="text-align: center"></p> </td>
                    <td style="padding: 5px 0;">
                        <p style="text-align: center">0</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <p><strong>Điều 5: Điều khoản chung</strong></p>

        <p><strong>Article 5: General terms</strong></p>

        <p>1. Thỏa thuận bổ sung này là một phần không tách rời của HĐCNCP.</p>

        <p><em>This supplemental agreement is an integral part of the Share Transfer Agreement.</em></p>

        <p>2. HĐCNCP vẫn giữ nguyên hiệu lực, trường hợp có sự mâu thuẫn giữa HĐCNCP và Thỏa thuận bổ sung này thì các nội dung trong Thỏa thuận này sẽ được ưu tiên áp dụng.</p>

        <p><em>The STA shall remain in effect. In case there are conflicts between the STA and this Supplemental Agreement, the contents of this supplemental Agreement shall prevail.</em></p>

        <p>3. Thỏa thuận bổ sung này gồm 05 (năm) điều, được lập thành 03 (Ba) bản, có giá trị pháp lý như nhau, mỗi bên giữ một bản, 01 bản được gửi cho Công ty Cổ phần Tập đoàn Sailfish lưu trữ.</p>

        <p><em>This supplemental agreement consists of 05 (five) articles, made into 03 (three) copies with the same legal validity. Each party keeps one copy. 01 copy is kept by Sailfish Group Joint Stock Company.</em></p>
        <p>&nbsp;</p>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td valign="top">
                        <p style="text-align: center"><strong>BÊN A</strong></p>

                        <p style="text-align: center"><strong>PARTY A</strong></p>
                    </td>
                    <td valign="top">
                        <p style="text-align: center"><strong>BÊN B</strong></p>

                        <p style="text-align: center"><strong>PARTY B</strong></p>


                    </td>
                </tr>

            </tbody>
        </table>
        <p> &nbsp;</p>
        <p> &nbsp;</p>
        <p> &nbsp;</p>
        <p> &nbsp;</p>
        <p> &nbsp;</p>
        <p> &nbsp;</p>
        <p> &nbsp;</p>
        <p> &nbsp;</p>
        <p> &nbsp;</p>






    </div>




    <script>
        function PreviewPrint() {
            //var w = window.open();
            //w.document.write(document.getElementById("print").innerHTML);
            //w.print();
            //w.close();
            window.print();
            window.close();
        }


        function Export2Doc(element, filename = '') {
            var preHtml =
                "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
            var postHtml = '</body></html>';
            var html = preHtml + document.getElementById(element).innerHTML + postHtml;

            var blob = new Blob(['\ufeff', html], {
                type: 'application/msword',
            });
            // Specify link url
            var url =
                'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
            // Specify file name
            filename = filename ? filename + '.doc' : 'document.doc';
            // Create download link element
            var downloadLink = document.createElement('a');
            document.body.appendChild(downloadLink);
            if (navigator.msSaveOrOpenBlob) {
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = url;
                // Setting the file name
                downloadLink.download = filename;
                //triggering the function
                downloadLink.click();
            }
            document.body.removeChild(downloadLink);
        }

    </script>
</body>

</html>
