@{
    Layout = null;
}
@using CRMBussiness.ViewModel
@model ContractInvestorPrintViewModel
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<div id="print">
    <style>
        @@page {
            margin-top: 8mm;
        }

        @@media print {
            html,
            body {
                height: 99%;
                page-break-after: avoid !important;
                page-break-before: avoid !important;
            }

            .break {
                page-break-after: avoid !important;
                page-break-before: avoid !important;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            ul li {
                position: relative;
                padding-left: 15px
            }

                ul li:after {
                    content: "-";
                    position: absolute;
                    top: -2px;
                    left: 0
                }

        table {
            page-break-inside: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        ul li.english:after {
            display: none;
        }

        ul.circle li {
            padding-left: 0;
        }

            ul.circle li:after {
                display: none;
            }

        .hidden {
            opacity: 0;
        }

        ol {
            padding-left: 15px;
        }

        .content {
            padding-left: 30px;
        }

        p,
        table,
        span,
        strong,
        em,
        li,
        h1,
        h2,
        h6 {
            color: #000;
            letter-spacing: unset;
            margin-bottom: 7px;
            margin-top: 0;
            line-height: 20px;
            text-align: justify;
        }

        .bold {
            font-weight: bold;
        }

        table {
            page-break-inside: auto;
            width: 100%;
            border-collapse: collapse;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        table p {
            margin: 5px 0;
            text-align: left;
        }

        #page-container div {
            font-family: 'Times New Roman 1';
        }

        h6 {
            margin-top: 10px
        }

        .italic {
            font-style: italic
        }

        .content {
            padding-left: 20px;
        }

        .break {
            page-break-inside: avoid;
            page-break-after: auto
        }

        .underline {
            text-decoration: underline;
        }

        .style_border {
            display: block;
            position: absolute !important;
            height: 4px;
            background: #000;
            width: 100%;
            bottom: -9px;
            text-shadow: unset;
            opacity: 1;
        }

        #tools button {
            min-width: 80px;
            height: 30px;
            background-color: dodgerblue;
            color: white;
            border: none;
        }

            #tools button:hover {
                background-color: white;
                color: dodgerblue;
                border: 1px solid dodgerblue;
            }
    </style>
    <p style="text-align: center"><strong>CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></p>

    <p style="text-align: center"><strong>Độc lập - Tự do - Hạnh phúc</strong></p>

    <p style="text-align: center"><strong>SOCIALIST REPUBLIC OF VIETNAM</strong></p>

    <p style="text-align: center"><strong>Independence – Freedom - Happiness</strong></p>
    <hr style="width: 248px; border-bottom: 1px solid #000; background: transparent;" />

    <table cellpadding="0" cellspacing="0" align="left">
        <tbody>
            <tr>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>

    <p>
        <br>
    </p>

    <p style="text-align: center; font-size:21px;"><strong>HỢP ĐỒNG CHUYỂN NHƯỢNG CỔ PHẦN</strong></p>

    <p style="text-align: center"><strong><em>SHARE TRANSFER AGREEMENT</em></strong></p>

    <p style="text-align: center">Số: @Model.CodeTransferAgreement</p>

    <p style="text-align: center"><em>No: @Model.CodeTransferAgreement</em></p>
    <p>
        &nbsp;
    </p>

    <p>- <em>Căn cứ Bộ luật Dân sự được Quốc hội nước Cộng hoà xã hội chủ nghĩa Việt Nam thông qua ngày 24/11/2015;</em></p>

    <p><em>Pursuant to the Civil Code approved by the National Assembly of the Socialist Republic of Vietnam on November 24, 2015;</em></p>

    <p>- <em>Căn cứ Luật doanh nghiệp số 59/2020/QH14 được Quốc hội nước Cộng hoà xã hội chủ nghĩa Việt Nam thông qua ngày 17/06/2020;</em></p>

    <p><em>Pursuant to the Law on Enterprises approved by the National Assembly of the Socialist Republic of Vietnam on June 17, 2020;</em></p>

    <p>- <em>Căn cứ vào nhu cầu và khả năng của hai bên.</em></p>

    <p><em>Based on the needs and capabilities of both Parties.</em></p>

    @{
        DateTime? today = Model.DatePaydone;
    }
    @{
            string dateTTHD2 = string.Empty;
            if (Model.DatePaydone != null)
            {
                dateTTHD2 = string.Concat(" ", @today.Value.ToString("MMMM dd"), ", ", @today?.Year.ToString());
            }
            else
            {
                dateTTHD2 = string.Concat(" ", @today?.Year.ToString());
            }
        }
    <p><em>Hôm nay, ngày @today?.Day.ToString() tháng @today?.Month.ToString() năm @today?.Year.ToString(), các bên ký kết hợp đồng bao gồm:</em></p>

    <p><a name="_Hlk74661852"><em>Today, @dateTTHD2, the Parties include:</em></a></p>

    <p><strong>BÊN A: CÔNG TY CỔ PHẦN C3 GROUP</strong></p>

    <p><strong>PARTY A: C3 GROUP JOINT STOCK COMPANY</strong></p>
    <table>
        <tr>
            <td width="150px">
                <p>Mã số thuế</p>
            </td>
            <td>: 0106451309 do Sở kế hoạch và đầu tư Hà Nội cấp ngày 24/01/2014</td>
        </tr>
        <tr>
            <td>
                <p><em>TIN</em></p>
            </td>
            <td>: <em>0106451309 issued by Hanoi Department of Planning and Investment on January 24, 2014 </em></td>
        </tr>
        <tr>
            <td>
                <p>Địa chỉ</p>
            </td>
            <td>: Cụm 6, Xã Hồng Hà, Huyện Đan Phượng, Thành phố Hà Nội, Việt Nam</td>
        </tr>
        <tr>
            <td>
                <p><em>Address</em></p>
            </td>
            <td>: <em>Lane 6, Hong Ha commune, Dan Phuong district, Hanoi </em></td>
        </tr>
        <tr>
            <td>
                <p>Trụ sở</p>
            </td>
            <td>: Tầng 8, Tòa văn phòng 1, Sunsquare, 21 Lê Đức Thọ, Hà Nội</td>
        </tr>
        <tr>
            <td>
                <p><em>Head office</em></p>
            </td>
            <td>: <em>8th floor, VP 1, Sun Square Building, No. 21 Le Duc Tho street, Hanoi </em></td>
        </tr>
        <tr>
            <td>
                <p>Người đại diện</p>
            </td>
            <td>: Nguyễn Văn Thái</td>
        </tr>
        <tr>
            <td>
                <p><em>Representative</em></p>
            </td>
            <td>: <em>Nguyen Van Thai</em></td>
        </tr>
        <tr>
            <td>
                <p>Chức vụ</p>
            </td>
            <td>: Giám đốc</td>
        </tr>
        <tr>
            <td>
                <p><em>Position</em></p>
            </td>
            <td>: <em>Director</em></td>
        </tr>
    </table>

    <p><em>Sau đây gọi là “<strong>Bên A”</strong></em></p>

    <p><a name="_Hlk74662098"><em>Hereinafter as </em></a><strong><em>“Party A”</em></strong></p>

    <p><strong>BÊN B: @Model.Name.ToUpper()</strong></p>

    <p><strong>PARTY B: @Model.PrintName.ToUpper()</strong></p>
    <table>
        <tr>
            <td width="150px">
                <p>Số CMND/Hộ chiếu</p>
            </td>
            <td>: @Model.IdCard</td>
        </tr>
        <tr>
            <td>
                <p><em>ID/ Passposrt No.</em></p>
            </td>
            <td>: <em>@Model.IdCard</em></td>
        </tr>
        <tr>
            <td>
                <p>Ngày cấp</p>
            </td>
            <td>: @Model.DateOfIssuance</td>
        </tr>
        <tr>
            <td>
                <p><em>Date of issurance</em></p>
            </td>
            <td>:<em> @Model.DateOfIssuance</em></td>
        </tr>
        <tr>
            <td>
                <p>Nơi cấp</p>
            </td>
            <td>: @Model.AddressIssuance</td>
        </tr>
        <tr>
            <td>
                <p><em>Place of issurance</em></p>
            </td>
            <td>: <em>@Model.AddressIssuancePrint </em></td>
        </tr>
        <tr>
            <td>
                <p>Mã số thuế</p>
            </td>
            <td>: @Model.PersonalTaxCode</td>
        </tr>
        <tr>
            <td>
                <p><em>TIN</em></p>
            </td>
            <td>: <em>@Model.PersonalTaxCode</em></td>
        </tr>
        <tr>
            <td>
                <p>Địa chỉ</p>
            </td>
            <td>: @Model.Address</td>
        </tr>
        <tr>
            <td>
                <p><em>Address</em></p>
            </td>
            <td>: <em>@Model.AddressPrint</em></td>
        </tr>
        <tr>
            <td>
                <p>Điện thoại</p>
            </td>
            <td>: @Model.Phone</td>
        </tr>
        <tr>
            <td>
                <p><em>Tel</em></p>
            </td>
            <td>: <em>@Model.Phone</em></td>
        </tr>
        <tr>
            <td>
                <p>Số tài khoản</p>
            </td>
            <td>: @Model.AccountBank</td>
        </tr>
        <tr>
            <td>
                <p><em>Bank account</em></p>
            </td>
            <td>: <em>@Model.AccountBank</em></td>
        </tr>
        <tr>
            <td>
                <p>Tại Ngân hàng</p>
            </td>
            <td>: @Model.Bank</td>
        </tr>
        <tr>
            <td>
                <p><em>Bank</em></p>
            </td>
            <td>: <em>@Model.BankPrint</em></td>
        </tr>
    </table>

    <p><em>Sau đây gọi là “<strong>Bên B” </strong></em></p>

    <p><a name="_Hlk74662169"><em>Hereinafter as </em></a><strong><em>“Party B”</em></strong></p>

    <p><strong>BÊN C </strong> : <strong>CÔNG TY CỔ PHẦN QUẢN LÝ QUỸ AMBER</strong></p>

    <p><strong>PARTY C : AMBER FUND MANAGEMENT </strong></p>
    <table>
        <tr>
            <td width="150px" style="vertical-align: top">
                <p>Mã số doanh nghiệp </p>
            </td>
            <td>
                <p>: Số 39/UBCK-GP do Ủy ban Chứng khoán Nhà nước cấp ngày 08 tháng 10 năm 2008 và Giấy phép điều chỉnh thành lập và hoạt động công ty quản lý quỹ số 70/GPĐC-UBCK ngày 25 tháng 11 năm 2019.</p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">
                <p><em>Registration No. </em></p>
            </td>
            <td>
                <p><em>: No. 39/UBCK-GP issued on October 08, 2008 by the State Securities Commission of Vietnam, along with its license for establishment and operation No. 70/GPDC-UBCK issued on November 25, 2019.</em></p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">
                <p>Trụ sở </p>
            </td>
            <td>
                <p>: Tầng 9A, Tòa leadvisors Plance, số 41A Lý Thái Tổ, Hoàn Kiếm, Hà Nội.</p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">
                <p><em>Head office</em></p>
            </td>
            <td>
                <p><em>: 9A floor, Leadvisors Plance Building, No. 41A Ly Thai To street, Hoan Kiem district, Hanoi</em></p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">
                <p>Người đại diện </p>
            </td>
            <td>
                <p>: Bà Doãn Hồ Lan</p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">
                <p><em>Representative </em></p>
            </td>
            <td>
                <p><em>: Ms. Doan Ho Lan</em></p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">
                <p>Chức vụ </p>
            </td>
            <td>
                <p>: Tổng giám đốc</p>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">
                <p><em>Position </em></p>
            </td>
            <td>
                <p><em>: General Director</em></p>
            </td>
        </tr>
    </table>

    <p>(Theo Giấy ủy quyền số 03/2019/GUQ ngày 02/12/2019 của Người đại diện theo pháp luật Công ty cổ phần Quản lý quỹ Amber)</p>

    <p><em>(In accordance with the Power of Attorney No. 03/2019/GUQ on December 02, 2019 for the legal representative of Amber Fund Management)</em></p>

    <p><em>Sau đây gọi là “<strong>Bên C</strong>”</em></p>

    <p><em>Hereinafter as </em><strong><em>“Party C”</em></strong></p>

    <p><strong><span class="underline">Xét rằng</span>:</strong></p>

    <p><strong><span class="underline">Whereas</span>:</strong></p>

    <p>1. Bên A là tổ chức sở hữu hợp pháp Cổ phần phổ thông của Công ty Cổ phần Tập đoàn Sailfish;</p>

    <p><em>Party A is an organization legally owning ordinary shares of Sailfish Group Joint Stock Company;</em></p>

    <p>2. Bên B là cá nhân có nhu cầu mua lại cổ phần phổ thông của Công ty cổ phần Tập đoàn Sailfish từ Bên A.</p>

    <p><em>Party B is an individual who has the demand for purchasing  ordinary shares of Sailfish Group Joint Stock Company from Party A. </em></p>

    <p>3. Bên C là công ty quản lý quỹ hoạt động chuyên nghiệp trong lĩnh vực quản lý quỹ.</p>

    <p><em>Party C is a professional fund management company in this field.</em></p>

    <p>4. Bên A và Bên B tự nguyên mong muốn hợp tác thực hiện giao dịch Hợp đồng này.</p>

    <p><em>Party A and Party B voluntarily want to cooperate with each other based on this Agreement. </em></p>

    <p>Các bên dưới đây gọi chung là “Các Bên”, gọi riêng là “Mỗi Bên”, “Bên” cùng thoả thuận ký kết Hợp đồng chuyển nhượng cổ phần (“Hợp đồng”) với những nội dung cụ thể như sau:</p>

    <p><em>The parties hereinafter collectively referred to as the “Parties”, individually referred to as “Party” together agree to sign a Stock Transfer Agreement (“Agreement”) with the following specific contents:</em></p>

    <p><strong><span class="underline">ĐIỀU 1: NHỮNG KHÁI NIỆM ĐƯỢC SỬ DỤNG TRONG HỢP ĐỒNG</span></strong></p>

    <p><strong><em><span class="underline">ARTICLE 1: INTEGRETATION</span>:</em></strong></p>

    <p>1.1. <strong>“Hợp đồng”</strong> là Hợp đồng chuyển nhượng số @Model.CodeContract và các Phụ lục Hợp đồng (nếu có) được ký kết giữa Các Bên;</p>

    <p><em>“<strong>Agreement</strong>” is the Transfer Agreement No. @Model.CodeContract and its appendixes (if any) signed by the Parties;</em></p>

    <p>1.2. <strong>“Cổ phần chuyển nhượng” </strong>là cổ phần phổ thông của Công ty Cổ phần Tập đoàn Sailfish với một số đặc điểm được quy định tại Điều 2 của Hợp đồng này và được Các Bên thoả thuận mua bán theo quy định tại Hợp đồng.</p>

    <p><strong><em>“Transferred shares” </em></strong><em>are ordinary shares of Sailfish Group Joint Stock Company with some features specified at Article 2 of this Agreement under their discussions based on the provisions of this Agreement.</em></p>

    <p>1.3. <strong>“Tổ chức phát hành” hoặc “Công ty” là Công ty Cổ phần Tập đoàn Sailfish.</strong></p>

    <p><strong>“Issuer” or “Company” </strong><em>is Sailfish Group Joint Stock Company.</em></p>

    <p><strong><span class="underline">ĐIỀU 2: ĐỐI TƯỢNG CỦA HỢP ĐỒNG</span></strong></p>

    <p><strong><em><span class="underline">ARTICLE 2: OBJECTIVES</span></em></strong></p>

    <p>Cổ phần được Bên A chuyển nhượng theo Hợp đồng này là Cổ phần Công ty Cổ phần Tập đoàn Sailfish có các đặc điểm cụ thể như sau:</p>

    <p><em>The shares transferred by Party A under this Agreement are shares of Sailfish Group Joint Stock Company with the following specific characteristics:</em></p>

    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="padding-left: 20px">
                    <p>Tên tổ chức phát hành</p>

                    <p><em>Issuer</em></p>
                </td>
                <td style="width: 30px; text-align: center">
                    <p style="text-align: center">:</p>
                </td>
                <td style="padding-left: 20px">
                    <p>Công ty Cổ phần Tập đoàn Sailfish</p>

                    <p><em>Sailfish Group Joint Stock Company</em></p>
                </td>
            </tr>

            <tr>
                <td style="padding-left: 20px">
                    <p>Loại cổ phần</p>

                    <p><em>Type of share</em></p>
                </td>
                <td style="width: 30px; text-align: center">
                    <p style="text-align: center">:</p>
                </td>
                <td style="padding-left: 20px">
                    <p>Cổ phần phổ thông</p>

                    <p><em>Ordinary share</em></p>
                </td>
            </tr>

            <tr>
                <td style="padding-left: 20px">
                    <p>Mệnh giá cổ phần</p>

                    <p><em>Face value</em></p>
                </td>
                <td style="width: 30px; text-align: center">
                    <p style="text-align: center">:</p>
                </td>
                <td style="padding-left: 20px">
                    <p><strong>10,000</strong> VND/cổ phần (<em>Mười nghìn đồng một cổ phần)</em></p>

                    <p><strong><em>10,000</em></strong><em> VND/share (Ten thousand dongs per share)</em></p>
                </td>
            </tr>

        </tbody>
    </table>

    <p><strong><span class="underline">ĐIỀU 3: NỘI DUNG CỦA HỢP ĐỒNG</span></strong></p>

    <p><strong><span class="underline">ARTICLE 3: CONTENT</span></strong></p>

    <p>3.1. Bên A đồng ý bán cho Bên B và Bên B đồng ý mua từ Bên A Cổ phần theo mô tả tại Điều 2 Hợp đồng này, với thông tin chi tiết như sau:</p>

    <p><em>Party A agrees to sell shares to Party B and Party B agrees to buy shares of Party A which are mentioned in this Agreement Article 2, with specific information as follows:</em></p>

    <p>+ <strong>Số lượng cổ phần chuyển nhượng</strong>: <strong>@String.Format("{0:#,0}", (decimal)Model.CountShare) cổ phần</strong></p>

    <p><em>Number of transferred shares: @String.Format("{0:#,0}", (decimal)Model.CountShare) shares</em></p>

    <p>+ <strong>Giá mua cổ phần: 50,000 VNĐ</strong>/ cổ phần ( Bằng chữ: Năm mươi nghìn đồng/cổ phần)</p>

    <p><em>Share price: VND50,000/ share (In words: Fifty thousand dongs/share)</em></p>

    <p>+ <strong>Tổng giá trị chuyển nhượng cổ phần: @String.Format("{0:#,0}", Model.InvestmentAmount) VND</strong> <em>(Bằng chữ: @Model.InvestmentAmountPrint đồng)</em></p>

    <p><em>Total value of transferred shares: VND@(String.Format("{0:#,0}", Model.InvestmentAmount)) (In words: @Model.InvestmentAmountPrintEN dongs)</em></p>

    <p>+ <strong>Ngày giao dịch thực hiện: </strong></p>

    <p><em>Transaction date:</em></p>

    <p>3.2. Tổng giá trị chuyển nhượng cổ phần nêu tại khoản 3.1 Điều 3 của Hợp đồng này không bao gồm các khoản thuế, phí và lệ phí phải trả theo quy định của pháp luật. Các khoản thuế, Phí, lệ phí phải trả liên quan đến việc chuyển nhượng cổ phần (nếu có) sẽ do Bên A thanh toán toàn bộ theo quy định của pháp luật.</p>

    <p><em>The total value of transferred shares stated in Clause 3.1, Article 3 of this Agreement does not include taxes, fees and charges. Taxes, fees and charges related to share transfer (if any) will be fully paid by Party A in accordance with the law.</em></p>

    <p><strong><span class="underline">ĐIỀU 4: PHƯƠNG THỨC GIAO DỊCH VÀ THANH TOÁN</span></strong></p>

    <p><strong><span class="underline">ARTICLE 4: MODE OF TRANSACTION AND PAYMENT</span></strong></p>

    <p>4.1. Phương thức thanh toán: Bằng tiền mặt hoặc bằng chuyển khoản</p>

    <p><em>Method of payment: By cash or bank transfer</em></p>

    <!--<p>+ Người thụ hưởng : Công ty Cổ phần Quản lý Quỹ Amber</p>

    <p><em>Beneficiary : Amber Fund Management </em></p>

    <p>+ Số tài khoản : 1019822427</p>

    <p><em>Bank account : 1019822427</em></p>

    <p>+ Tại ngân hàng : Vietcombank </p>

    <p><em>Bank : Vietcombank</em></p>

    <p>+ Nội dung :  “Thanh toán Tổng giá trị chuyển nhượng cổ phần Sailfish” hoặc “Thanh toán Tổng giá trị chuyển nhượng cổ phần Sailfish theo Hợp đồng chuyển nhượng cổ phần số @Model.CodeTransferAgreement ”</p>

    <p>+ <em>Content : “Payment of the total value of transferred shares of Sailfish” or “Payment the total value of transferred shares of Sailfish under the Share Transfer Agreement No. @Model.CodeTransferAgreement ”</em></p>-->

<p>4.2. Bên B chuyển vốn ủy thác vào tài khoản đích danh của Bên B đứng tên Bên C mở tại Ngân hàng TMCP Ngoại thương Việt Nam. Bên B đồng ý cho Bên C chuyển tiền từ tài khoản đích danh này sang tài khoản tổng của Bên C để thay mặt Bên B thực hiện thanh toán toàn bộ Tổng giá trị chuyển nhượng cổ phần theo quy định tại khoản 3.1 Điều 3 của Hợp đồng này cho Bên A. Bên C chỉ thực hiện thanh toán sau khi Bên C nhận được tiền ủy thác của Bên B và Hợp đồng chuyển nhượng bản gốc có chữ ký và con dấu đầy đủ của các bên theo thông tin sau:</p>

    <p><em>Party B will transfer directly to Party B’s account under the name of Party B at Vietcombank. Party B allows Part C to transfer from that account to Party C’s account in order to pay Total value of transferred shares in Article 3.1 to Party A. Party C only implements the transfer after receiving trust value (Total value of transferred shares) and this contract signed and sealed by all Parties as follows:</em></p>

    <p>+ Người thụ hưởng : Công ty Cổ phần C3 Group</p>

    <p><em>Beneficiary : C3 Group Joint Stock Company</em></p>

    <p>+ Số tài khoản : 1029328888</p>

    <p><em>Bank account : 1029328888</em></p>

    <p>+ Tại ngân hàng : Vietcombank</p>

    <p><em>Bank : Vietcombank</em></p>

    <p>+ Nội dung : “Thanh toán Tổng giá trị chuyển nhượng cổ phần Sailfish” hoặc “Thanh toán Tổng giá trị chuyển nhượng cổ phần Sailfish theo Hợp đồng chuyển nhượng cổ phần số @Model.CodeContract”</p>

    <p><em>Content : “Payment of the total value of transferred shares of Sailfish” or “Payment the total value of transferred shares of Sailfish under the Share Transfer Agreement No. @Model.CodeContract”</em></p>

    <p>4.3. Trường hợp thanh toán bằng chuyển khoản, Bên B sẽ chuyển khoản vào tài khoản của Bên C phần vốn ủy thác đầu tư theo chỉ dẫn thanh toán sau:</p>

    <p><em>In case of paying by bank transfer, Party B will transfer money to Party C's bank account according to the following payment instructions:</em></p>

    <p>+ Người thụ hưởng : Công ty Cổ phần Quản lý Quỹ Amber - @Model.Name</p>

    <p><em>Beneficiary : Amber Fund Management Company - @Model.PrintName</em></p>

    <p style="line-height: 47px;">+ Số tài khoản : @Model.AccountBank2</p>

    <p><em>Bank account : @Model.AccountBank2 </em></p>

    <p>+ Tại ngân hàng : Vietcombank</p>

    <p><em>Bank : Vietcombank</em></p>

    <p>+ Nội dung : “Nộp tiền ủy thác theo hợp đồng ủy thác số  @Model.CodeManagementCatalog</p>

    <p><em>Content : “Deposit trust money of the Trust Agreement No. @Model.CodeManagementCatalog”</em></p>

    <p>4.4. Sau khi Bên C nhận được vốn ủy thác của Bên B và thực hiện đầu tư vào cổ phần Bên A theo quy định tại Điều 3 Hợp đồng này, Bên C sẽ gửi thông báo về việc đã nhận vốn đầu tư ủy thác và tiến độ thanh toán khoản đầu tư trên cho Bên B qua email và Công ty qua email <a href="mailto:cad@sailfish.vn">cad@sailfish.vn</a> </p>

    <p><em>After Party C receives trust money of Party B and buys shares of Party A as prescribed in Article 3 of this Agreement, Party C will send a notice of receipt of trust money and</em> payment <em>progress to Party B via its email and the Company via email: <a href="mailto:cad@sailfish.vn">cad@sailfish.vn</a> </em></p>

    <p><em>4.5. </em>Việc thực hiện thanh toán giá trị chuyển nhượng cổ phần theo Hợp đồng này sẽ được thực hiện ngay khi Bên C nhận được Hợp đồng chuyển nhượng gốc và khoản tiền ủy thác mà Bên C nhận được trước 15h cùng ngày. Trường hợp bên C đã nhận Hợp đồng chuyển nhượng bản gốc nhưng tiền ủy thác Bên B chuyển vào tài khoản ủy thác tại Bên C sau 15h thì Ngày giao dịch thực hiện sẽ được ghi nhận là ngày tiếp theo khi Bên C thực hiện thanh toán trong giờ hành chính cho Bên A vào ngày tiếp theo. Trường hợp Ngày tiếp theo rơi vào ngày nghỉ (thứ 7, chủ nhật và ngày lễ, tết) thì giao dịch được thực hiện vào ngày liền kề của ngày nghỉ đó.</p>

    <p><em>The payment of transferred share value under this Agreement will be made within the same day for the trust money received by Party C before 15:00 on the same day. With the money that Party B transfers to the trust account at Party C after 15:00, Transaction date will be recognized as the next day and Party C will transfer to Party A on the next working day. In case the next working day falls on a holiday (Saturday, Sunday and public holiday), the transaction shall be performed on the next day of those holidays.</em></p>

    <p><strong><span class="underline">ĐIỀU 5: THỎA THUẬN VỀ THỰC HIỆN THỦ TỤC CHỨNG NHẬN TƯ CÁCH CỔ ĐÔNG CỦA BÊN B </span></strong></p>

    <p><strong><span class="underline">ARTICLE 5: AGREEMENT ON CONDUCTING THE PROCEDURES TO VERIFY PARTY B AS SHAREHOLDER</span></strong></p>

    <p>5.1. Ủy thác quản lý Cổ phần chuyển nhượng</p>

    <p><em>Entrustment of managing transferred shares </em></p>

    <p>- Bên B đồng ý và chỉ định Bên C là đơn vị nhận ủy thác đứng tên Cổ phần chuyển nhượng theo quy định tại Hợp đồng ủy thác số @Model.CodeManagementCatalog ngày @(Model.DatePaydone != null ? Model.DatePaydone?.ToString("dd/MM/yyyy") : "").</p>

    <p><em>Party B agrees and assigns Party C as a trustee for transferred shares specified at the Transfer Agreement No. @Model.CodeManagementCatalog on @dateTTHD2.</em></p>

    <p>- Theo đó, các Bên thống nhất, tại Ngày giao dịch thực hiện (được quy định theo điều khoản 4.5 của Hợp đồng này), Bên A có trách nhiệm thực hiện thủ tục pháp lý đăng ký thông tin của Bên C với tư cách chủ sở hữu cổ phần vào Sổ Đăng ký cổ đông của Công ty. </p>

    <p><em>Accordingly, the Parties agree that on the transaction date (as article 4.5 of this Agreement), Party A is responsible for carrying out legal procedures to verify Party C as the share owner in the Registration Book of Shareholders of the Company.</em></p>

    <p>- Kết thúc thời hạn ủy thác của Bên B tại Bên C, Bên C có trách nhiệm phối hợp với Công ty để chuyển quyền sở hữu Cổ phần chuyển nhượng sang Bên B và đăng ký thông tin Bên B vào Sổ đăng ký cổ đông của Công ty. </p>

    <p><em>After the entrustment period between Party B and Party C, Party C is responsible for coordinating with the Company to transfer ownership of the transferred shares to Party B and add Party B's information in the Registration Book of Shareholders of the Company.</em></p>

    <p>5.2. Bên A và Bên C cam kết Bên B được hưởng toàn bộ cổ tức, quyền và lợi ích phát sinh gắn liền với Cổ phần chuyển nhượng, bao gồm nhưng không giới hạn các nội dung sau: (i) cổ tức bằng tiền mặt; (ii) cổ tức bằng cổ phiếu; (iii) cổ phần được chia thưởng; (iv) các quyền và lợi ích khác gắn liền/ phát sinh từ Cổ phần chuyển nhượng(nếu có) ngay sau khi Bên C thanh toán đầy đủ Tổng giá trị chuyển nhượng Cổ phần theo Điều 3 của Hợp đồng này không phụ thuộc vào việc quyền sở hữu Cổ phần và Cổ phiếu đã được chuyển giao cho Bên B hay chưa. Theo đó, Bên C sẽ thay mặt Bên B nhận toàn bộ các khoản lợi tức, quyền lợi (nếu có) và chuyển lại cho Bên B trong vòng 01(một) ngày làm việc sau khi nhận được từ Công ty.</p>

    <p><em>Party A and Party C commit that Party B will enjoy all dividends, rights and benefits attached to the transferred shares, including but not limited to the following: (i) cash dividends; (ii) stock dividends; (iii) bonus shares; (iv) other rights and interests attached to/arising from the transferred shares (if any) right after Party C fully pays the total value of the transferred shares under Article 3 of this Agreement regardless of whether the share ownership has been transferred to Party B. Accordingly, on behalf of Party B, Party C will receive all dividends and benefits (if any) and return them to Party B within 01 (one) working day after receiving them from the Company.</em></p>

    <p>5.3. Kể từ Ngày giao dịch thực hiện, Bên B được quyền tự do chuyển nhượng Cổ phần chuyển nhượng cho Bên thứ ba. Bên B sẽ chỉ định Bên C thực hiện các thủ tục chuyển nhượng phù hợp với quy định tại Điều lệ Công ty và quy định pháp luật.</p>

    <p><em>From the transaction date, Party B is entitled to freely transfer the transferred shares to the third party. Party B will appoint Party C to carry out the transfer procedures in accordance with the provisions of the Company's Charter and legal regulations.</em></p>

    <!--<p>   Trong thời hạn 02 năm kể từ thời điểm Bên C thanh toán đầy đủ Tổng giá trị Cổ phần chuyển nhượng, Bên B và/ hoặc Bên C đồng ý ủy quyền toàn bộ và không hủy ngang các quyền và nghĩa vụ của Cổ đông cho Bên A (ngoại trừ quyền chuyển nhượng, cầm cố và đăng ký mua thêm cổ phần phát hành mới (nếu có)) phát sinh từ (i) số cổ phần chuyển nhượng nêu trên và (ii) số cổ phần được chia thưởng và trả cổ tức bằng cổ phiếu phát sinh từ só cổ phần chuyển nhượng nêu trên.</p>

    <p><em>Within 2 years from the time Party C fully pays the total value of transferred shares, Party B and/or Party C agree to entrust all and not to refuse the righs and obligations as Shareholder of Part A (except for the right to transfer, pledge and register to buy more new issued shares (if any)) arising from (i) the transferred shares above and (ii) the number of shares to be distributed and paid by stock dividends arising from the transferred shares above.</em></p>

    <p>   Để làm rõ quy định này, tại mỗi cuộc họp Đại Hội đồng cổ đông của Công ty, Bên C sẽ ủy quyền cho Bên A được quyền nhân danh và thay mặt bên C phát biểu và biểu quyết tại cuộc họp Đại hội đồng Cổ đông của Công ty với số phiếu biểu quyết tương ứng Cổ phần chuyển nhượng phù hợp với quy định tại Điều lệ Công ty.</p>

    <p><em> To clarify this provision, at each General Meeting of Shareholders of the Company, Party C will authorize Party A to speak and vote on behalf of Party C with the number of votes equivalent to transferred shares in accordance with the provisions of the Company's Charter.</em></p>

    <p>   Bên C tại đây cam kết và bảo đảm rằng Bên C sẽ không tự mình thực hiện bất kỳ công việc nào mà Bên C đã ủy quyền toàn bộ và không hủy ngang cho Bên A tại điểm a) nêu trên.</p>

    <p><em> Party C is committed to and warrants that Party C will not perform any work on its own that Party C has fully and irrevocably authorized to Party A at point a) above.</em></p>-->

    <p><strong><span class="underline">ĐIỀU 6: CAM ĐOAN VÀ ĐẢM BẢO CỦA CÁC BÊN</span></strong></p>

    <p><strong><span class="underline">ARTICLE 6: ASSURANCE AND WARRANTY</span></strong></p>

    <p>6.1. Các điều khoản, nội dung của Hợp đồng cùng với việc ký kết và thực hiện Hợp đồng sẽ không mâu thuẫn hoặc dẫn đến sự vi phạm đối với bất kỳ thỏa thuận hay văn kiện nào khác mà mỗi Bên đã ký kết hoặc tham gia.</p>

    <p><em>The terms and contents of the Agreement together with the signing and performance of the Agreement shall not conflict with or lead to a breach of any other agreements or documents that each Party has signed or entered into.</em></p>

    <p>6.2. Bên A cam kết đang là chủ sở hữu hợp pháp của Cổ phần chuyển nhượng và chịu trách nhiệm trước pháp luật về tính hợp pháp, hợp lệ của cổ phần chuyển nhượng. </p>

    <p><em>Party A is committed to being the legal owner of transferred shares and is responsible for legal validity of transferred shares.</em></p>

    <p>6.3. Các Bên có đầy đủ năng lực thực hiện Thỏa thuận và tuân thủ nghiêm ngặt mọi quy định tại Hợp đồng này.</p>

    <p><em>The Parties are fully capable of implementing the Agreement and strictly complying with all provisions of this Agreement.</em></p>

    <p>6.4. Mỗi bên cam kết bảo mật thông tin của Hợp đồng này và các giao dịch khác liên quan đến Hợp đồng này, chỉ được tiết lộ nội dung của Hợp đồng khi (i) được bên còn lại chấp thuận bằng văn bản; (ii) Theo yêu cầu của pháp luật, cơ quan nhà nước có thẩm quyền; (iii) Cho mục đích kế toán, kiểm toán hoặc thủ tục thực hiện chuyển quyền sở hữu Cổ phần; (iv) Cho mục đích tuân thủ nội bộ và vận hành khác của mỗi Bên. Quy định này vẫn được bảo lưu hiệu lực sau khi Hợp đồng này chấm dứt.</p>

    <p><em>Each party undertakes to keep the information of this Agreement and other transactions related to this Agreement confidential, only discloses the contents of the Agreement when (i) it is approved in writing by the other party; (ii) As required by law, competent authorities; (iii) For accounting, auditing purposes or procedures for share ownership transfer; (iv) For each Party's internal compliance and other operational purposes. This provision shall remain in effect after the termination of this Agreement.</em></p>

    <p><strong><span class="underline">ĐIỀU 7: CHẤM DỨT HỢP ĐỒNG</span></strong></p>

    <p><strong><span class="underline">ARTICLE 7: TERMINATION OF AGREEMENT</span></strong></p>

    <p>Hợp đồng này chấm dứt trong các trường hợp:</p>

    <p><em>This Agreement is terminated in such cases as:</em></p>

    <p>7.1. Các bên hoàn thành nghĩa vụ của Hợp đồng;</p>

    <p><em>The Parties fully complete their rights in the Agreement;</em></p>

    <p>7.2. Hai bên thỏa thuận chấm dứt hợp đồng;</p>

    <p><em>The Parties agree to terminate the Agreement; </em></p>

    <p>7.3. Theo quyết định của cơ quan quản lý Nhà nước có thẩm quyền khi một trong hai bên vi phạm nghĩa vụ, thực hiện hành vi bị cấm;</p>

    <p><em>According to a decision of a competent State agency, when either party violates its obligations</em> or performs prohibited acts;</p>

    <p>7.4. Một bên vi phạm nghiêm trọng một phần hoặc toàn bộ nghĩa vụ của Hợp đồng này mà không khắc phục trong thời hạn tối đa 07 (bảy) ngày làm việc hoặc một thời gian hợp lý do Bên bị vi phạm đưa ra, thì Bên bị vi phạm có quyền yêu cầu đơn phương chấm dứt Hợp đồng mà không phải thông báo trước bằng văn bản cho Bên vi phạm;</p>

    <p><em>If a Party seriously violates part or all of its obligations under this Agreement and fails to recover it within a maximum period of 07 (seven) working days or a reasonable duration set forth by the aggrieved Party, the aggrieved Party shall have the right to request termination of the Agreement without sending written notice to the violating Party;</em></p>

    <p>7.5. Bên A giải thể hoặc bị thu hồi giấy phép;</p>

    <p><em>Party A dissolves or has its license revoked;</em></p>

    <p>7.6. Bên B chết hoặc bị tuyên bố chết, mất tích mà người thừa kế hợp pháp của khách hàng không đồng ý tiếp tục ký kết Hợp đồng;</p>

    <p><em>Party B dies, is declared dead or missing but the legal heir of the customer does not agree to continue to sign the Agreement;</em></p>

    <p>7.7. Các trường hợp khác theo quy định của pháp luật.</p>

    <p><em>Other cases are based on the provisions of the law.</em></p>

    <p><strong><span class="underline">ĐIỀU 8: BẤT KHẢ KHÁNG</span></strong></p>

    <p><strong><span class="underline">ARTICLE 8: FORCE MAJEURE</span></strong></p>

    <p>8.1. Nếu một Bên không có khả năng thực hiện các nghĩa vụ của mình quy định tại Hợp đồng do có Sự Kiện Bất Khả Kháng, thì Bên đó phải thông báo bằng văn bản cho Bên còn lại trong vòng hai mươi (20) ngày sau khi xảy ra Sự Kiện Bất Khả Kháng đó, thảo luận và thống nhất giải pháp để hạn chế thiệt hại trong phạm vi có thể.</p>

    <p><a name="_Hlk74754678"><em>If a Party is unable to perform its obligations under the Agreement due to a Force Majeure Event, that Party must notify the other Party in writing within twenty (20) days after occurrence of such Force Majeure Event and must consult with the other Party, and each Party shall use reasonable efforts to limit damages within their capabilities.</em></a></p>

    <p>8.2. Nếu Các Bên đồng ý, việc thực hiện Hợp Đồng của Các Bên có thể được đình chỉ tạm thời trong thời gian xảy ra Sự Kiện Bất Khả Kháng.</p>

    <p><em>If the Parties agree, their performance of the Agreement may be temporarily suspended during the occurrence of the Force Majeure Event.</em></p>

    <p><strong><span class="underline">ĐIỀU 9: THÔNG BÁO</span></strong></p>

    <p><strong><span class="underline">ARTICLE 9: NOTICE</span></strong></p>

    <p>9.1. Mọi thông báo hay trao đổi thông tin theo Hợp Đồng phải được gửi cho Các Bên theo địa chỉ phù hợp nêu tại phần giới thiệu Các Bên trong Hợp Đồng.</p>

    <p><em>All notices or communications under the Agreement must be sent to the Parties at the appropriate address specified in the introduction of the Parties in the Agreement.</em></p>

    <p>9.2. Trong trường hợp một Bên thay đổi địa chỉ, Bên đó phải thông báo cho Bên kia bằng văn bản, sau khi Bên kia xác nhận, địa chỉ mới sẽ thay thế địa chỉ được nêu trong Hợp Đồng và được sử dụng là địa chỉ để gửi mọi thông báo liên quan đến Hợp Đồng.</p>

    <p><em>In case a Party changes its address, that Party must notify the other Party in writing, and upon confirmation by the other Party, the new address will replace the address stated in the Agreement and be used as the address to send all notices related to the Agreement.</em></p>

    <p>9.3. Ngày mà Thông Báo được xem như đã gửi cho bên kia là ngày gửi nếu được gửi trực tiếp; hoặc là ngày được ghi trên xác nhận văn bản người nhận nếu được gửi thông qua dịch vụ chuyển phát nhanh có biên nhận hoặc qua đường bưu điện bằng thư bảo đảm. Bất kỳ Bên nào cũng có thể thay đổi địa chỉ gửi Thông Báo bằng cách gửi Thông Báo về sự thay đổi theo hình thức quy định ở trên.</p>

    <p><em>The date on which the Notice is deemed delivered to the other party is the sending date if it is sent in person; or the date shown on the recipient's written confirmation if it is sent via express delivery with a receipt or by registered mail. Any Party may change the address of receiving the Notice by submitting the Notice on changes in the form specified above.</em></p>

    <p><strong><span class="underline">ĐIỀU 10: ĐIỀU KHOẢN CHUNG</span></strong></p>

    <p><strong><span class="underline">ARTICLE 10: GENERAL TERMS</span></strong></p>

    <p>10.1. Hợp Đồng này có hiệu lực kể từ ngày ký và sẽ được tự động thanh lý sau khi các Bên đã hoàn thành mọi nghĩa vụ quy định tại Hợp Đồng này. </p>

    <p><em>This Agreement takes effect from the signing date and will be automatically liquidated after the Parties have fulfilled all obligations specified in this Agreement.</em></p>

    <p>10.2. Trong quá trình thực hiện, các Bên sẽ thông báo cho nhau biết tiến độ thực hiện, nếu có phát sinh vướng mắc, các Bên cùng thống nhất giải quyết trên tinh thần hợp tác, bình đẳng và cùng có lợi. Trường hợp không giải quyết được tranh chấp bằng thương lượng, hai Bên thống nhất đưa vụ việc ra Toà án có thẩm quyền giải quyết theo quy định của pháp luật.</p>

    <p><em>During the implementation process, the Parties will notify each other of the implementation progress. If any problems arise, the Parties agree to solve them in the spirit of cooperation, equality and mutual benefit. In case the dispute cannot be resolved by negotiation, the two Parties agree to bring the case to a competent Court for settlement according to the provisions of law.</em></p>

    <p>10.3. Mọi sửa đổi, bổ sung Hợp Đồng này (nếu có) đều phải được các Bên thoả thuận nhất trí bằng văn bản, có chữ ký của đại diện có thẩm quyền của các Bên. Các văn bản này (nếu có) sẽ là một phần không tách rời của Hợp đồng này.</p>

    <p><em>All amendments and supplements to this Agreement (if any) must be agreed upon by the Parties in writing and signed by authorized representatives of the Parties. These documents (if any) shall form an integral part of this Agreement.</em></p>

    <p>10.4. Việc bất kỳ quy định nào của Hợp đồng không có hiệu lực sẽ không ảnh hưởng tới hiệu lực của bất kỳ quy định nào khác trong Hợp đồng.</p>

    <p><em>The invalidity of any provision of the Agreement shall not affect the validity of any other provision of the Agreement.</em></p>

    <p>10.5. Hợp Đồng này được lập thành 04 (bốn) bản có giá trị pháp lý như nhau, mỗi Bên giữ 01 bản và Công ty giữ 01 bản.</p>

    <p><em>This Agreement is made in 04 (four) copies with the same legal validity, each Party keeps 01 copy and 01 copy to be kept at the Issuer.</em></p>

    <p><strong></strong></p>

    <p><strong><em>Để khẳng định những thỏa thuận và cam kết nêu trên, các đại diện hợp pháp của Các Bên đã ký và đóng dấu dưới đây:</em></strong></p>

    <p><em>To confirm the agreements and commitments above, the legal representatives of the Parties sign and stamp below:</em></p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="33%" valign="top">
                    <p style="text-align: center"><strong>ĐẠI DIỆN BÊN A</strong></p>
                    <p style="text-align: center"><strong>REPRESENTATIVE OF PARTY A</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    @*@if (Model.IdStatusContract == "PayDone" && !string.IsNullOrEmpty(Model.InvestorSignature))
                {
                    <p style="text-align: center;">
                        <img width="250" src="https://@HttpContextAccessor.HttpContext.Request.Host.Value/Assets/SA/images/contract/sep_thai.png" />
                    </p>
                }
                else
                {*@
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    @*}*@
                    <p><strong>&nbsp;</strong></p>
                </td>

                <td width="33%" valign="top">
                    <p style="text-align: center"><strong>BÊN B</strong></p>
                    <p style="text-align: center"><strong>PARTY B</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    @*@if (string.IsNullOrEmpty(Model.InvestorSignature))
                {*@
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    @*}
                else
                {
                    <p style="text-align: center">
                        <img width="250" src="@Model.InvestorSignature.Replace("\\", "/")" />
                    </p>
                    <p><strong>&nbsp;</strong></p>
                }*@
                </td>

                <td width="33%" valign="top">
                    <p style="text-align: center"><strong>ĐẠI DIỆN BÊN C</strong></p>
                    <p style="text-align: center"><strong>REPRESENTATIVE OF PARTY C</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    @*@if (Model.IdStatusContract == "PayDone" && !string.IsNullOrEmpty(Model.InvestorSignature))
                {
                    <p style="text-align: center;">
                        <img width="250" src="https://@HttpContextAccessor.HttpContext.Request.Host.Value/Assets/SA/images/contract/sep_thai.png" />
                    </p>
                }
                else
                {*@
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    @*}*@
                    <p><strong>&nbsp;</strong></p>
                </td>
            </tr>
            <tr>
                <td width="33%" valign="top">
                    <p style="text-align: center;"><strong><i>NGUYỄN VĂN THÁI</i></strong></p>
                </td>

                <td width="33%" valign="top">
                    <p style="text-align: center;"><strong><i>@Model.Name.ToUpper()</i></strong></p>
                </td>

                <td width="33%" valign="top">
                    <p style="text-align: center;"><strong><i>DOÃN HỒ LAN</i></strong></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p id="break-page">&nbsp;</p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <p style="text-align: center"><strong>XÁC NHẬN CỦA TỔ CHỨC PHÁT HÀNH</strong></p>

                    <p style="text-align: center"><strong>CONFIRMATION OF ISSUER</strong></p>

                    <p>Công ty Cổ phần Tập đoàn Sailfish xác nhận Bên chuyển nhượng với mã số cổ đông số SFG0006 đã chuyển nhượng @String.Format("{0:#,0}", (decimal)Model.CountShare) (bằng chữ: @Model.CountShareVN) cổ phần Công ty Cổ phần Tập đoàn Sailfish sang Bên C thông qua ủy thác của Bên B cho Bên C kể từ ngày @(Model.DatePaydone != null ? Model.DatePaydone.Value.ToString("dd/MM/yyyy") : $"__/__/{DateTime.Now.Year}").</p>

                    <p>Sailfish Group Joint Stock Company certifies that the Transferor with the shareholder code No. SFG0006 transferred @String.Format("{0:#,0}", (decimal)Model.CountShare) (<em>in words: </em>@Model.CountShareEN) shares of Sailfish Group Joint Stock Company to the Transferee from @(Model.DatePaydone != null ? dateTTHD2 : $"__/__/{DateTime.Now.Year}").</p>
                    @*@if (Model.IdStatusContract == "PayDone" && !string.IsNullOrEmpty(Model.InvestorSignature))
                    {
                        <p style="text-align: center;">
                            <img width="220" src="https://@HttpContextAccessor.HttpContext.Request.Host.Value/Assets/SA/images/contract/sep_thuy.png" />
                        </p>
                    }
                    else
                    {*@
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>&nbsp;</strong></p>
                    @*}*@
                    <p style="text-align: center;"><strong><i>NGUYỄN THỊ THANH THỦY</i></strong></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    function PreviewPrint() {
        window.print();
        window.close();
    }
    function Export2Doc(element, filename = '') {
        //  _html_ will be replace with custom html
        var meta = "Mime-Version: 1.0\nContent-Base: " + location.href + "\nContent-Type: Multipart/related; boundary=\"NEXT.ITEM-BOUNDARY\";type=\"text/html\"\n\n--NEXT.ITEM-BOUNDARY\nContent-Type: text/html; charset=\"utf-8\"\nContent-Location: " + location.href + "\n\n<!DOCTYPE html>\n<html>\n_html_</html>";
        //  _styles_ will be replaced with custome css
        var head = "<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<style>\n_styles_\n</style>\n</head>\n";

        var html = document.getElementById(element).innerHTML;

        var blob = new Blob(['\ufeff', html], {
            type: 'application/msword',
        });

        var css = (
            '<style>' +
            'img {width:300px;}table {border-collapse: collapse; border-spacing: 0;}td{padding: 6px;}' +
            '</style>'
        );
        //  Image Area %%%%
        var options = { maxWidth: 624 };
        var images = Array();
        var img = $("#" + element).find("img");
        for (var i = 0; i < img.length; i++) {
            // Calculate dimensions of output image
            var w = Math.min(img[i].width, options.maxWidth);
            var h = img[i].height * (w / img[i].width);
            // Create canvas for converting image to data URL
            var canvas = document.createElement("CANVAS");
            canvas.width = w;
            canvas.height = h;
            // Draw image to canvas
            var context = canvas.getContext('2d');
            context.drawImage(img[i], 0, 0, w, h);
            // Get data URL encoding of image
            var uri = canvas.toDataURL("image/png");
            $(img[i]).attr("src", img[i].src);
            img[i].width = w;
            img[i].height = h;
            // Save encoded image to array
            images[i] = {
                type: uri.substring(uri.indexOf(":") + 1, uri.indexOf(";")),
                encoding: uri.substring(uri.indexOf(";") + 1, uri.indexOf(",")),
                location: $(img[i]).attr("src"),
                data: uri.substring(uri.indexOf(",") + 1)
            };
        }

        // Prepare bottom of mhtml file with image data
        var imgMetaData = "\n";
        for (var i = 0; i < images.length; i++) {
            imgMetaData += "--NEXT.ITEM-BOUNDARY\n";
            imgMetaData += "Content-Location: " + images[i].location + "\n";
            imgMetaData += "Content-Type: " + images[i].type + "\n";
            imgMetaData += "Content-Transfer-Encoding: " + images[i].encoding + "\n\n";
            imgMetaData += images[i].data + "\n\n";

        }
        imgMetaData += "--NEXT.ITEM-BOUNDARY--";
        // end Image Area %%

        var output = meta.replace("_html_", head.replace("_styles_", css) + html) + imgMetaData;

        // Specify link url
        var url =
            'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(output);
        // Specify file name
        filename = filename ? filename + '.doc' : 'document.doc';
        // Create download link element
        var downloadLink = document.createElement('a');
        document.body.appendChild(downloadLink);
        if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = url;
            // Setting the file name
            downloadLink.download = filename;
            //triggering the function
            downloadLink.click();
        }
        document.body.removeChild(downloadLink);
    }

</script>
