@model CRMBussiness.ViewModel.TimeKeepingViewModel

<div class="header-modal">
    <h3 class="modal__title">Chỉnh sửa chấm công</h3>
    <span title="close" modal-show="close" class="close__modal">
        <img src="/Assets/crm/images/layout/close-modal.svg" alt="" />
    </span>
</div>
<div class="body-modal">
    <form>
        <div class="bs-row">
            <!-- modal item -->
            <input type="hidden" value="@Model.Id" name="Id" />
            <input type="hidden" value="@Model.CodeKeeping" name="CodeKeeping" />
            <input type="hidden" value="@Model.CodeStaff" name="CodeStaff" />
            <input type="hidden" value="@Model.Month" name="Month" />
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>ID</label>
                    @Html.EditorFor(model => model.CodeStaff, new { htmlAttributes = new { disabled = "disabled" } })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Họ và tên</label>
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { disabled = "disabled" } })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label data-role="@Model.RoleAccount">Chức vụ</label>
                    <input type="hidden" value="@Model.RoleAccount" name="RoleAccount" />
                    <input type="text" value="@(CRMSite.Common.Helper.GetRoleName(Model.RoleAccount))" name="RoleName" disabled />
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Số công thực tế</label>
                    @Html.EditorFor(model => model.TotalWorkingDays, new { htmlAttributes = new { @type = "text", @class = "total-working-days isOneDecimalNumber" } })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Số lần đi muộn</label>
                    @Html.EditorFor(model => model.TotalLates, new { htmlAttributes = new { @type = "number", @class = "total-lates" } })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Số lần về sớm</label>
                    @Html.EditorFor(model => model.TotalEarlyOuts, new { htmlAttributes = new { @type = "number", @class = "total-early-outs" } })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Số công ty nghỉ không lý do</label>
                    @Html.EditorFor(model => model.TotalWithoutReason, new { htmlAttributes = new { @type = "number", @class = "total-without-reason" } })
                </div>
            </div>
            <!-- modal item -->
            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Số lần quên checkout</label>
                    @Html.EditorFor(model => model.ForgetCheckOutIn, new { htmlAttributes = new { @type = "number", @class = "forget-check-outin" } })
                </div>
            </div>

            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Nghỉ có phép</label>
                    @Html.EditorFor(model => model.TotalTakeLeaveInMonth, new { htmlAttributes = new { @type = "text", @class = "income-tax isOneDecimalNumber" } })
                </div>
            </div>

            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Tổng số show up(telesale)</label>
                    @*@Html.EditorFor(model => model.TotalShowupInMonth, new { htmlAttributes = new { @type = "text", @class = "showup-in-month isOneDecimalNumber" } })*@
                <input type="text" min="0" class="showup-in-month isOneDecimalNumber" name="TotalShowupInMonth"
                       value="@((Model.RoleAccount == 8 || Model.RoleAccount == 9) ? (Model.TotalShowupInMonth??0).ToString()
                                    : string.Empty)"
                       style="text-align: center"
                       disabled="@(Model.RoleAccount != 8 && Model.RoleAccount != 9)" @*NamNP*@ />
                </div>
            </div>

            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Tổng số hợp đồng(telesale)</label>
                    @*@Html.EditorFor(model => model.TotalContract, new { htmlAttributes = new { @type = "text", @class = "contracts-in-month isOneDecimalNumber" } })*@
                <input type="text" min="0" class="contracts-in-month isOneDecimalNumber" name="TotalContract"
                       value="@((Model.RoleAccount == 8 || Model.RoleAccount == 9) ?
                                    (Model.TotalContract??0).ToString(): string.Empty)"
                       disabled="@(Model.RoleAccount != 8 && Model.RoleAccount != 9)" @*NamNP*@
                       style="text-align: center" />
                </div>
            </div>

            <div class="bs-col md-33">
                <div class="modal-item">
                    <label>Tổng số doanh thu(sale)</label>
                    @*<input type="text" value="@String.Format("{0:#,0}", Model.RevenueInMonth ?? 0)" name="RevenueInMonth" class="revenue-in-month isNumber" />*@
                <input type="text" min="0" class="revenue-in-month isNumber" name="RevenueInMonth"
                       value="@((Model.RoleAccount == 4 || Model.RoleAccount == 5 || Model.RoleAccount == 6)
                                        ? (String.Format("{0:#,0}", Model.RevenueInMonth??0)) : string.Empty)"
                       style="text-align: center; min-width: 150px;"
                       disabled="@(Model.RoleAccount != 4 && Model.RoleAccount != 5 && Model.RoleAccount != 6)" />
                </div>
            </div>

        </div>
    </form>
</div>
<div class="footer-modal">
    <button id="save-edit-tk"
            onclick="UpdateTimekeeping()"
            class="close__btn btn-green"
            type="button">
        Cập nhật
    </button>
    <button modal-show="close"
            class="close__btn btn-gray"
            type="button">
        Hủy bỏ
    </button>
</div>
