@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    string currentUrl = Context.Request.Path.Value.ToUpper();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PHẦN MỀM CMS BOOK</title>
    @*<link rel="icon" href="/Assets/SA/images/icon/fav_icon.png" type="image/png">*@
    <link rel="stylesheet" type="text/css" href="/Assets/SA2/css/tool.min.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/SA2/css/main.min.css" />
    <link href="~/Assets/SA2/css/update.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <link href="~/css/update.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
</head>

<body class="index">
    <div class="loading-wrapper" style="display: none;">
        <div id="loading">
            <div id="loading-dot"></div>
            <div id="loading-dot"></div>
            <div id="loading-dot"></div>
        </div>
    </div>

    <div class="main-web">
        <div class="main-left">
            <!-- <img src="/Assets/SA/images/layout/pattern.png" alt="" /> -->
            <div class="logo">
                <a href="#" class="link"><img src="/Assets/SA/images/layout/logo.png" alt="" /></a>
                <span class="show__menu"><i class="fas fa-bars"></i></span>
            </div>
            <div class="menu">
                <span class="close__menu"><i class="fas fa-times"></i></span>
                <div class="menu-list">
                    <li class="menu-list__item">
                        <a href="/SaleAdmin/PersonalInfo/Index" class="menu-list__link  @(currentUrl.Contains("/SALEADMIN/PERSONALINFO") ? "active" : "")">
                            <div class="img">
                                <img src="/Assets/crm/images/layout/employee-manage.svg"
                                     alt=""
                                     class="icon__cover" />
                                <img src="/Assets/crm/images/layout/employee-manage-active.svg"
                                     alt=""
                                     class="icon__hover" />
                            </div>
                            Quản lí nhân sự
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/SALEADMIN/SHOWUP") || currentUrl.Contains("/SALEADMIN/CHECKINOUT") ? "active" : "")">
                            <div class="img">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/Danh sach Show up (1).svg"
                                     alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/Danh sach Show up.svg" alt=""
                                     class="icon__hover" />
                            </div>
                            Quản lí Show up
                            <ul class="dropdown-list" style="display: @(currentUrl.Contains("/SALEADMIN/SHOWUP") || currentUrl.Contains("/SALEADMIN/CHECKINOUT") || currentUrl.Contains("/SALEADMIN/EXPECTEDINVESTOR") ? "block" : "none")">
                                <li class="dropdown-list__item" style="display: none;">
                                    <div class="dot"></div>
                                    <a href="/SaleAdmin/ShowUp/Index" class="dropdown-list__link">Danh sách Show up</a>
                                </li>
                                <li class="dropdown-list__item">
                                    <div class="dot @(currentUrl.Contains("/SALEADMIN/SHOWUP") ? "active" : "")"></div>
                                    <a href="/SaleAdmin/ShowUp/Index" class="dropdown-list__link">Danh sách sự kiện</a>
                                </li>
                                <li class="dropdown-list__item">
                                    <div class="dot @(currentUrl.Contains("/SALEADMIN/EXPECTEDINVESTOR") ? "active" : "")"></div>
                                    <a href="/SaleAdmin/ExpectedInvestor/Index" class="dropdown-list__link">Danh sách KH dự kiến</a>
                                </li>
                                <li class="dropdown-list__item">
                                    <div class="dot @(currentUrl.Contains("/SALEADMIN/CHECKINOUT") ? "active" : "")"></div>
                                    <a href="/SaleAdmin/CheckInOut/Index" class="dropdown-list__link">Danh sách Check In/Out</a>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/SALEADMIN/CONTRACTSTAFFS") || currentUrl.Contains("/SALEADMIN/CONTRACTSTAFFS") ? "active" : "")">
                            <div class="img">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL Hợp đồng (1).svg" alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL Hợp đồng.svg" alt="" class="icon__hover" />
                            </div>
                            Quản lí hợp đồng
                        </a>
                        <ul class="dropdown-list settings" style="display: @(currentUrl.Contains("/SALEADMIN/CONTRACTSTAFFS") || currentUrl.Contains("/SALEADMIN/CONTRACTSTAFFS") ? "block" : "none")">
                            <li class="dropdown-list__item">
                                <div class="dot @(currentUrl.Contains("/SALEADMIN/CONTRACTSTAFFS") ? "active" : "")"></div>
                                <a href="/SaleAdmin/ContractStaffs/Index" class="dropdown-list__link">Danh sách hợp đồng </a>
                            </li>
                            @*<li class="dropdown-list__item">
                    <div class="dot @(currentUrl.Contains("/SALEADMIN/CONTRACTSTAFFSBANGIAO") ? "active" : "")"></div>
                    <a asp-area="SaleAdmin" asp-controller="ContractStaffs" class="dropdown-list__link">Danh sách hợp đồng bàn giao</a>
                </li>*@
                        </ul>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/SALEADMIN/RATINGSALE") || currentUrl.Contains("/SALEADMIN/CONTRACTSTAFFS") ? "active" : "")">
                            <div class="img">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL Hợp đồng (1).svg" alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL Hợp đồng.svg" alt="" class="icon__hover" />
                            </div>
                            Quản lí doanh số sale
                        </a>
                        <ul class="dropdown-list settings" style="display: @(currentUrl.Contains("/SALEADMIN/RATINGSALE") || currentUrl.Contains("/SALEADMIN/RATINGSALE") ? "block" : "none")">
                            <li class="dropdown-list__item">
                                <div class="dot @(currentUrl.Contains("/SALEADMIN/RATINGSALE") ? "active" : "")"></div>
                                <a href="/SaleAdmin/RatingSale/Index" class="dropdown-list__link">Doanh số sale </a>
                            </li>
                            @*<li class="dropdown-list__item">
                    <div class="dot @(currentUrl.Contains("/SALEADMIN/CONTRACTSTAFFSBANGIAO") ? "active" : "")"></div>
                    <a asp-area="SaleAdmin" asp-controller="ContractStaffs" class="dropdown-list__link">Danh sách hợp đồng bàn giao</a>
                </li>*@
                        </ul>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link" href="/SaleAdmin/DepositAgreement/Index">
                            <div class="img @(currentUrl.Contains("/SALEADMIN/DEPOSITAGREEMENT") ? "active" : "")">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/Tra cứu bàn giao.svg" alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/Tra cứu bàn giao-1.svg" alt="" class="icon__hover" />
                            </div>
                            Thỏa thuận đặt cọc
                        </a>
                    </li>
                    <li class="menu-list__item hidden">
                        <a class="menu-list__link" href="/SaleAdmin/DepositAgreement/Index">
                            <div class="img">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/Tra cứu bàn giao.svg" alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/Tra cứu bàn giao-1.svg" alt="" class="icon__hover" />
                            </div>
                            Tra cứu bàn giao
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/SALEADMIN/SALEREVENUESTATISTICS") ? "active" : "")" href="/SaleAdmin/SaleRevenueStatistics/Index">
                            <div class="img">
                                <img src="/Assets/crm/images/layout/statistic.svg" alt="" class="icon__cover" />
                                <img src="/Assets/crm/images/layout/statistic-active.svg"
                                     alt=""
                                     class="icon__hover" />
                            </div>
                            Báo cáo - thống kê
                        </a>
                    </li>
                </div>
                <div class="right">
                    <img src="/Assets/SA/images/layout/right.png" alt="" />
                    <span>© 2021 - Bản quyền thuộc về Công ty CP Bytesoft Việt Nam</span>
                </div>
            </div>
        </div>
        <div class="main-right">
            <div id="header">
                <div class="header_left">
                    <img src="/Assets/SA/images/layout/bars.svg" alt="" class="bars" />
                    <span>PHẦN MỀM CMS BOOK</span>
                </div>
                <div class="header_right">
                    @*<span style="color: #17ca89; padding-right: 20px;">
                            <span>CP: </span>
                            <b>@HttpContextAccessor.HttpContext.Session.GetInt32(CRMSite.Common.SiteConst.SessionKey.OWN_SHARE)</b>
                        </span>*@
                    <a href="/Home/Logout">
                        <img title="Đăng xuất" src="/Assets/crm/images/log out.svg" alt="" />
                    </a>
                    @*<img src="/Assets/SA/images/layout/search.svg" alt="" />
                        <img src="/Assets/SA/images/layout/notifications.svg" alt="" />*@
                    <img src="/Assets/SA/images/layout/avt.png" alt="" />
                    <img src="/Assets/SA/images/layout/dots.svg" alt="" />
                </div>
            </div>
            <div id="main">
                <div class="main-content">
                    @RenderBody()
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Assets/SA2/js/tool.min.js"></script>
    <script src="/Assets/SA/js/main.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/pagination.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select_status').select2();
            $('.select_modal2').select2();
        });

        function openModal(id) {
            var ID = $(`#${id}`)[0];
            $(ID).addClass("show-modal");
            $(ID).find(".content-modal").addClass("show-modal");
            $("body").addClass("active-modal");
        }

        function closeModal(id) {
            var ID = $(`#${id}`)[0];
            setTimeout(function () {
                $(".bs-modal").removeClass("show-modal");
                $("body").removeClass("active-modal");
            }, 500);
            $(ID).parents(".bs-modal").find(".content-modal").removeClass("show-modal");
        }

    </script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
