@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    string currentUrl = Context.Request.Path.Value.ToUpper();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PHẦN MỀM CRM SAILFISH</title>
    @*<link rel="icon" href="/Assets/SA/images/icon/fav_icon.png" type="image/png">*@
    <link rel="stylesheet" type="text/css" href="/Assets/SA/css/tool.min.css" />
    <link rel="stylesheet" type="text/css" href="/Assets/SA/css/main.min.css" />
    <link href="~/css/update.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>

<body class="index">
    <div class="loading-wrapper" style="display: none;">
        <div id="loading">
            <div id="loading-dot"></div>
            <div id="loading-dot"></div>
            <div id="loading-dot"></div>
        </div>
    </div>

    <div class="main-web">
        <div class="main-left">
            <!-- <img src="/Assets/SA/images/layout/pattern.png" alt="" /> -->
            <div class="logo">
                <a href="#" class="link"><img src="/Assets/SA/images/layout/logo.png" alt="" /></a>
                <span class="show__menu"><i class="fas fa-bars"></i></span>
            </div>
            <div class="menu">
                <span class="close__menu"><i class="fas fa-times"></i></span>
                <div class="menu-list">
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/SALE/DASHBOARD") ? "active" : "")" href="/Sale/Dashboard/Index">
                            <div class="img">
                                <img src="/Assets/SA/images/layout/dashboard.svg" alt="" class="icon__cover" />
                                <img src="/Assets/SA/images/layout/dashboard-active.svg" alt="" class="icon__hover" />
                            </div>
                            Dashboard
                        </a>
                    </li>
                    <li class="menu-list__item hidden">
                        <a class="menu-list__link @(currentUrl.Contains("/SALE/INVESTORSFROMTELESALE") ? "active" : "")">
                            <div class="img">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL khach hang.svg" alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL khach hang-1.svg" alt="" class="icon__hover" />
                            </div>
                            Quản lí khách hàng
                            <ul class="dropdown-list" style="display: @(currentUrl.Contains("/SALE/INVESTORSFROMTELESALE") ? "block" : "none")">
                                <li class="dropdown-list__item" style="display: none;">
                                    <div class="dot"></div>
                                    <a href="" class="dropdown-list__link">Khách hàng nhận từ Tele sale</a>
                                </li>
                                <li class="dropdown-list__item">
                                    <div class="dot @(currentUrl.Contains("/SALE/INVESTORSFROMTELESALE") ? "active" : "")"></div>
                                    <a href="/Sale/InvestorsFromTeleSale/Index" class="dropdown-list__link">Khách hàng nhận từ Tele sale</a>
                                </li>
                                <li class="dropdown-list__item">
                                    <div class="dot"></div>
                                    <a href="#" class="dropdown-list__link">Khách hàng tự tìm kiếm</a>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="menu-list__item hidden">
                        <a class="menu-list__link" href="#">
                            <div class="img">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL doanh so ca nhan.svg" alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL doanh so ca nhan-1.svg" alt="" class="icon__hover" />
                            </div>
                            Quản lí doanh số cá nhân
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/SALE/INVESTORCONTRACT") ? "active" : "")" href="/Sale/InvestorContract/Index">
                            <div class="img">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL Hợp đồng (1).svg" alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL Hợp đồng.svg" alt="" class="icon__hover" />
                            </div>
                            Hợp đồng nhà đầu tư
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/SALE/EXPECTEDINVESTOR") ? "active" : "")" href="/Sale/ExpectedInvestor/Index">
                            <div class="img">
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL doanh so ca nhan.svg" alt="" class="icon__cover" />
                                <img style="width: 20px; height: 20px;" src="/Assets/SA/images/menu-left/QL doanh so ca nhan-1.svg" alt="" class="icon__hover" />
                            </div>
                            Danh sách KH dự kiến
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/SALE/TEMPORARYPAYSLIP") ? "active" : "")" href="/Sale/TemporaryPaySlip/Index">
                            <div class="img">
                                <img src="/Assets/crm/images/layout/bang_luong_icon.svg"
                                     alt=""
                                     class="icon__cover" />
                                <img src="/Assets/crm/images/layout/bang_luong_icon-active.svg"
                                     alt=""
                                     class="icon__hover" />
                            </div>
                            Bảng lương tạm thời
                        </a>
                    </li>
                    <li class="menu-list__item">
                        <a class="menu-list__link @(currentUrl.Contains("/SALE/SALEREVENUESTATISTICS") ? "active" : "")" href="/Sale/SaleRevenueStatistics/Index" >
                            <div class="img">
                                <img src="/Assets/crm/images/layout/statistic.svg" alt="" class="icon__cover" />
                                <img src="/Assets/crm/images/layout/statistic-active.svg"
                                     alt=""
                                     class="icon__hover" />
                            </div>
                            Báo cáo - thống kê
                        </a>
                    </li>
                </div>
                <div class="right">
                    <img src="/Assets/SA/images/layout/right.png" alt="" />
                    <span>© 2021 - Bản quyền thuộc về Công ty CP Bytesoft Việt Nam</span>
                </div>
            </div>
        </div>
        <div class="main-right">
            <div id="header">
                <div class="header_left">
                    <img src="/Assets/SA/images/layout/bars.svg" alt="" class="bars" />
                    <span>PHẦN MỀM CRM SAILFISH</span>
                </div>
                <div class="header_right">
                    <span style="color: #17ca89; padding-right: 20px;">
                        <span>Số lượng cổ phiếu: </span>
                        <b>@(HttpContextAccessor.HttpContext.Session.GetInt32(CRMSite.Common.SiteConst.SessionKey.OWN_SHARE) ?? 0)</b>
                    </span>
                    <a href="/Home/Logout">
                        <img title="Đăng xuất" src="/Assets/crm/images/log out.svg" alt="" />
                    </a>
                    @*<img src="/Assets/SA/images/layout/search.svg" alt="" />
                    <img src="/Assets/SA/images/layout/notifications.svg" alt="" />*@
                    <img src="/Assets/SA/images/layout/avt.png" alt="" />
                    <img src="/Assets/SA/images/layout/dots.svg" alt="" />
                </div>
            </div>
            <div id="main">
                <div class="main-content">
                    @RenderBody()
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="/Assets/SA/js/tool.min.js"></script>
    <script src="/Assets/SA/js/main.min.js"></script>
    <script src="~/js/pagination.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>

        $(document).ready(function () {
            $('.select_status').select2();
            $('.select_modal2').select2();
            $('.select_product').select2();
            $('.select_man').select2();
        });
    </script>
    @RenderSection("Scripts", false)
</body>

</html>
